.container{background-color:#f2f2f2;overflow:hidden}
.container .inn-container{width:1000px;margin:30px auto 40px;overflow:hidden}
.left-nav{float:left;width:254px;border:1px solid #ebebec;border-top:2px solid #7cbf59;text-indent:52px;color:#333;background-color:#fff}
.left-nav .nav-list-title{font-size:18px;line-height:60px}
.left-nav .nav-list{position:relative;font-size:16px;line-height:50px;cursor:pointer}
.left-nav .nav-list a{display:block;text-decoration:none;color:#333;}
.left-nav .nav-list.active a{color:#7cbf59;font-weight:700}
.left-nav .nav-list.active:after,.left-nav .nav-list.active:before{position:absolute;display:block;width:0;height:0;right:20px;top:19px;content:'';border:7px solid transparent;border-left-color:#cdcdcd}
.left-nav .nav-list.active:after{border-left-color:#fff;right:21px}
.left-nav .nav-list:hover{background-color:#f2f5f8}
.left-nav .nav-list.active:hover:after{border-left-color:#f2f5f8}
.right-content-about{float:left;width:728px;margin-left:15px;overflow:hidden}
.right-content-about .about-info .info{border:1px solid #ebebec;margin-bottom:15px;overflow:hidden;background-color:#fff}
.about-info .info .title{border-left:4px solid #7cbf59;line-height:48px;font-size:18px;text-indent:30px}
.p-con .about-logo{float:left;margin-left:20px;margin-right:20px}
.p-con{margin:0 18px;line-height:1.5;color:#666;}
.p-con p{text-align:justify;margin:20px 0}
.video-name{line-height:60px;font-size:18px;text-align:center}
.zyb-video{margin:0 20px 58px;width:690px;height:440px}
.contact-con{float:left;width:316px;margin-left:45px;margin-top:42px}
.contact-con i{float:left;width:52px;height:52px;background:url(../../images/background/contact.png) 0 0 no-repeat}
.contact-con .contact{float:left;margin-left:14px;margin-bottom:50px;font-size:16px;line-height:1.5}
.contact .fragile{font-size:14px;color:#999}
.contact-con .email{background:url(../../images/background/contact.png) 0 -81px no-repeat}
.zyb-map{width:696px;height:418px;margin:14px 14px 28px;background:url(../../images/background/jiuyelianmeng8-map.png) no-repeat}
.map-table{margin-bottom:34px;text-indent:10px}
.map-table thead tr{background-color:#eee}
.map-table thead th{font-weight:400;line-height:32px}
.map-table tbody tr{line-height:36px;border-bottom:1px solid #eee}
.news{padding:0 14px;margin-bottom:-1px}
.news .news-list{padding:14px 0;border-bottom:1px dashed #e4e4e4;line-height:2;text-indent:18px}
.news .news-list .list-title{display:block;text-decoration:none;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;color:#3E78BD}
.news .news-list .list-tips{color:#666}
.life .life-title{font-size:20px;text-align:center;line-height:2.5;color:#666}
.life-title .index{padding-left:10px;color:#7cbf59}
.total{color:#999}
.right-content-about .about-info .life-info{padding-bottom: 30px;}
.life .life-img{position:relative;width:594px;height:392px;margin:0 auto;background-color:#eee}
.life .life-img .intro{position:relative;width:100%;bottom:46px;left:0;line-height:42px;height:42px;color:#fff;font-size:16px;text-indent:16px;filter:alpha(opacity=70);background-color:#000;background-color:rgba(0,0,0,.7);z-index:11;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.life-img .flex-prev{position:absolute;width:54px;height:54px;top:162px;left:10px;background:url(../../images/icon/life-pre-next.png) 0 0 no-repeat;cursor:pointer;z-index:11;line-height:1000em}
.life-img .flex-prev:hover{background-position:0 -74px}
.life-img .flex-next{position:absolute;width:54px;height:54px;top:162px;right:10px;background:url(../../images/icon/life-pre-next.png) -74px -75px no-repeat;cursor:pointer;z-index:11;line-height:1000em}
.life-img .flex-next:hover{background-position:-74px -1px}
#user-protocal{margin-top:30px;background-color:#fff;padding:20px 40px 20px 20px;width: 940px;border:1px solid #ebebec}
#user-protocal .title{font-size:20px;color:#333;text-align:center;font-weight:bold;line-height:2.5}
#user-protocal .protocal-details{margin-left:30px;font-size:14px;text-align:justify}
#user-protocal .protocal-details h3{font-size:16px;margin:10px 5px;font-weight:normal;}
#user-protocal .protocal-details p{margin:10px 5px}
#user-protocal .protocal-details .pInner{margin:10px 0 0 5px}
#user-protocal .protocal-details .p-inner{margin:0 5px}