.clearfix{ 
	_zoom:1;
}
.clearfix:after{ 
	content: "";
	display: block;
	clear: both;       
}
li { list-style:none; }
div, h1, h2, h3, h4, h5, h6, p, pre, blockquote, dl, dt, dd, ul, ol, li, form, fieldset, legend, input, textarea, button, th, td {
    margin: 0;
    padding: 0;
}
.ui-layer-title{
    color:#fff;
    font-size:18px;
    font-weight:normal;
}
.ui-layer-footer{
    padding:0 0 10px 0;
}
.ui-layer-close {
    font-size:0;
    width:20px;
    height:20px;
    opacity: 1;
    filter: alpha(opacity=100);
    background: url('../img/icon/icon-dialog-close.png') no-repeat;
}

.zyb-Pick {
    overflow:hidden;
}
.dialog-data-container{ }
.dialog-data-container .dialog-subTitle{
    color:#333;
    font-size:14px;
    font-weight:bold;
    margin-bottom:6px;
}
.dialog-data-list{
    margin-right: -40px;
    margin-bottom:8px;
}
.dialog-data-container li,.dialog-subData-wrap li,.dialog-selected-container li{
    float:left;
    color: #666;
}
.dialog-data-list li{ 
	width: 90px;
    height: 35px;
    line-height: 35px;
    text-align:left;
    font-size:12px;
}
.zyb_Layer_content li span{
    font-family:"宋体";
    cursor : pointer;
}
.hot_city_list .dialog-data-list span:hover{
    background: #7ac980;
    color:#fff;
}

.dialog-subData-wrap{
	width: 296px;
	background: #fff;
	padding:10px 20px;
	border:1px solid #7ac980;
    font-size:14px;
    font-family:"宋体";
    overflow: hidden;
}
.dialog-subData-wrap .dialog-subData-title li{
    float:none;
    list-style:none;
}
.dialog-subData-wrap .dialog-subData-title span{
    cursor:pointer;
}
.dialog-subData-wrap .dialog-subData-title span.active{
    background-color:#7ac980;
    color:#fff;
    padding:4px 6px;
}
.dialog-subData-list{ 
    margin-right:-40px;
    margin-left:-4px;
}
.dialog-subData-list li{ 
	height: 30px;
    margin-right: 20px;
    line-height: 30px;
}
.dialog-subData-list li span{
    font-size:12px;
    display:inline-block;
    line-height:14px;
} 

.dialog-subData-list li span:hover,.dialog-subData-list li span.active{
    background: #7ac980;
    color:#fff;
}
.dialog-subData-list span , .dialog-subData-wrap p,.dialog-data-list span{ 
	padding:4px 6px;
    cursor: pointer;
    font-size:14px;
    font-family:"宋体";
}

.dialog-selected-list span{ 
	padding: 6px 8px;
    background: #7ac980;
    color: #fff;
    font-size: 14px;
    font-family: "宋体";
    white-space:nowrap; 
}

.dialog-data-list li span.active {
    background:#7ac980;
    color:#fff;
}

.dialog-subData-list p{
    font-size:14px;
    color:#4ba551;
    font-family:"宋体";
    padding-bottom:10px;
}
.dialog-selected-container{ 
    position: relative;
    min-height:30px;
    padding:10px 0 10px 17px;
    background-color: #fafafa;
    margin-bottom:10px;
}
.dialog-selected-container .dialog-subTitle{
    position:absolute;
    top:12px;
    left:15px;
    line-height:24px;
    height:24px;
    color:#333;
    font-size:14px;
    font-weight:bold;
}
.dialog-selected-list{
    margin-top:30px;
    *margin-top:40px;
}
.dialog-selected-list li{
    margin: 5px 17px 6px 0;
}
.dialog-selected-list li span i {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-style: normal;
    vertical-align: top;
}
.dialog-selected-list li span i:hover {
    color: #fff;
}
.dialog-confirm-btn, .dialog-reset-btn,.dialog-unlimited-btn{ 
    position: absolute;
    width:60px;
    height:27px;
    color: #fff;
    font-size: 12px;
    font-family:"微软雅黑";
    cursor: pointer;
    top : 10px;
    border-radius:3px;
    text-align:center;
    border:0 none;
    outline:none;
}
.dialog-confirm-btn{
    right: 15px;
    background-color: #7ac980;
}
.dialog-reset-btn{
    right: 82px;
    background-color: #eef6f8;
    color:#666;
    border:1px solid #dfe6e9;
}
.dialog-unlimited-btn{
    right: 150px;
    background-color: #eef6f8;
    color:#666;
    border:1px solid #dfe6e9;
}
.zyb-Pick .show-mode-table{
    overflow: auto;
    height: 300px;
    margin-bottom:10px;
    border:1px solid #eaeaea;
}
.slimScrollDiv{
    /*border:1px solid #eaeaea;*/
    border-right:0 none;
}
.zyb-Pick .area{
    border:0 none;
    height:320px;
}
.zyb-Pick .item-row td{
    border-bottom:1px solid #eaeaea;
}
.zyb-Pick .area .item-row td{
    border:0 none;
}
.zyb-Pick .item-title{
    width:166px;
    border:1px solid #eaeaea;
    border-top:0 none;
    border-left:0 none;
    vertical-align:middle;
}
.zyb-Pick  .area .item-title{
    width:100px;
}
.zyb-Pick  .item-row h3{
    width:165px;
    font-size:14px;
    font-weight:normal;
    text-align:center;
}
.zyb-Pick  .area .item-row h3{
    width:80px;
    text-align:left;
    padding-left:20px;
}
.zyb-Pick  table .dialog-data-container{
    margin: 10px 0 10px 15px;
    overflow:hidden;
}
.zyb-Pick  .area .dialog-data-container{
    margin:5px 0 10px 15px;
}
.zyb-Pick  table .dialog-data-list{
    font-size:12px;
    margin:0;
}
.zyb-Pick  table .dialog-data-list li{
    width:110px;
    line-height:25px;
    height:25px;
    text-align:left;
    margin-right: 10px;
}
.zyb-Pick  table .dialog-data-list li span{
    font-size:12px;
}
.zyb_Industry .dialog-data-list li{
    width:216px;
    line-height:25px;
    height:25px;
    text-align:left;
}
.zyb_District{
    width: auto;
    height: auto;
    display: block;
}
.zyb_District .dialog-data-list li{
    width:70px;
    line-height:28px;
    height:28px;
    text-align:left;
}
.zyb_District .item-title{
    vertical-align:middle;
}
.zyb_District .item-row h3{
    width:65px;
    margin-left:20px;
}

