.channel-header{background:url(img/bg/user-channel-head-bg.jpg) center center no-repeat;margin:0 auto;padding:0 20px;width:960px}
.user-center{overflow:hidden;min-height:300px}
.user-center .main{float:left;width:688px;border:1px solid #ddd}
.user-center .side{float:right;width:300px;background-color:#f1f4f9}
.user-center .main .container-header{width:150px;height:40px;background-color:#85add6;font:16px/40px microsoft yahei;color:#fff;text-align:center;margin-left:20px}
.user-center .main .content{padding:17px 20px}
.ie8 .profile-card .detail-row{border-top:1px solid #ccc}
.user-center .side .container-head{color:#333;font-size:14px;line-height:1.2;padding:20px 30px 0;font-weight:700}
.user-center .side .content{padding:15px 30px 20px;overflow:hidden}
.go-dream-row{text-align:right}
.user-actions-ul li{padding:15px 0;border-bottom:1px solid #ddd}
.user-actions-ul a{color:#2466b2;font-weight:700}
.user-actions-ul .hl{color:#2466b2;font-weight:700}
.resume-progress-bar{width:200px;height:16px;background:url(img/ele/resume-progress-tube.png)}
.resume-progress-bar .bar-in{float:left;height:16px;background:url(img/ele/progress-green.png) left 0}
.resume-progress-bar .bar-in em{color:#fff;line-height:16px;float:right;margin-right:5px}
.resume-row{margin:12px 0 0;overflow:hidden}
.resume-row div,.resume-row h4{float:left}
.resume-row h4{color:#333}
.resume-row .resume-progress-bar{margin:3px 8px 0 0}
.resume-row .count{width:35px;padding-left:5px;height:20px;background:url(img/sprite/common-icon-01.png) no-repeat -160px -168px;line-height:20px;text-align:center}
.actions-row{margin:22px 0 0}
.actions-row .go-college{display:inline-block;width:115px;height:33px;background:url(img/btn/go-college-btn.png) no-repeat}
; .user-center{overflow:hidden}
.dream-content .prompt{text-align:left;color:#333;font-size:14px;background-color:#fffde6;border:1px solid #feba5f;padding:5px 10px;margin:0 0 20px}
.dream-content .dream-head{color:#333;font-size:14px;font-weight:700}
.dream-text{height:16px;border:1px solid #ccc;background:url(img/icon/select-g.png) 126px -29px no-repeat #FFF;width:123px;padding:5px 20px 5px 5px;color:#333;cursor:pointer}
.dream-select{height:28px;border:1px solid #ccc;width:150px;padding:4px;color:#333}
.dream-check{margin-right:10px;vertical-align:middle}
.dreams-form .fieldset tbody td,.dreams-form .fieldset tbody th{padding:5px 0}
.dreams-form .fieldset tbody th{color:#333;font-size:14px}
.dreams-form .fieldset tbody td label{color:#333}
.dreams-form .fieldset .job-type th{font-weight:700;font-size:14px;text-align:left}
.dreams-form .fieldset .job-type select{width:104px}
.dreams-form .fieldset .job-type td,.dreams-form .fieldset .job-type th{color:#333;padding:13px 0;border-bottom:1px solid #f1f1f1}
.dreams-form tbody tr.title th{text-align:left;padding-top:15px;color:#999;color:#2466b2;font-size:14px;font-weight:700}
.dreams-form .more{text-align:center;margin-top:20px}
.dreams-form .more a{text-decoration:underline;background:url(img/btn/more-dreams.png) no-repeat;height:32px;width:99px;display:inline-block}
.dream-edit .fieldset tbody th{font-size:14px}
.dream-show .fieldset tbody th{font-size:14px;color:#999;vertical-align:top}
.dream-show .fieldset tbody td{vertical-align:top;font-size:14px}
.dream-foot{padding:17px 0 23px;text-align:left}
.submit-dream{text-align:center;margin:30px 0 0}
.submit-dream .cancel-button{color:#999;margin-left:30px}
.edit-dream-top{margin-bottom:15px}
.edit-dream-top h1{font-size:16px;font-weight:700;background:#85add6;width:150px;height:40px;line-height:40px;color:#fff;text-align:center}
.ico-zylx-light{width:16px;height:16px;background-image:url(img/icon/ico-zylx-light.png)}
.match-jobs-ul{overflow:hidden}
.match-jobs-ul li{float:left;margin:17px 0 0;width:285px}
.match-jobs-ul .logo{float:left}
.match-jobs-ul .logo img{width:50px;height:50px;border:1px solid #ddd}
.match-jobs-ul .info{margin-left:65px}
.match-jobs-ul .info h3{margin-bottom:3px}
.match-jobs-ul .info h3 a{color:#2466b2;font-weight:700;font-size:14px}
.match-jobs-ul .info h3 span{font-size:12px;color:#999;margin:0 0 0 5px}
.match-jobs-ul .info h4{margin-bottom:4px}
.match-jobs-ul .info h4 a{color:#333}
.match-jobs-ul .info .detail{line-height:20px;color:#666}
.match-jobs-ul .info .detail em{color:#ccc;margin:0 11px}
.match-job .hd{overflow:hidden;margin-bottom:12px}
.match-job .hd h2{float:left;font-size:18px}
.match-job .hd a.more{float:right;font-size:14px}
.match-job{margin:0 30px;padding:30px 0;border-top:1px solid #ddd}
.user-job-content{padding:25px}
.job-table{table-layout:fixed;width:100%;border-collapse:collapse}
.job-table .col-name th{height:32px;font-size:14px;color:#666;font-weight:700;background:#f1f1f1}
.job-table tfoot td{height:32px;border-top:1px solid #ddd;color:#333;text-align:center}
.job-table .tool-bar td{height:40px;border-bottom:1px solid #ddd}
.job-table tbody td{background:#fff;padding:15px 0;border-bottom:1px solid #f2f2f2;color:#666}
.job-table tbody .even td{background:#f5f5f5}
.job-table tbody td.company,.job-table tbody td.indu,.job-table tbody th.company{padding-right:10px}
.i-follow .company{padding-left:10px;font-size:12px}
.i-follow tbody .company{color:#00568d;font-weight:700}
.job-table .title td{height:32px;border-bottom:1px solid #ddd}
.tool-bar .all-select{margin-left:11px}
.s-follow-i .tool-bar .all-select{margin-left:17px}
.job-manage-detail .tool-bar .all-select{margin-left:16px}
.job-manage-detail .col-name select{font:12px 'Microsoft Yahei'}
.detail-hd,.position-hd{font:14px 'Microsoft Yahei';color:#333;margin-bottom:12px}
.position-hd .position-name{display:block;font:22px 'Microsoft Yahei';color:#66b205;margin-bottom:8px}
.detail-hd .stu-name{display:block;font:22px 'Microsoft Yahei';color:#166EB1;margin-bottom:8px}
.job-table td.actions a{display:block}
.job-table td.actions .focused a{display:inline}
.job-table td.selector{text-align:center}
.job-table td .passed{color:#390}
.job-table td .refused{color:#f33}
.job-table .company-link,.job-table .position-link,.pos-detail .company-link,.pos-detail .position-link{display:block;width:190px}
.job-table .position-link{font-size:12px}
.job-table .time{color:#999;font-family:Verdana}
.job-table .addr{color:#999}
.job-table .status{color:#999}
.company-link a{color:#508bb8}
.job-table .nodata{padding:25px 0}
.job-table .nodata p{margin-bottom:10px}
.job-table .nodata p i{width:66px;height:66px;background:url(img/sprite/ucenter-sprite.png) -92px 0}
.user-job-content .foot-row{margin-top:30px;overflow:hidden}
.blue-apply-btn{background:url(img/btn/blue-apply-btn.png);width:55px;height:25px;display:inline-block}
.feedback-table td,.feedback-table th{text-align:center}
.advisor-module{padding:46px 25px 25px}
.advisor-card{overflow:hidden;border-bottom:1px solid #e6e6e6;padding:0 0 30px}
.advisor-card .avatar{float:left;margin:4px 0 0}
.advisor-card .avatar img{width:100px;height:100px;border:1px solid #ddd}
.advisor-card .info{float:left;margin-left:20px;width:515px}
.advisor-card .info h3{font:700 14px/1.35 microsoft yahei;margin:10px 32px 10px 0}
.advisor-card .info p{margin:5px 0 0;line-height:20px;font-size:14px}
.advisor-tips{width:340px;padding:5px 10px;background-color:#f1f4f9;color:#666;margin:10px 0 0}
.advisor-tips span{color:#ff7c12}
.advisor-card{margin-bottom:25px}
.advice-ul .advice-ul-item{border-bottom:1px dashed #e6e6e6;overflow:hidden;padding:17px 0}
.advice-ul .avatar{float:left}
.advice-ul .avatar img{width:60px;height:60px}
.advice-ul .info{margin:0 0 15px 75px}
.advice-ul .info h4{font-size:14px;font-weight:700;margin:0 0 5px}
.advice-ul .info p{line-height:22px;margin:0 0 8px;color:#333}
.advice-ul .time{color:#999;float:left}
.advice-ul .info p a{color:#2466b2}
.user-center .resume-card{box-shadow:none;margin:0 0 20px}
.resume-card{height:185px;background:url(img/bg/resume-card-bg.png) no-repeat;position:relative}
.resume-card h2{padding:20px 0 0 25px}
.resume-card h2 .completed{color:#468321;font:18px/1.2 microsoft yahei;text-shadow:1px 1px 10px rgba(255,255,255,1)}
.resume-card h2 .warning{font-size:12px;color:#f60;margin:0 0 10px}
.resume-card .resume-summary-ul{margin-top:20px}
.resume-summary-ul li{float:left;text-align:center;line-height:20px;margin:0 0 0 35px;width:48px}
.resume-summary-ul .label{display:block}
.resume-summary-ul .weight{color:#f60;font-weight:700;font-family:simsun;display:block}
.resume-summary-ul .ico{display:block;margin:0 auto 5px;width:40px;height:47px;background-image:url(img/sprite/resume-ico-02.png);background-repeat:no-repeat;background-position-x:0}
.resume-summary-ul li a:hover{text-decoration:none}
.resume-summary-ul li a:hover .label{color:#333}
.resume-summary-ul li.hover .ico{background-position-x:-75px}
.resume-summary-ul li.completed .ico{background-position:-151px 0}
.resume-summary-ul .basic .ico{background-position-y:0}
.resume-summary-ul .eval .ico{background-position-y:-55px}
.resume-summary-ul .edu .ico{background-position-y:-112px}
.resume-summary-ul .intership .ico{background-position-y:-171px}
.resume-summary-ul .proj .ico{background-position-y:-230px}
.resume-summary-ul .it .ico{background-position-y:-294px}
.resume-summary-ul .lang .ico{background-position-y:-358px}
.resume-summary-ul .cert .ico{background-position-y:-421px}
.close-resume-card{width:8px;height:8px;padding:2px;position:absolute;right:15px;top:15px;background:url(img/sprite/common-icon-01.png) -238px -22px no-repeat}
.go-mydream{position:absolute;right:17px;top:10px}
.may-be-match-item{border-bottom:1px solid #e6e6e6;padding:15px 0}
.may-be-match-item dt{font-size:14px;color:#666;margin-bottom:15px}
.may-be-match-item dd{overflow:hidden}
.may-be-match-item .logo{float:left}
.may-be-match-item .logo img{width:80px;height:80px}
.may-be-match-item .info{margin-left:90px}
.may-be-match-item .no-pic .info{margin-left:0}
.may-be-match-item .info h3{margin-bottom:8px}
.may-be-match-item .info h3 a{font-size:14px;font-weight:700}
.may-be-match-item .info h4{margin-bottom:7px;font-size:14px}
.may-be-match-item .info .meta{overflow:hidden}
.may-be-match-item .info .meta .split{color:#ccc;margin:0 16px}
.may-be-match-item .info .meta .time{float:right;color:#999}
.may-be-match-item .info .summary{line-height:24px;margin:0 0 7px;overflow:hidden}
.may-be-match-item .article-pic{text-align:right;margin:0 0 0 10px;border-radius:3px}
.profile-card .top-row{overflow:hidden}
.profile-card .avatar{float:left}
.profile-card .avatar img{width:80px;height:80px}
.profile-card .info{margin-left:100px}
.profile-card .info h4{font:16px/1.2 microsoft yahei;margin:0 0 15px}
.profile-card .info p{line-height:22px}
.action-stats{margin:30px 0 0;overflow:hidden;padding-bottom:30px;border-bottom:1px solid #ddd}
.action-stats .item{float:left;width:71px;height:71px;background-color:#e7ebf2;border:1px solid #dee2e8;text-align:center;margin:0 7px 0 0}
.action-stats .item:hover{background-color:#dae7fc;border:1px solid #fff;text-decoration:none}
.action-stats span{display:block}
.action-stats .count{color:#2466b2;font-size:18px;margin:10px 0 0}
.action-stats .name{color:#555;font-size:14px}
.invite-module .regulation{background-color:#e3f3f9;padding:10px 20px;margin:0 0 30px;line-height:24px}
.invite-module .regulation .top{margin:0 0 10px}
.invite-module .regulation .top a{font-family:simsun}
.invite-link{margin-bottom:50px;overflow:hidden}
.invite-link label{font-size:14px;font-weight:700;float:left;line-height:30px}
.invite-link input{vertical-align:middle;margin:0 12px 0 0;color:#999;float:left}
.invite-link button{vertical-align:middle}
#clip-container{position:relative;float:left}
.invite-list{margin:0 0 30px}
.invite-list h2{font-weight:700;font-size:14px;margin:0 0 12px}
.invite-stu-list td,.invite-stu-list th{text-align:center}
.user-prompt{margin:15px 0 5px}
.user-prompt-in{padding:3px 18px;font-size:14px;display:inline-block;background-color:#fffde6;color:#333;border:1px solid #fec06d}
.advice-ul .bottom-row{overflow:hidden}
.advice-ul .is-useful{float:right}
.advice-ul .is-useful a{color:#2466b2;margin:0 0 0 15px}
.advice-ul .is-useful span{color:#999}
.resume-remind{background:url(img/bg/resume-remind-bg.png) no-repeat;width:495px;height:359px;padding:1px 0 0}
.remind-content{margin:48px 0 0 183px}
.remind-content h2{color:#fff;font-size:24px;margin:0 0 10px}
.remind-content p{color:#fff;font-size:16px;margin:0 0 15px;line-height:2}
.remind-content p em{color:#f6ff01;font-size:24px}
.remind-content .go-resume{display:block;width:151px;height:46px;background:url(img/btn/remind-go-resume.png) no-repeat;margin:0 0 15px}
.remind-content .ignore{color:#666;font-size:12px}
.ui-dialog-rr-close{position:absolute;display:inline-block;width:35px;height:35px;background:url(img/btn/resume-rem-close.png) no-repeat;right:0;top:20px}
#edit-button{margin-right:8px;display:inline-block;width:140px;height:40px;line-height:38px;color:#fff;font-size:14px;font-family:microsoft yahei;text-align:center;border-radius:3px;background:#97c9dc}
#edit-button:hover{background:#4a8ab2;text-decoration:none}
.dream-editor-container{border:1px solid #e3e3e3;padding:0 30px 30px;width:750px}
.ask-form-item .count-remain{float:left;color:#666;line-height:28px}
.btn-advisor{border:0 none;color:#fff;height:27px;line-height:27px;padding:0 15px;background-color:#97c9dc;border-radius:3px}
.btn-ask,.btn-reply{float:right}
.btn-advisor:hover{background-color:#4a8ab2}
.ask-form{width:505px}
.top-ask-form{margin:12px 0 0}
.ask-form-item{margin:0 0 8px;overflow:hidden}
.ask-text{height:18px;line-height:18px;padding:5px 8px;border:1px solid #cecece;border-radius:3px;width:487px;border-radius:3px}
.ico-action-ask,.ico-action-like{width:16px;height:16px;background-image:url(img/icon/ico-advisor-ask.png);background-repeat:no-repeat;margin-right:4px}
.ico-action-like{background-position:0 0}
.ico-action-ask{background-position:-64px -2px}
.advice-ul .actions{overflow:hidden}
.advice-ul .action-ask,.advice-ul .action-like,.advice-ul .time{margin-right:14px}
.advice-ul .action-ask,.advice-ul .action-like{color:#06c}
.advice-ul .reply-list{margin:0 0 0 75px}
.reply-list .avatar-mini{float:left}
.reply-list .avatar-mini img{width:30px;height:30px}
.reply-list .reply-info{margin:0 0 0 38px}
.reply-list .reply-info p{margin:0 0 4px}
.reply-list .reply-name{color:#666;font-weight:700}
.reply-list-item{margin:0 0 15px}
.reply-bar{background-color:#f1f4f9;padding:15px 20px;margin:0 0 10px 75px;width:505px;border-radius:4px}
.reply-btn-bar{margin:0 0 10px 75px}
.apply-list-top{margin:0 0 5px}
.apply-li-item{background-color:#f6f7f9;padding:20px;overflow:hidden;margin:0 0 10px}
.job-info{float:left}
.job-info .avatar{float:left;width:50px;height:50px;border:1px solid #ddd}
.job-info .avatar img{width:100%;height:100%}
.apply-li-item .info{margin:0 0 0 65px}
.apply-li-item h3{margin:0 0 5px}
.apply-li-item p{margin:0 0 3px}
.apply-status{color:#999;float:right;text-align:center;width:185px}
.apply-status .status{font-weight:700;margin:5px 0 0;color:#22201d}
.iv-info{clear:both;background-color:#ededed;padding:15px 30px;margin:10px -20px -20px;overflow:hidden}
.iv-info-left{float:left;width:340px;border-right:1px solid #ddd}
.iv-info-right{float:right;width:200px;color:#4fa61f}
.abort-info{color:#b76b19}
.apply-list-refresh{float:right;margin-left:15px}
.apply-list-filter{float:right;position:relative}
.apply-status-ul{background-color:#FFF;border:1px solid #ddd;padding:5px 0;position:absolute;width:90px;display:none;right:-10px;top:20px;z-index:99}
.apply-status-ul li{line-height:25px;padding:0 16px;cursor:pointer}
.apply-list-cur{color:#333}
.apply-list-cur:hover{color:#333;text-decoration:none}
.apply-list-cur i{background:url(img/icon/select.png) no-repeat -5px -41px;width:9px;height:6px}
.ideal-label{font-size:12px;font-family:"宋体";color:#4a8ab2;background-color:#f3f8fc;padding:3px 10px;border:1px solid #ccdff0;display:block;float:left;margin:0 20px 12px 0}
.ideal-edit{float:left;line-height:26px}
.ideal-edit a{text-decoration:underline;color:#2466b2}
.edit-i{width:13px;height:13px;background:url(../../css/zyb/img/icon/ico-ideal-edit.png) no-repeat;vertical-align:middle;margin-bottom:2px}
.ideal-box{text-align:center}
.ideal-box-wrap{padding:10px 0}
.ideal-box p{line-height:60px;color:#999;display:inline;padding:20px 150px;background-color:#fcf8e3;border:1px solid #faebcc}
.ideal-box p span{padding-left:10px}
.ideal-box p a{color:#2466b2;text-decoration:underline}
.sec-sec-nav{margin-bottom:0}
.container .content .user-prompt .add-ideal{width:650px;height:254px;background:url(img/bg/profession-ideal-bg.png) no-repeat;position:relative;margin-bottom:28px}
.container .content .user-prompt .add-ideal-btn{width:174px;height:47px;display:block;background:url(img/btn/add-ideal-btn-bg.png) no-repeat;position:absolute;right:220px;bottom:60px}
.ui-layer-container{min-width:500px}
.pop .option input{height:32px;line-height:32px;border:1px solid #d2d2d2;text-indent:10px;border-radius:4px}
.pop .option input:hover{border-color:#7ac980}
