#com-header{margin:0 auto;width:1000px;line-height:54px;height:54px}
.hdLeft .lfLogo{float:left}
.lfLogo .lgLeft{float:left;width:166px;height:54px;background:url(../../images/icon/zheyibu-etp.png) no-repeat 0 9px}
.lfLogo .lgLeft a{float:left;height:54px;width:144px}
.lfLogo .lgRight{float:left;width:60px;margin-top:22px;line-height:14px;color:#3498db;margin-right:26px;border-left:1px solid #3498db;text-align:center}
.com-hrshare,.com-index,.com-pay{float:left;height:52px;color:#666;border-bottom:2px solid transparent;margin:0 14px;text-decoration:none}
.com-hrshare.active,.com-index.active,.com-pay.active{color:#3498db;border-bottom-color:#3498db}
.com-index{margin-left:28px}
.lfPhone{float:right}
.lfPhone .phLeft{float:left;height:30px;width:30px;margin-top:12px;background:url(../../images/icon/homepage-icon.png) 1px -56px no-repeat}
.lfPhone .phRight{float:left;margin-left:10px;margin-top:12px}
.lfPhone .phRight p{margin:2px 0;text-align:left;line-height:14px;color:#f44336}
.hdRight a{color:#2d2d2d}
#rg-login,#rg-register,.hdRight .rgLink{float:right;text-align:center;transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out}
.hdRight .rgLink{line-height:30px;color:#333;margin-left:20px;margin-top:12px;border:1px solid #eee}
.hdRight .rgLink:hover{color:#7986cb}
.hdRight .rgLink{width:80px;font-size:12px}
#rg-login,#rg-register{width:70px;line-height:30px;margin-top:30px;margin-left:12px;background:#7faff7;border-radius:3px;color:#fff;border:1px solid #7faff7}
#rg-register{color:#2d2d2d;background:#fff;border:1px solid #8e8e8e}
#login-banner{position:relative;background-color:#fcfcfc;line-height:54px;text-align:center;border-top:1px solid #eee;font-size:0;z-index:1}
#login-banner a,#login-banner button,#login-banner input,#login-banner label,#login-banner span{display:inline-block;vertical-align:middle;width:100px;height:30px;color:#333;font-size:14px;line-height:30px}
#login-banner input{width:170px;background-color:#fff;margin-right:20px;border:1px solid #ddd;text-indent:8px}
#login-banner button{padding:0;margin:0;outline:0;border:none;border-radius:3px;color:#fff;margin-right:20px;background-color:#7986cb}
#login-banner a{text-decoration:none;background-color:#f90;color:#fff;border-radius:3px}
#login-banner .keep-login{padding-left:30px;cursor:pointer;background:url(../../images/icon/keep-icon.png) 18px 8px no-repeat}
#login-banner .keep-login.active{background:url(../../images/icon/keep-icon.png) 18px -25px no-repeat}
#login-banner .forget-psd{color:#7986cb;cursor:pointer;background:0 0}
.pass-user{display:none;position:absolute;top:42px;border:1px solid #ddd;color:#ff7562;line-height:30px;width:136px;text-align:center;background-color:#fff;font-size:14px}
#logo-banner{position:relative;width:100%;height:360px;cursor:pointer}
.part1-bg0{position:absolute;top:0;left:0;width:100%;height:360px;background:url(../../images/background/part1-bg1.jpg) no-repeat center center}
.login{background:url(../../images/background/part1-bg5.jpg) no-repeat center center}
.part1-bg1{display:none;position:absolute;top:0;left:0;width:100%;height:360px;background:url(../../images/background/part1-bg2.jpg) no-repeat center center}
.part1-bg2{display:none;position:absolute;top:0;left:0;width:100%;height:360px;background:url(../../images/background/part1-bg3.jpg) no-repeat center center}
.part1-bg3{display:none;position:absolute;top:0;left:0;width:100%;height:360px;background:url(../../images/background/part1-bg4.jpg) no-repeat center center}
#logo-banner .part1-content{position:relative;top:314px;width:1000px;margin:0 auto;height:20px;z-index:2}
.part1-content .dot-list{float:right}
.part1-content .dot-list a{text-decoration:none;float:left;width:24px;height:24px;background:url(../../images/icon/homepage-icon.png) -16px -597px no-repeat}
.part1-content .dot-list a.active{background:url(../../images/icon/homepage-icon.png) -16px -562px no-repeat}
.outerDiv{background-color:#fff}
.container{margin:0 auto;background-color:#fff}
.part2{overflow:hidden;margin-bottom:62px}
.part2 li{position:relative;float:left;width:300px;height:100px;margin-top:30px}
.part2 .liHeader{margin:30px 0 8px 30px;line-height:18px;font-size:18px;font-weight:700}
.part2 .liContent{margin:0 30px}
.part2 .part2-li1{background:#fcdd8d;margin-left:16px;margin-right:26px}
.part2 .part2-li2{background:#80d3d2;margin-left:16px;margin-right:26px}
.part2 .part2-li3{background:#92b3dd;margin-left:16px}
.part2 .left-icon{position:absolute;top:-20px;left:-20px;width:40px;height:40px}
.part2-li1 .left-icon{background:url(../../images/icon/homepage-icon.png) -13px -119px no-repeat}
.part2-li2 .left-icon{background:url(../../images/icon/homepage-icon.png) -15px -180px no-repeat}
.part2-li3 .left-icon{background:url(../../images/icon/homepage-icon.png) -15px -240px no-repeat}
.part3{padding-bottom:30px;background-color:#f5f5f5;overflow:hidden}
.part3 .part3-header,.part4 .part4-header,.part5 .part5-header,.part6 .part6-header,.part8 .part8-header{margin:20px 0;font-size:0;text-align:center}
.part3 .part3-header p,.part4 .part4-header p,.part5 .part5-header p,.part6 .part6-header p,.part8 .part8-header p{margin:0 15px;display:inline-block;font-size:24px;text-align:center;line-height:2;}
.part6 .part6-header p{width:491px}
.part8 .part8-header span{margin:0 6px;padding:0 2px;border-radius:3px;vertical-align:3px;font-size:12px;background:#f5f5f5}
.left-icon{display:inline-block;vertical-align:-5px;width:30px;height:30px;background:url(../../images/icon/homepage-icon.png) -10px -294px no-repeat}
.right-icon{display:inline-block;vertical-align:-5px;width:30px;height:30px;background:url(../../images/icon/homepage-icon.png) 6px -335px no-repeat}
.part3-header .part3-lineL,.part3-header .part3-lineR{width:352px}
.part4-header .part4-lineL,.part4-header .part4-lineR{width:358px}
.part5-header .part5-lineL,.part5-header .part5-lineR{width:425px}
.part6-header .part6-lineL,.part6-header .part6-lineR{width:238px}
.part8-header .part8-lineL,.part8-header .part8-lineR{width:368px}
.part3-header .part3-lineL,.part3-header .part3-lineR,.part4-header .part4-lineL,.part4-header .part4-lineR,.part5-header .part5-lineL,.part5-header .part5-lineR,.part6-header .part6-lineL,.part6-header .part6-lineR,.part8-header .part8-lineL,.part8-header .part8-lineR{display:inline-block;height:1px;background:#000;vertical-align:7px}
.part3 ul{margin-left:-20px;overflow:hidden}
.part3-list .item-header{position:relative;height:100px}
.item-header img{position:absolute;top:20px;left:20px;width:60px;height:60px;border:1px solid #ddd}
.item-header .item-content{position:absolute;top:24px;right:2px;width:130px}
.item-content .photoName{font-size:18px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.item-content p{color:#888}
.part3-list .item-footer{line-height:55px;background:#f6f6f6}
.item-footer p{width:200px;margin-left:18px;color:#888;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.part3 .part3-list{position:relative;float:left;width:235px;height:155px;margin-left:18px;margin-bottom:20px;border:1px solid #eee;cursor:pointer;background-color:#fff}
.part3 .part3-list a{text-decoration:none}
.part3 .part3-list:hover{box-shadow:0 4px 6px #ddd}
.part3-more{margin-top:20px;margin-bottom:80px;text-align:center;color:#888}
.part3-more a{color:#888;text-decoration:none}
.more-icon{margin:0 auto 8px;width:60px;height:60px;cursor:pointer}
.more-icon .fakeA{display:inline-block;width:60px;height:60px;background:#f3f3f3;border-radius:50%;font-size:36px;transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out}
.more-icon .moreReal{margin-top:10px}
.more-icon .moreReal a{font-size:14px}
.more-icon:hover .fakeA{background:#7986cb;transform:rotate(90deg);-ms-transform:rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg)}
.more-icon:hover .fakeA{color:#fff}
.more-icon:hover .moreReal a{color:#7986cb}
.part4{position:relative}
.part4-list{position:relative;height:802px}
.part4-list .list-item1,.part4-list .list-item2,.part4-list .list-item3,.part4-list .list-item4{position:absolute;width:464px;height:280px}
.part4-list .list-item1{top:0;right:0}
.part4-list .list-item2{top:69px;left:0}
.part4-list .list-item3{bottom:156px;right:0}
.part4-list .list-item4{bottom:93px;left:0}
.list-item1 .item-content,.list-item2 .item-content,.list-item3 .item-content,.list-item4 .item-content{position:absolute;width:462px;height:278px;border:1px solid #ddd;border-radius:5px;cursor:pointer}
.list-item1 .item-content:hover,.list-item2 .item-content:hover,.list-item3 .item-content:hover,.list-item4 .item-content:hover{box-shadow:0 4px 6px #ddd}
.part4-list .item-dateR{position:absolute;top:0;left:0;padding:1px 8px;border-radius:10px;background:#ddd;font-size:12px}
.part4-list .item-dateL{position:absolute;top:0;right:0;padding:1px 8px;border-radius:10px;background:#ddd;font-size:12px}
.list-item1 .item-content,.list-item2 .item-content,.list-item3 .item-content,.list-item4 .item-content{top:30px;left:0;text-align:center}
.list-item1 .item-content img,.list-item2 .item-content img,.list-item3 .item-content img,.list-item4 .item-content img{width:452px;height:190px;margin-top:4px}
.list-item1 .item-content p,.list-item2 .item-content p,.list-item3 .item-content p,.list-item4 .item-content p{color:#2d2d2d;font-size:18px;line-height:80px}
#front-line{position:absolute;left:495px;top:90px;width:10px;height:732px;background:url(../../images/icon/homepage-icon.png) -121px -10px no-repeat}
.part5 .part5-hr{position:relative;overflow:hidden;margin:48px -26px 42px 0}
.hr-list{float:left;width:512px;height:162px;margin-bottom:20px}
.hr-list img{float:left;width:120px;height:160px;border:1px solid #ddd}
.hr-list .hr-listR{float:left;width:390px;height:160px}
.hr-list .hr-listRH{margin:15px 20px 20px;border-bottom:1px solid #ddd}
.hr-list .hr-listRH .listRH-name{margin-bottom:10px;line-height:18px;font-size:18px}
.hr-list .hr-listRH .listRH-sum{margin-bottom:20px;color:#888;line-height:14px}
.hr-list .hr-listR .hr-listRF{height:66px;margin:20px 40px 0 20px;line-height:16px}
.part6 .part6-header{margin-bottom:30px}
.part6 .part6-container{position:relative;overflow:hidden;height:244px;margin-left:-32px;margin-bottom:60px}
.part6-container .part6-list{float:left;width:140px;height:68px;margin-left:32px;margin-bottom:20px;background:#ddd}
/*.part6-container .part6-list.logo1{background:url(../../images/icon/home-logo-dim.jpg) -3px 0 no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo1{background:url(../../images/icon/home-logo-light.jpg) -3px 0 no-repeat}
/*.part6-container .part6-list.logo2{background:url(../../images/icon/home-logo-dim.jpg) -176px 0 no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo2{background:url(../../images/icon/home-logo-light.jpg) -176px 0 no-repeat}
/*.part6-container .part6-list.logo3{background:url(../../images/icon/home-logo-dim.jpg) -342px 0 no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo3{background:url(../../images/icon/home-logo-light.jpg) -342px 0 no-repeat}
/*.part6-container .part6-list.logo4{background:url(../../images/icon/home-logo-dim.jpg) -516px 0 no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo4{background:url(../../images/icon/home-logo-light.jpg) -516px 0 no-repeat}
/*.part6-container .part6-list.logo5{background:url(../../images/icon/home-logo-dim.jpg) -687px 0 no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo5{background:url(../../images/icon/home-logo-light.jpg) -687px 0 no-repeat}
/*.part6-container .part6-list.logo6{background:url(../../images/icon/home-logo-dim.jpg) -857px 0 no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo6{background:url(../../images/icon/home-logo-light.jpg) -857px 0 no-repeat}
/*.part6-container .part6-list.logo7{background:url(../../images/icon/home-logo-dim.jpg) -3px -86px no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo7{background:url(../../images/icon/home-logo-light.jpg) -3px -86px no-repeat}
/*.part6-container .part6-list.logo8{background:url(../../images/icon/home-logo-dim.jpg) -176px -86px no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo8{background:url(../../images/icon/home-logo-light.jpg) -176px -86px no-repeat}
/*.part6-container .part6-list.logo9{background:url(../../images/icon/home-logo-dim.jpg) -342px -86px no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo9{background:url(../../images/icon/home-logo-light.jpg) -342px -86px no-repeat}
/*.part6-container .part6-list.logo10{background:url(../../images/icon/home-logo-dim.jpg) -516px -86px no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo10{background:url(../../images/icon/home-logo-light.jpg) -516px -86px no-repeat}
/*.part6-container .part6-list.logo11{background:url(../../images/icon/home-logo-dim.jpg) -687px -86px no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo11{background:url(../../images/icon/home-logo-light.jpg) -687px -86px no-repeat}
/*.part6-container .part6-list.logo12{background:url(../../images/icon/home-logo-dim.jpg) -857px -86px no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo12{background:url(../../images/icon/home-logo-light.jpg) -857px -86px no-repeat}
/*.part6-container .part6-list.logo13{background:url(../../images/icon/home-logo-dim.jpg) -3px -176px no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo13{background:url(../../images/icon/home-logo-light.jpg) -3px -176px no-repeat}
/*.part6-container .part6-list.logo14{background:url(../../images/icon/home-logo-dim.jpg) -176px -176px no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo14{background:url(../../images/icon/home-logo-light.jpg) -176px -176px no-repeat}
/*.part6-container .part6-list.logo15{background:url(../../images/icon/home-logo-dim.jpg) -342px -176px no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo15{background:url(../../images/icon/home-logo-light.jpg) -342px -176px no-repeat}
/*.part6-container .part6-list.logo16{background:url(../../images/icon/home-logo-dim.jpg) -516px -176px no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo16{background:url(../../images/icon/home-logo-light.jpg) -516px -176px no-repeat}
/*.part6-container .part6-list.logo17{background:url(../../images/icon/home-logo-dim.jpg) -687px -176px no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo17{background:url(../../images/icon/home-logo-light.jpg) -687px -176px no-repeat}
/*.part6-container .part6-list.logo18{background:url(../../images/icon/home-logo-dim.jpg) -857px -176px no-repeat;-moz-transition:all .5s ease;-webkit-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease}*/
.part6-container .part6-list.logo18{background:url(../../images/icon/home-logo-light.jpg) -857px -176px no-repeat}
.part7{position:relative;margin-bottom:70px}
.part7 .part7-btn{width:260px;height:50px;margin:0 auto;text-align:center;line-height:50px;font-size:18px;color:#fff;border-radius:5px;background:#7986cb;cursor:pointer}
.part7 .part7-btn:hover{background:#808cce}
.part7 .part7-btn:active{background:#737fc1}
.part8-th{overflow:hidden;background:#f4f6f9;width:1000px;margin:0 auto 30px}
.part8-th .th-list{float:left;width:208px;margin:25px 0 25px 30px;padding:17px 0 17px 21px;line-height:14px;background:#fff;border:1px solid #ddd;border-radius:5px;cursor:pointer}
.th-list span{float:left;width:166px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}
.part8-th .th-list i{float:right;width:17px;height:17px;margin-right:20px;background:url(../../images/icon/homepage-icon.png) -9px -390px no-repeat}
.part8-th .btn-search{float:left;width:160px;height:50px;margin:25px 0 25px 30px;border-radius:5px;color:#fff;font-size:18px;background:#7986cb;line-height:50px;text-align:center;cursor:pointer}
.part8-th .btn-search:hover{background:#808cce}
.part8-th .btn-search:active{background:#737fc1}
.part8 p{margin:20px 0 60px 178px}
.part8 .part8-header .search-note{color:#888;font-size:14px;display:block;}
#footer{position:relative;background:#313236}
#footer .footer-container{margin:0 auto;width:1000px}
.footer-container .f-up{padding:48px 0 40px 0;border-bottom:1px solid #282828;text-align:center;line-height:18px;font-size:18px;color:#8f949a}
.footer-container .f-down{padding:20px 0 25px 0;line-height:14px;text-align:center;color:#8f949a}
.footer-container .f-down a{color:#8f949a;text-decoration:none}
.footer-container .f-down p{margin-top:10px}
