@using Campus.Recruitment.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "修改密码";
}

<link href="@AppSetting.Rss_Image/content/static//student/css/usercenter/index.css" rel="stylesheet">

<div class="page-container">
    <div class="page-content clearfix">
        <div class="cont-left">
            <h3 class="account-set">个人设置</h3>
            <ul>
                <li class=" current"><a href="/account/password">修改密码</a></li>
                <li class=""><a href="/account/setting">账号设置</a></li>
            </ul>
        </div>
        <div class="cont-right">
            <div class="area">
                <h3 class="title">修改密码</h3>
                <p class="info">重要提示：每天互联网都会有大量用户的帐号存在着严重被盗的风险。如果你正在使用与其他网站相同的密码，建议你尽快修改。</p>
                <form id="form-pwd" novalidate="novalidate">
                    <ul class="password">
                        <li>登录账号：<span>18217454933</span></li>
                        <li>
                            当前密码：
                            <input type="password" id="OldPassword" name="OldPassword">
                        </li>
                        <li>
                            &emsp;新密码：
                            <input type="password" name="NewPassword" id="NewPassword">
                        </li>
                        <li>
                            确认密码：
                            <input type="password" name="ConfirmPassword" id="ConfirmPassword">
                        </li>
                        <li>
                            <button id="btnSubmit" type="submit">更改密码</button>
                        </li>
                    </ul>
                    <div class="success-tips"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="@AppSetting.Rss_Image/content/static//lib/js/base/jquery.validate.min.js"></script>

<script>
    $(function() {
        $.validator.addMethod("blank",
            function(value, element) {
                return this.optional(element) || !/^\s+|\s+$/.test(value);
            });
        $.validator.addMethod("telphone",
            function(value, element) {
                if (!/^0?(13|14|15|17|18)[0-9]{9}$/.test(value)) {
                    $('#sendCode').removeClass("active").addClass("inactive");
                }
                return this.optional(element) || /^0?(13|14|15|17|18)[0-9]{9}$/.test(value);
            },
            "手机号格式错误");
        if ($('#form-pwd').length) {
            $('#form-pwd')
                .validate({
                    rules: {
                        OldPassword: {
                            required: true,
                            minlength: 6,
                            remote: {
                                url: '/account/check-old-password',
                                type: 'get',
                                data: {
                                    OldPassword: function() {
                                        return $("#OldPassword").val();
                                    }
                                }
                            }
                        },
                        NewPassword: {
                            required: true,
                            minlength: 6
                        },
                        ConfirmPassword: {
                            required: true,
                            minlength: 6,
                            equalTo: '#NewPassword'
                        }
                    },
                    messages: {
                        OldPassword: {
                            required: '请输入旧密码',
                            minlength: '密码长度不小于6位',
                            remote: '当前密码与帐号不匹配'
                        },
                        NewPassword: {
                            required: '请输入新密码',
                            minlength: '密码长度不小于6位'
                        },
                        ConfirmPassword: {
                            required: '请输入确认密码',
                            minlength: '密码长度不小于6位',
                            equalTo: '两次输入的新密码不一致'
                        }
                    },
                    submitHandler: function(form) {
                        $.ajax({
                            type: 'POST',
                            url: '/account/change-password',
                            data: {
                                OldPassword: $('#OldPassword').val(),
                                NewPassword: $('#NewPassword').val(),
                                ConfirmPassword: $('#ConfirmPassword').val()
                            },
                            success: function(r) {
                                if (r) {
                                    $('.success-tips').show();
                                    setTimeout(function() {
                                            $('.success-tips')
                                                .animate({
                                                        'opacity': 0,
                                                        'bottom': '46px'
                                                    },
                                                    500,
                                                    function() {
                                                        $(this).css({
                                                            'opacity': 1,
                                                            'bottom': '32px'
                                                        }).hide();
                                                        $('#form-pwd')[0].reset();
                                                    });
                                        },
                                        100)
                                }
                            }
                        });
                    }
                });
        }
        if ($("#register-form").length) {
            var validator = $("#register-form")
                .validate({
                    errorPlacement: function(error, element) { //错误提示在什么地方
                        if (element.attr('name') == 'ValidateCode') {
                            $('#code-error').remove();
                            error.insertAfter("#refresh");
                        } else if (element.attr('name') == 'mobileValidateCode') {
                            error.insertAfter("#sendCode");
                        } else {
                            error.insertAfter(element);
                        }
                    },
                    rules: {
                        mobile: {
                            required: true,
                            telphone: true,
                            remote: {
                                url: '/Account/CheckMobileExisted',
                                type: 'post',
                                data: {
                                    mobile: function() {
                                        return $("#mobile").val();
                                    }
                                },
                                complete: function(r) {
                                    if (r.responseText != "false") {
                                        $('#sendCode').addClass("active").removeClass("inactive");
                                        $('.reg-1')
                                            .on("click",
                                                ".sendCode.active",
                                                function() {
                                                    if (validator.element("#mobile")) {
                                                        $.ajax({
                                                            type: "POST",
                                                            url: '/Account/SendMobileNoVerificationCode',
                                                            data: {
                                                                mobile: $('#mobile').val()
                                                            }
                                                        });
                                                        var intNum = 60,
                                                            _this = $(this),
                                                            timeMaker = setInterval(function() {
                                                                    if (intNum) {
                                                                        _this.text(intNum + 's后重试');
                                                                        _this.removeClass("active")
                                                                            .addClass("inactive");
                                                                        intNum--;
                                                                    } else {
                                                                        clearInterval(timeMaker);
                                                                        _this.text("获取验证码");
                                                                        _this.addClass("active")
                                                                            .removeClass("inactive");
                                                                    }
                                                                },
                                                                1000);
                                                    }
                                                });
                                    } else {
                                        $('#sendCode').removeClass("active").addClass("inactive");
                                    }
                                }
                            }
                        },
                        mobileValidateCode: {
                            required: true,
                            remote: {
                                url: '/Account/CheckMobileValidateCodeIsRight',
                                type: 'post',
                                data: {
                                    code: function() {
                                        return $("#mobileValidateCode").val();
                                    },
                                    mobile: function() {
                                        return $('#mobile').val();
                                    }
                                }
                            }
                        },
                        Password: {
                            required: true,
                            rangelength: [6, 16],
                            blank: true
                        },
                        ValidateCode: "required",
                    },
                    messages: {
                        mobile: {
                            required: "手机号不能为空",
                            telphone: "手机号格式错误",
                            remote: "该手机号已存在"
                        },
                        Password: {
                            required: "密码不能为空",
                            rangelength: "密码为6-16位",
                            blank: '密码前后不能包含空格'
                        },
                        ValidateCode: "验证码不为空",
                        mobileValidateCode: {
                            required: "请输入验证码",
                            remote: "验证码不正确",
                        }
                    },
                    submitHandler: function(form) {
                        //验证码验证
                        $.ajax({
                            type: "POST",
                            url: "/account/BindNewMobile",
                            data: $("#register-form").serialize(),
                            success: function(r) {
                                if (r.code == 1) {
                                    //成功
                                    alert("就业联盟8账户已绑定");
                                    location.href = location.href;
                                } else if (r.code == 0) {
                                    alert("密码错误");
                                } else {
                                    location.href = location.href;
                                }
                            }

                        });
                    }
                });
            originUrl = $('#imgValidateCode').attr('src');
            $('#refresh')
                .click(function() {
                    $('#imgValidateCode').attr('src', originUrl + '?' + new Date());
                });
        }
    })
</script>

