@using Campus.Recruitment.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "注册第三步";
}

<link href="@AppSetting.Rss_Image/Content/static/student/css/login/login.css" rel="stylesheet">

<div id="homepage-container">
    <div class="lg-reg-bg">
        <p class="reg-title">大学生找工作，赢在新起点！</p>
        <div class="reg-done">
            <div class="reg-banner">
                <p><span class="reg">立即注册</span><span class="basis">基本资料</span><span class="done">完成注册</span></p>
            </div>
            <p class="done-title">欢迎加入新起点！</p>
            <!--正常注册-->
            <p class="p-last">简历完整度达到 80%后，方可申请心仪职位</p>
            <a class="redone" href="/resume/@ViewBag.Id">立即完善简历</a>
        </div>
    </div>
</div>

