@using Campus.Recruitment.Models
<div id="footer">
    <div class="ref-footer">
        @*<p class="ref-footer-links">
            <a href="/site/about">关于我们</a> |
            <a href="/site/news">新闻报道</a> |
            <a href="/site/employee-life">员工生活</a> |
            <a href="/site/user-protocol">联系我们</a> |
            <a href="/site/user-protocol">用户协议</a> |
            <a href="@AppSetting.Enterprise_Url">企业入口</a>
        </p>*@
        <p class="copyright">
            Copyright © 2016&nbsp;zheyibu.com All Rights Reserved&nbsp;<a href="http://www.beianbeian.com/search/zheyibu.com">沪ICP备16040702号-1</a> 未经许可，不得转载本网站所有招聘信息及作品
        </p>
    </div>
</div>