@using Campus.Recruitment.Models

<!-- Homepage Footer start-->
<div class="homepage-footer" style="height: 60px; margin-top: -60px;">
    <div class="footer-container" style="text-align: center;height: 60px">
        @*<a href="/site/about">关于我们</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a href="/site/news">新闻报道</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a href="/site/employee-life">员工生活</a> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a href="/site/contact">联系我们</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a href="/site/user-protocol">用户协议</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
        <a href="@AppSetting.Enterprise_Url">企业入口</a>*@
        <div class="copyright" style="padding-top: 12px;">Copyright © 2016-2018 luckyyou.cn All Rights Reserved <a href="http://www.beianbeian.com/search/zheyibu.com">沪ICP备16040702号-1</a></div>
        <p class="copyright">未经许可，不得转载本网站所有招聘信息及作品</p>
    </div>
</div>