@using Campus.Recruitment.Models;

<div id="homepage-header">
    <div class="user-back">
        <div class="user-info" data-applycount="0" data-pushcount="0" data-hrinvitecount="0" data-followcount="0" data-unreadqacount="0" data-unreadhrmessagecount="0">
            <div class="warning-msg">新起点提醒：提高警惕，识破虚假招聘、避免上当受骗！<span id="warning-detail">查看</span></div>
            <div class="header-info">
                <a href="/account/sign-in">学生登录</a>
                <span>|</span>
                <a href="/account/register-one">注册</a>
                <a href="@AppSetting.Enterprise_Url" class="company-login">企业入口</a>
            </div>
        </div>
    </div>
    <div class="header">
        <a class="header-icon" href="/">
            <i></i>
            <span>应届生招聘</span>
        </a>
        <div class="header-list cf">
            <a href="/" class="list-item">首页</a>
            <a href="/job/full-time" class="list-item">找全职</a>
            <a href="/job/practice" class="list-item">找实习</a>
            <a href="/seminar/search" class="list-item">宣讲会</a>

            <a href="/account/sign-in" class="list-item">提升学历</a>
            @*<a href="/play/index" class="list-item">职业锚</a>*@
        </div>
    </div>

</div>
<!-- Header end -->