@charset "utf-8";a,article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,i,input,legend,li,menu,nav,ol,p,pre,section,span,td,textarea,th,ul{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
body{font:14px/1.5 microsoft yahei,arial,sans-serif;color:#333;background-color:#fbfbfb}
fieldset,img,input{border:none;vertical-align:middle}
input,textarea{font-size:12px}
table{border-collapse:collapse}
a,div,input{outline:0}
a{text-decoration:none;color:#333}
a:hover{text-decoration:underline}
h1,h2,h3,h4,h5{font-weight:100;font-size:14px}
ol,ul{list-style:none}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
input[type=button],input[type=submit]{-webkit-appearance:none}
address,cite,dfn,em,i,var{font-style:normal}
.base-width,.content{width:1000px;margin:0 auto;position:relative;zoom:1}
.base-width:after,.content:after{zoom:1;content:".";display:block;visibility:hidden;height:0;clear:both;font-size:0}
.frame-content{width:73%;float:left}
.frame-bar{width:27%;float:right}
.clearfix:after,.option:after{zoom:1;content:".";display:block;visibility:hidden;height:0;clear:both;font-size:0}
.clearfix,.option{zoom:1}
.clear{clear:both}
.fl{float:left}
.fr{float:right}
.tl{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
.mb15{margin-bottom:15px}
.hide{display:none}
.show{display:block}
.f-color-default{color:#333}
.f-color-orange{color:#ff8f0c}
.bg-white{background:#fff}
.zyb-menu{position:relative}
.zyb-menu #logo{position:absolute;left:0;top:50%;width:163px;height:33px;margin-top:-17px;background:url(../../static/img/base/logo.png);text-indent:-200%}
.zyb-menu .nav{padding-left:200px}
.zyb-menu .nav li{float:left;position:relative;font-size:18px;position:relative}
.zyb-menu .nav li.im>a{color:#4ba551;font-weight:700}
.zyb-menu .nav li>a{color:#666;display:block;height:70px;line-height:70px;padding:0 12px;transition:all .6s;-webkit-transition:all .6s}
.zyb-menu .nav li:hover>a{background:#7ac980;color:#fff}
.zyb-menu .nav-pop{z-index:11;position:absolute;left:0;top:70px;width:100%;background:#fff;line-height:40px}
.zyb-menu .nav-pop a{overflow:hidden;display:block;padding:0 12px;height:0;background:#7ac980;color:#fff;transition:all .6s;-webkit-transition:all .6s}
.zyb-menu .nav li:hover .nav-pop a{height:40px;border-top:1px #fff solid}
.zyb-menu .nav-pop a:hover{background:#5d8664}
.zyb-search-bar{position:absolute;right:0;top:50%;margin-top:-14px}
.zyb-search-bar .search-form{border:1px #e3e3e3 solid;padding:0 4px 0 12px}
.zyb-search-bar .search-form input[type=text]{width:128px;height:26px;line-height:26px}
.zyb-search-bar .search-form input[type=submit]{width:20px;height:20px;background:url(../../static/img/base/icon.png) 0 -100px no-repeat;text-indent:-400%;overflow:hidden}
.zyb-search-bar .search-form input[type=submit]:hover{cursor:pointer}
.pager-row{margin-top:25px;overflow:hidden}
.pager-row .pager{margin-right:25px;float:right}
.pager .disabled,.pager .page-break,.pager .page-cur,.pager .page-skip,.pager a{float:left;height:26px;line-height:26px;padding:0 7px;min-width:16px;text-align:center;margin-right:5px;font-size:13px;color:#333}
.pager .disabled,.pager a{border:1px solid #c9c9c9;color:#333}
.pager .page-cur{color:#fff;background-color:#7ac980;border:1px solid #7ac980}
.pager a:hover{border:1px solid #7ac980;text-decoration:none;color:#666}
.zyb-top-bar .comp-login:before,.zyb-top-bar .fav:before,.zyb-top-bar .latter:before,.zyb-top-bar .student-login:before,.zyb-top-bar .user-list .info-base:before{content:"";position:absolute;left:0;top:50%;margin-top:-10px;width:20px;height:20px;background:url(../../static/img/base/icon.png) no-repeat}
.ref-hover{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-moz-osx-font-smoothing:grayscale;-webkit-transition-duration:.6s;transition-duration:.6s;-webkit-transition-property:color,background-color;transition-property:color,background-color}
.base-width{width:1000px;margin:0 auto;position:relative;zoom:1}
.base-width:after{zoom:1;content:".";display:block;visibility:hidden;height:0;clear:both;font-size:0}
.hide{display:none}
.zyb-top-bar{background:#373737;line-height:30px;height:30px;color:#bebebe;font-size:12px;font-family:SimSun}
.login a{color:#bebebe}
.not a{float:right}
.login .fl{float:left}
.zyb-top-bar a:hover{color:#ddd;text-decoration:none}
.zyb-top-bar .fav{float:left;padding-left:20px;position:relative;color:#bebebe}
.zyb-top-bar .fav:before{background-position:0 0}
.zyb-top-bar .login{height:30px;line-height:30px}
.zyb-top-bar .login .u-sp{float:right;zoom:1;width:auto;height:30px;line-height:30px;vertical-align:top;padding-left:3px}
.zyb-top-bar .login .u-sp a.latter,.zyb-top-bar .login .u-sp a.ref-hover{float:right;margin:0 5px;height:30px;line-height:30px;vertical-align:top}
.zyb-top-bar .hr{float:right;border-left:1px #8fb1b1 solid;height:12px;margin:10px 5px 0 5px;vertical-align:top}
.zyb-top-bar .login .comp-login{background:#548fe0;padding:0 26px 0 46px;position:relative;color:#fff;margin-left:10px}
.zyb-top-bar .comp-login:before{left:18px;background-position:0 -40px}
.zyb-top-bar a.latter{width:30px;height:29px;overflow:hidden;margin-left:12px;position:relative}
.zyb-top-bar .latter:before{background-position:0 -60px}
.zyb-top-bar .student-login{padding-left:25px;position:relative;margin-left:5px}
.zyb-top-bar .student-login:before{background-position:0 -20px}
.zyb-top-bar .user-list{float:right;position:relative;overflow:hidden}
.zyb-top-bar .user-list .info-base{position:relative;float:left;padding:0 26px 0 8px;transition:all .6s;-webkit-transition:all .6s}
.zyb-top-bar .user-list .info-base:before{left:auto;right:0;background-position:right -80px}
.zyb-top-bar .user-list .head{float:left;width:20px;height:20px;overflow:hidden;border-radius:20px;margin:5px}
.zyb-top-bar .user-list .head img{display:block;width:20px;height:20px}
.zyb-top-bar .user-list .name{float:left;text-align:right;max-width:54px;min-width:30px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#bebebe;font-size:12px;font-family:SimSun}
.zyb-top-bar .info-pop{opacity:0;z-index:11;position:absolute;right:0;top:30px;width:105px;background:#fff;line-height:28px;text-align:right;border:1px #f0f0f0 solid;border-top:none;transition:all .6s;-webkit-transition:all .6s}
.zyb-top-bar .info-pop li a{padding:0 10px;display:block}
.zyb-top-bar .info-pop li a:hover{color:#bebebe;background:#f0f0f0}
.zyb-top-bar .info-pop li.logout a,.zyb-top-bar .info-pop li.logout a:hover{color:#fff;background:#b6b6b6}
.zyb-top-bar .user-list:hover{overflow:visible}
.zyb-top-bar .user-list:hover .info-base{background:#fff;color:#4ba551}
.zyb-top-bar .user-list:hover .info-pop{opacity:1}
.zyb-top-bar .msg-count-wrap{background:url(../img/icon/icon-notice-count.png) -1px -1px repeat-x;height:14px;line-height:14px;font-size:11px;font-family:tahoma;position:absolute;left:7px;top:1px;padding-left:5px;color:#fff;display:block;z-index:2}
.zyb-top-bar .msg-count-wrap .message-count{height:14px;line-height:12px;background:url(../img/icon/icon-notice-count.png) right -15px repeat-x;display:inline-block;padding-right:5px;vertical-align:top}
.message-notice{position:absolute;top:38px;right:55px;width:275px;border:1px solid #e8e8e8;border-radius:5px;background-color:#fff;z-index:6;font-family:'Microsoft YaHei'}
.message-notice .notice-triangle{position:absolute;width:0;height:0;border-width:8px;border-color:transparent transparent #7ac980 transparent;border-style:dashed dashed solid dashed;overflow:hidden;top:-14px;right:67px}
.message-notice .no-notice-cont{font-size:14px;color:#666;text-align:center;line-height:60px}
.message-notice .notice-head{font-size:14px;color:#fff;background-color:#7ac980;height:35px;line-height:35px;text-align:left;padding-left:15px;border-bottom:1px solid #e8e8e8;border-radius:4px 4px 0 0}
.message-notice .notice-content{overflow:hidden;position:relative}
.message-notice .notice-info{max-height:210px}
.message-notice .no-read{height:50px;border-bottom:1px solid #e8e8e8;margin-top:1px;background-color:#eaeff4}
.message-notice .has-read{height:50px;border-bottom:1px solid #e8e8e8;margin-top:1px}
.message-notice .notice-end{background-color:#f2f5f8;height:37px;line-height:37px;text-align:center;border:1px solid #f2f5f8;border-radius:0 0 4px 4px}
.message-notice .notice-end a{font-size:14px;color:#2466b2}
.message-notice .notice-end a:hover{text-decoration:underline}
#body .message-notice .has-read,.message-notice .no-read{position:relative}
.message-notice .no-read:hover{cursor:pointer}
.message-notice .has-read:hover{cursor:pointer}
#body .message-notice .has-read img,.message-notice .no-read img{position:absolute;top:8px;left:10px}
#body .message-notice .has-read .read-content,.message-notice .no-read .read-content{position:absolute;top:5px;left:55px;margin-right:10px;line-height:20px;text-align:left;font-size:12px;color:#475055}
.message-notice .notice-content a{color:#2466b2}
.mCustomScrollBox>.mCSB_scrollTools{opacity:1;width:6px}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background:#7ac980;border-radius:3px;width:6px}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{background:#7ac980}
.mCSB_scrollTools .mCSB_draggerRail{background:#e6e6e6;filter:alpha(opacity=100);opacity:1;width:6px}
.navheader{border-bottom:1px solid #eee;box-shadow:0 1px 2px rgba(238,238,238,.4);background-color:#fff}
.navheader .logo{border:0 none;float:left;width:163px;height:33px;background:url(../img/bg/logo.png) no-repeat;margin:20px 13px 12px 0;position:relative}
.nav-list{float:left;height:70px;position:relative;z-index:5}
.nav-list li{float:left;position:relative;line-height:70px;padding:0 12px}
.nav-list li:hover{background-color:#7ac980}
.nav-list li.active a{color:#4ba551;font-weight:700}
.nav-list li a{font-family:'Microsoft YaHei';color:#666;display:block;font-size:18px;text-align:center}
.nav-list li:hover a{color:#fff;text-decoration:none}
.nav-list li .dropdown-list{position:absolute;filter:alpha(Opacity=0);opacity:0;background-color:#7ac980;top:70px;left:0;width:100%;height:0;line-height:0}
.nav-list li:hover .dropdown-list{filter:alpha(Opacity=100);opacity:1;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out;height:auto;line-height:2.9}
.nav-list .dropdown-list a{display:block;border-top:1px solid #fff;text-align:left;padding-left:12px;font-family:microsoft yahei;color:#fff;font-size:14px;font-weight:400}
.nav-list .dropdown-list a:hover{background-color:#5db664}
.navheader .nav-search-box{width:150px;float:right;margin-top:20px;position:relative}
.navheader .nav-search-box .search-input{border:1px solid #e3e3e3;outline:0;width:126px;height:25px;padding:0 10px 0 12px}
.navheader .nav-search-box #btnTopSearch{position:absolute;bottom:6px;right:6px;width:15px;height:15px;background:url(../img/icon/icon-search-btn.png) no-repeat}
.ref-footer{text-align:center;background:#fff;color:#333;font-size:12px;padding:20px 0}
.ref-footer a{color:#333;margin:0 10px}
.ref-footer p{padding:5px 0}
.ref-footer .ref-footer-links{font-size:14px}
.ref-footer .ref-footer-links span{margin:0 14px;color:#fff}
.ref-footer .copyright{color:#999;}
.ref-footer .copyright a{color:#999;margin:0}
.new-menu a:hover{text-decoration:none}
.new-menu .m-nav{background:#37a85a}
.new-menu .m-nav .m-logo{float:left;width:156px;height:70px;background:url(../img/icon/zyb-logo.png) left center no-repeat}
.new-menu .m-nav .fr{margin-right:-20px}
.new-menu .m-nav .m-item{float:right;font-size:16px;font-weight:700;color:#fff;line-height:70px;padding-left:20px;padding-right:20px;display:inline-block}
.new-menu .user-nav{background:#f0f3f6}
.new-menu .user-nav .m-zhiyemao{float:left;line-height:40px;font-size:14px;color:#4d586e}
.new-menu .user-nav .m-item{float:right;font-size:14px;color:#4d586e;line-height:40px;display:inline-block}
.new-menu .user-nav .m-item.com-link{color:#37a85a;margin-left:20px}
.new-menu .user-nav .m-space{float:right;margin:13px 10px;height:14px;border-right:1px solid #4d586e}
.new-menu .user-nav .m-func{float:right;font-size:14px;color:#4d586e;line-height:40px;position:relative}
.new-menu .user-nav .m-func.p10{padding:0;width:106px}
.new-menu .user-nav .m-func .u-desc{overflow:hidden;height:40px}
.new-menu .user-nav .m-func .u-desc img{width:28px;height:28px;border:1px solid #fff;border-radius:50%;margin:5px 2px 5px 8px}
.new-menu .user-nav .m-func label{display:block;line-height:40px;width:106px;text-align:center}
.new-menu .user-nav .m-func:hover{color:#fff;background:#4d586e}
.new-menu .user-nav .m-func:hover label{color:#fff;cursor:pointer}
.new-menu .user-nav .m-func:hover .dropdown{display:block}
.new-menu .user-nav .m-func .dropdown{position:absolute;left:0;top:40px;z-index:5;display:none}
.new-menu .user-nav .m-func .dropdown a{display:block;font-size:14px;color:#4d586e;background:#fff;width:79px;height:39px;text-align:right;padding-right:25px;border-left:1px solid #f0f3f6;border-right:1px solid #f0f3f6;border-bottom:1px solid #f0f3f6}
.new-menu .user-nav .m-func .dropdown a:hover{background:#f0f3f6}
.new-menu .user-nav .m-func .dropdown a.hl{border-top:1px solid #f0f3f6}
.new-menu .user-nav .m-func .dropdown a i{position:absolute;left:80px;top:0;line-height:40px;color:#ff7e00;font-size:12px;margin:0}
.new-menu .user-nav .m-func.p10 .dropdown a{width:96px;padding-right:8px}
.new-menu .user-nav .m-func.mark:before{content:'·';position:absolute;right:12px;top:-7px;color:#ff7e00;font-size:64px;margin:0}
.new-menu .move-bg{position:absolute;right:0;bottom:0;height:2px;background:#fff}
/*基本样式*/
body,div,h1,h2,h3,h4,h5,h6,p,pre,blockquote,dl,dt,dd,ul,ol,li,form,fieldset,legend,input,textarea,button,th,td{margin:0;padding:0;}
body{font-size:12px; font-family:microsoft yahei, "Lucida Grande",Arial,Lucida,Verdana, Helvetica,sans-serif; color:#333;}
table{border-collapse:collapse;border-spacing:0; table-layout:fixed; }
div,a,input{outline:none;}
input{}
textarea{ border:1px solid #ddd; overflow:auto; resize:none;}
a,input[type=button],input[type=submit],input[type=checkbox]{cursor:pointer;}
fieldset,img{border:none;}
address,caption,cite,code,dfn,em,th,var{font-weight:normal; font-style:normal;}
ul,ol{list-style-type:none;}
caption,th{text-align:left;}
q:after,q:before{content:'';}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
select,input,button,textarea{}
html{_overflow-x:hidden;_overflow-y: auto;overflow-x:hidden;}
/*--bug修复--*/
.no-space{word-spacing:0;}
.set-space{word-spacing:3px;word-spacing:3px\9;}
.biS{background-image:url("../images/common/space.gif");}/*IE层级多连接Bug*/
.clearfix:after {  zoom: 1;content: "."; display: block; visibility:hidden; height: 0; clear: both;font-size:0px;}
.clearfix { zoom: 1; }/*子集浮动Bug*/
.clear{clear:both;}
body{/*_word-break:break-all;*/}/*IE6连续英文折行*/
img{-ms-interpolation-mode:bicubic;vertical-align:bottom;}/*IE7，IE8浏览器强制缩放图片失真;图文混排间隙清除*/
del{font-family:\5B8B\4F53;}/*避免删除线造成数字8视觉上为0*/
/* html{zoom:expression(function(ele){ele.style.zoom="1";document.execCommand("BackgroundImageCache",false,true);}(this));}  IE6背景图闪烁Bug*/

/*--定位--*/
.dB{display:block;}
.dN{display:none;}
.dI{display:inline-block;}
.pRel{position:relative;}
.pAbs{position:absolute;}
.bN{border:none;}
.fl{float:left;_display:inline;}
.fr{float:right;_display:inline;}
.wsN{white-space:nowrap;}
.vaT{vertical-align:top;}
.vaM{vertical-align:middle;}
.vaB{vertical-align:bottom;}
.vH{visibility:hidden;}
.zoom{zoom:1;}
.break {word-break: break-all;word-wrap: break-word;}
/*文字*/
.no-decoration,.no-decoration:hover {text-decoration:none}
.fwB{font-weight:bold;}
.fwN{font-weight:normal;}
.taL{text-align:left;}
.taC{text-align:center;}
.taR{text-align:right;}
.tdL{text-decoration:underline;}
.tdN{text-decoration:none;}
.fontArial{font-family:'Arial';}
.fontHelv{font-family:'Helvetica';}
.fontTahoma{font-family:'Tahoma';}
.fontTimes{font-family:"Times New Roman";}
.ffESS{font-family:'sans-serif';}
.fontSongti{font-family:'宋体';}
.fontHeiti{font-family:'黑体';}
.fontYaHei{font-family:'Micriosoft YaHei';}
.fontGeor{font-family:Georgia;}
.size12{font-size:12px;}
.size14{font-size:14px;}
.size16{font-size:16px;}
.size18{font-size:18px;}
.size20{font-size:20px;}
.size22{font-size:22px;}
.size24{font-size:24px;}
.size26{font-size:26px;}
.size28{font-size:28px;}
.size30{font-size:30px;}
.size32{font-size:32px;}
.size34{font-size:34px;}
.size36{font-size:36px;}
.size38{font-size:38px;}
.size40{font-size:40px;}
.size42{font-size:42px;}
.size44{font-size:44px;}
.size46{font-size:46px;}
.size48{font-size:48px;}
.size50{font-size:50px;}
.size52{font-size:52px;}
.size54{font-size:54px;}
.size56{font-size:56px;}
.size58{font-size:58px;}
.size60{font-size:60px;}
.fL12{line-height:12px;}
.fL14{line-height:14px;}
.fL16{line-height:16px;}
.fL18{line-height:18px;}
.fL20{line-height:20px;}
.fL22{line-height:22px;}
.fL24{line-height:24px;}
.fL26{line-height:26px;}
.fL28{line-height:28px;}
.fL30{line-height:30px;}
.fL32{line-height:32px;}
.fL34{line-height:34px;}
.fL36{line-height:36px;}
.fL38{line-height:38px;}
.fL40{line-height:40px;}
.fL42{line-height:42px;}
.fL44{line-height:44px;}
.fL46{line-height:46px;}
.fL48{line-height:48px;}
.fL50{line-height:50px;}
.fL52{line-height:52px;}
.fL54{line-height:54px;}
.fL56{line-height:56px;}
.fL58{line-height:58px;}
.fL60{line-height:60px;}
.c000{color:#000;}
.c333{color:#666;}
.c666{color:#666;}
.c999{color:#999;}
.cCCC{color:#CCC;}
.cFFF{color:#FFF;}

/*--边距--*/
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m20{margin:20px;}
.m25{margin:25px;}
.m30{margin:30px;}
.m35{margin:35px;}
.m40{margin:40px;}
.m45{margin:45px;}
.m50{margin:50px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt25{margin-top:25px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt45{margin-top:45px;}
.mt50{margin-top:50px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:35px;}
.mb40{margin-bottom:40px;}
.mb45{margin-bottom:45px;}
.mb50{margin-bottom:50px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml35{margin-left:35px;}
.ml40{margin-left:40px;}
.ml45{margin-left:45px;}
.ml50{margin-left:50px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}
.mr35{margin-right:35px;}
.mr40{margin-right:40px;}
.mr45{margin-right:45px;}
.mr50{margin-right:50px;}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
.p25{padding:25px;}
.p30{padding:30px;}
.p35{padding:35px;}
.p40{padding:40px;}
.p45{padding:45px;}
.p50{padding:50px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt35{padding-top:35px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb35{padding-bottom:35px;}
.pb40{padding-bottom:40px;}
.pb45{padding-bottom:45px;}
.pb50{padding-bottom:50px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl25{padding-left:25px;}
.pl30{padding-left:30px;}
.pl35{padding-left:35px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}
.pr30{padding-right:30px;}
.pr35{padding-right:35px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}

/*--尺寸--*/
.w5{width:5px;}
.w10{width:10px;}
.w15{width:15px;}
.w20{width:20px;}
.w25{width:25px;}
.w30{width:30px;}
.w35{width:35px;}
.w40{width:40px;}
.w45{width:45px;}
.w50{width:50px;}
.w55{width:55px;}
.w60{width:60px;}
.w65{width:65px;}
.w70{width:70px;}
.w75{width:75px;}
.w80{width:80px;}
.w85{width:85px;}
.w90{width:90px;}
.w95{width:95px;}
.w100{width:100px;}
.w105{width:105px;}
.w110{width:110px;}
.w115{width:115px;}
.w120{width:120px;}
.w125{width:125px;}
.w130{width:130px;}
.w135{width:135px;}
.w140{width:140px;}
.w145{width:145px;}
.w150{width:150px;}
.w155{width:155px;}
.w160{width:160px;}
.w165{width:165px;}
.w170{width:170px;}
.w175{width:175px;}
.w180{width:180px;}
.w185{width:185px;}
.w190{width:190px;}
.w195{width:195px;}
.w200{width:200px;}
.w205{width:205px;}
.w210{width:210px;}
.w215{width:215px;}
.w220{width:220px;}
.w225{width:225px;}
.w230{width:230px;}
.w235{width:235px;}
.w240{width:240px;}
.w245{width:245px;}
.w250{width:250px;}
.w255{width:255px;}
.w260{width:260px;}
.w265{width:265px;}
.w270{width:270px;}
.w275{width:275px;}
.w280{width:280px;}
.w285{width:285px;}
.w290{width:290px;}
.w295{width:295px;}
.w300{width:300px;}
.h5{height:5px;}
.h10{height:10px;}
.h15{height:15px;}
.h20{height:20px;}
.h25{height:25px;}
.h30{height:30px;}
.h35{height:35px;}
.h40{height:40px;}
.h45{height:45px;}
.h50{height:50px;}
.h55{height:55px;}
.h60{height:60px;}
.h65{height:65px;}
.h70{height:70px;}
.h75{height:75px;}
.h80{height:80px;}
.h85{height:85px;}
.h90{height:90px;}
.h95{height:95px;}
.h100{height:100px;}
.h105{height:105px;}
.h110{height:110px;}
.h115{height:115px;}
.h120{height:120px;}
.h125{height:125px;}
.h130{height:130px;}
.h135{height:135px;}
.h140{height:140px;}
.h145{height:145px;}
.h150{height:150px;}
.h155{height:155px;}
.h160{height:160px;}
.h165{height:165px;}
.h170{height:170px;}
.h175{height:175px;}
.h180{height:180px;}
.h185{height:185px;}
.h190{height:190px;}
.h195{height:195px;}
.h200{height:200px;}
.h205{height:205px;}
.h210{height:210px;}
.h215{height:215px;}
.h220{height:220px;}
.h225{height:225px;}
.h230{height:230px;}
.h235{height:235px;}
.h240{height:240px;}
.h245{height:245px;}
.h250{height:250px;}
.h255{height:255px;}
.h260{height:260px;}
.h265{height:265px;}
.h270{height:270px;}
.h275{height:275px;}
.h280{height:280px;}
.h285{height:285px;}
.h290{height:290px;}
.h295{height:295px;}
.h300{height:300px;}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0;font-size:14px;font-family:"Microsoft YaHei", "Lucida Grande", Arial,Lucida, Verdana, Helvetica, sans-serif;color:#2d2d2d}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[;idden],template{display:none}a{background-color:transparent}a:active,a:hover,a:visited{outline:0;text-decoration:none;color:inherit}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal;padding:0;border:none}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}.cf:before,.cf:after{content:" ";display:table}.cf:after{clear:both}.cf{*zoom:1}ul{margin:0;padding:0}ul li{list-style:none}p{margin:0;padding:0}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                #homepage-header{position:relative;background-color:#fff;box-shadow:0 1px 3px #ddd;z-index:5}
#homepage-header a{text-decoration:none}
#homepage-header .header,#homepage-header .user-info{position:relative;width:1000px;margin:0 auto;font-size:0}
#homepage-header .user-info{line-height:30px}
#homepage-header .user-info span{font-size:12px;color:#f0564e;cursor:pointer}
#homepage-header .user-info .info{position:relative;display:inline-block;vertical-align:top;line-height:28px;width:78px;border:1px solid transparent;text-align:center;cursor:pointer;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease}
#homepage-header .user-info .info:after{position:absolute;content:'';top: 8px;right:-2px;height:14px;width:1px;background-color:#ddd;}
#homepage-header .info p{font-size:14px;color:#666}
#homepage-header .user-back{background-color:#f5f5f5;box-shadow:0px 1px 1px #eee}
#homepage-header .warning-msg{display:inline-block;vertical-align:top;font-size:12px;color:#999}
#homepage-header .header-icon{display:inline-block}
#homepage-header .header-icon i{display:inline-block;width:86px;height:80px;background:url(../../../student/images/icon/homepage_icon.png) 0 22px no-repeat}
#homepage-header .header-icon span{display:inline-block;width:78px;margin:32px 0;vertical-align:top;font-size:14px;line-height:14px;color:#7cbf59;text-align:center;border-left:1px solid #7cbf59}
#homepage-header .header-list{display:inline-block;margin-left:282px;margin-right:-44px;vertical-align:top}
#homepage-header .header-list .list-item{display:inline-block;margin:0 24px;line-height:77px;font-size:16px;color:#666;border-bottom:3px solid transparent;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease}
#homepage-header .header-list .list-item.current{color:#7cbf59;border-bottom-color:#7cbf59}
#homepage-header .header-list .list-item:hover{color:#7cbf59}
#homepage-header .header-info{display:inline-block;vertical-align:top;margin-left:514px;margin-right:-20px}
#homepage-header .header-info a{display:inline-block;vertical-align:top;font-size:12px;color:#666;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease}
#homepage-header .header-info span{vertical-align:top;padding:0 9px;color:#ddd}
#homepage-header .header-info a.company-login{padding-right:0;padding-left:20px;color:#7cbf59}
#homepage-header .header-info a:hover{color:#7cbf59}
#homepage-header .header-loginInfo{position:relative;display:inline-block;width:114px;border:1px solid transparent;line-height:28px;vertical-align:top;font-size:0;cursor:pointer;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease}
#homepage-header .resume{margin-left:320px}
#homepage-header .resume a{display:block;font-size:12px;color:#666;text-decoration:none}
#homepage-header .apply:hover,#homepage-header .header-loginInfo:hover,#homepage-header .order:hover,#homepage-header .resume:hover{border-color:#ddd;border-bottom-color:#fff;background-color:#fff}
#homepage-header .header-loginInfo:hover i{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
#homepage-header .header-loginInfo:hover .info-detail,#homepage-header .user-info .apply:hover .apply-detail,#homepage-header .user-info .order:hover .order-detail,#homepage-header .user-info .resume:hover .resume-detail{background:#fff;border-color:#ddd;height:120px}
#homepage-header .user-info .apply:hover .apply-detail{height:150px}
#homepage-header .user-info .order:hover .order-detail{height:60px}
#homepage-header .apply:hover li,#homepage-header .header-loginInfo:hover li,#homepage-header .order:hover li,#homepage-header .resume:hover li{height:30px}
#homepage-header .header-loginInfo img{width:22px;height:22px;margin-left:15px;vertical-align:middle;border-radius:50%}
#homepage-header .header-loginInfo p{display:inline-block;width:62px;vertical-align:top;text-align:center;font-size:12px;color:#666;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
#homepage-header .header-loginInfo i{display:inline-block;width:10px;height:10px;vertical-align:middle;background:url(../../../student/images/icon/homepage_icon.png) 0 -100px no-repeat;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease}
.header-loginInfo .info-detail,.user-info .apply-detail,.user-info .order-detail,.user-info .resume-detail{position:absolute;right:-1px;top:29px;width:114px;height:0;overflow:hidden;border:1px solid transparent;border-top:none;color:#333;z-index:5;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease}
.user-info .apply-detail,.user-info .order-detail,.user-info .resume-detail{width:78px;font-size:12px;}
.header-loginInfo .info-detail li,.user-info .apply-detail li,.user-info .order-detail li,.user-info .resume-detail li{position:relative;text-align:right;height:0;line-height:30px;padding-right:30px;overflow:hidden;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease}
.user-info .resume-detail li{text-align:center;padding:0}
.user-info .apply-detail li a,.user-info .order-detail li a{padding-right:16px;width:64px}
.header-loginInfo .info-detail li a,.user-info .apply-detail a,.user-info .order-detail a,.user-info .resume-detail a{display:block;width:84px;padding-right:30px;text-decoration:none;font-size:12px;color:#333;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease}
.header-loginInfo .info-detail li:hover,.user-info .apply-detail li:hover,.user-info .order-detail li:hover,.user-info .resume-detail li:hover{background:#f5f5f5}
.header-loginInfo .info-detail li:hover a,.user-info .apply-detail li:hover a,.user-info .order-detail li:hover a,.user-info .resume-detail li:hover a{color:#7cbf59}
#homepage-header .info span{position:relative;line-height:28px;color:#666;vertical-align:top}
.info .imgEmail{padding-left:26px;background:url(../../../student/images/icon/homepage_icon.png) no-repeat -58px -55px;}
.info .notification:after{position:absolute;right:-10px;top:-15px;content:'·';font-size:50px;color:#f0564e}
.info .email:after{position:absolute;right:26px;top:-15px;content:'·';font-size:50px;color:#f0564e}
#homepage-header .info i{position:absolute;top:0;right:4px;width:12px;height:12px;line-height:12px;font-style:normal;font-size:12px;color:#f0564e}
.homepage-footer{background:#f8f8f8;border-top:1px solid #eee;color:#333}
.homepage-footer .footer-container{width:1000px;height:100px;margin:0 auto;background:url(../../../student/images/background/footer-rg-banner.png) right center no-repeat}
.homepage-footer a{display:inline-block;margin-top:20px;margin-bottom:10px;text-decoration:none;font-size:12px;color:#666}
.homepage-footer .copyright{font-size:12px;color:#999;line-height:1.5}
#layer-mask{position:fixed;display:none;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.5);filter:progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#7F000000', EndColorStr='#7F000000');z-index:99}
#layer-mask.fade{opacity:0;-webkit-transition:opacity .3s .1s ease;-moz-transition:opacity .3s .1s ease;transition:opacity .3s .1s ease}
#layer-mask.fade.in{opacity:1}
#warning-content{position:fixed;top:50%;left:50%;margin-left:-321px;margin-top:-192px;height:384px;width:642px;padding-bottom:20px;z-index:100;border-radius:3px;background:#fff}
#warning-content p{padding:0 20px;line-height:1.5;color:#f0564e}
#warning-content .notice{padding:20px 20px 10px;color:#666}
#warning-content .notice-2{margin:10px 0;color:#666}
.fadeInDown{-webkit-animation:fadeInDown .3s .3s ease both;-moz-animation:fadeInDown .3s .3s ease both}
.fadeOutUp{-webkit-animation:fadeOutUp .3s ease both;-moz-animation:fadeOutUp .3s ease both}
@keyframes fadeInDown{0%{opacity:0;transform:translateY(-20px)}
100%{opacity:1;transform:translateY(0)}
}
@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px)}
100%{opacity:1;-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInDown{0%{opacity:0;-moz-transform:translateY(-20px)}
100%{opacity:1;-moz-transform:translateY(0)}
}
@-webkit-keyframes fadeOutUp{0%{opacity:1;-webkit-transform:translateY(0)}
100%{opacity:0;-webkit-transform:translateY(-20px)}
}
@-moz-keyframes fadeOutUp{0%{opacity:1;-moz-transform:translateY(0)}
100%{opacity:0;-moz-transform:translateY(-20px)}
}
#warning-content .warning-header{line-height:48px;text-indent:20px;color:#fff;font-size:16px;background-color:#7ac980;border-top-left-radius:3px;border-top-right-radius:3px}
#warning-content .warning-header i{float:right;width:20px;height:20px;margin:15px;background:url(../../../student/images/icon/homepage_icon.png) -26px -140px no-repeat;cursor:pointer;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease}
#warning-content .warning-header i:hover{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);transform:rotate(90deg)}
#go-top{height:40px;width:40px;background:url(../../../student/images/icon/go-top.png) 7px -140px no-repeat #7cbf59;cursor:pointer;border:1px solid #7cbf59;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease}
#go-top:hover{background:url(../../../student/images/icon/go-top.png) 7px -187px no-repeat #7cbf59}
#GoFeedBack{position:fixed;bottom:132px;width:40px;height:40px;background:url(../../../student/images/icon/go-top.png) 7px -42px no-repeat #fff;border:1px solid #ddd;z-index:6;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease}
/*#GoFeedBack:hover{background:url(../../../student/images/icon/go-top.png) 7px -42px no-repeat #fff}*/
#GoFeedBack .specialLine{position:absolute;right:55px;bottom:-8px;width:120px;height:100px;padding:20px 0 0 15px;background:#fff;display:none;border:1px solid #7ac980}
#GoFeedBack .specialLine p{font-size:16px;margin-bottom:15px}
#GoFeedBack .specialLine i{position:absolute;width:0;height:0;display:block;border-width:7px;border-color:transparent transparent transparent #7ac980;border-style:dashed dashed solid dashed;bottom:20px;left:136px}
#GoFeedBack .specialLine i em{position:absolute;width:0;height:0;border-width:7px;border-color:transparent transparent transparent #fff;border-style:dashed dashed solid dashed;top:-7px;left:-9px}
#WeChat{position:fixed;bottom:127px;height:200px;z-index:9;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease}
#WeChat .left{width:180px;height:198px;border:1px solid #7cbf59;display:none;position:absolute;right:55px;bottom:2px;background:#fff;text-align:center}
#WeChat .left .server{margin:5px 0 0 8px;text-align:left;color:#999;line-height:20px}
#WeChat .right{width:40px;height:40px;background:url(../../../student/images/icon/go-top.png) no-repeat 8px -91px #fff;border:1px solid #ddd;position:absolute;right:0;bottom:45px}
#WeChat .right:hover{cursor:pointer}
.wechat-triangle1{position:absolute;width:0;height:0;border-width:7px;border-color:transparent transparent transparent #7cbf59;border-style:dashed dashed solid dashed;overflow:hidden;bottom:55px;left:180px}
.wechat-triangle2{position:absolute;width:0;height:0;border-width:7px;border-color:transparent transparent transparent #fff;border-style:dashed dashed solid dashed;overflow:hidden;bottom:55px;left:179px}