a,div,input{outline:0}
.ui-layer-container{min-width:500px}
.pop p.errorInfo{margin-top:5px;padding:0 0 1px 20px;font-size:12px;background:url(../img/icon/icon-form-explain.png) no-repeat 0 -63px;color:#FF5243}
.pop .option .username{width:275px}
.ui-layer-header{background:#5db664}
.ui-layer-title{padding:40px 45px;font-size:18px;color:#fff;font-weight:400;font-family:microsoft yahei}
.ui-layer-title h3{font-size:18px;height:30px;line-height:30px}
.ui-layer-content{padding:0}
.ui-layer-footer{padding:0}
.ui-layer-title h2{height:30px;line-height:30px;font-weight:400;font-size:18px;margin-bottom:20px}
.ui-layer-title a{display:block;margin-top:20px;color:#fff;text-decoration:underline}
.ui-layer-title .advice p{margin-top:10px;color:#fff}
.rc-hidden{display:none}
.pop{padding:30px 40px 70px;position:relative}
.pop .tips{height:50px;font-size:16px;color:#333}
.pop .option{margin-bottom:22px}
.pop .option label{height:32px;line-height:32px;cursor:pointer;float:left;color:#999;font-size:16px}
.pop .option span{width:93px;height:32px;line-height:32px;cursor:pointer;float:left;color:#999;font-size:16px;text-align:right;margin-right:10px}
.pop .option input{height:32px;line-height:32px;border:1px solid #d2d2d2;text-indent:10px;border-radius:4px}
.pop .option .text{width:253px}
.pop .option input:hover{border-color:#7ac980}
.pop .info{padding-left:65px;width:301px;overflow:hidden}
.pop .info p{font-family:SimSun;font-size:12px;color:#000;float:left}
.pop .checkbox{display:inline-block;width:14px;height:14px;padding-right:10px;vertical-align:middle;background:url(../img/icon/icon-fromui-checkbox.png) -2px -2px no-repeat}
.pop .checkbox-checked{background-position:-2px -19px}
.pop .info a{float:right;color:#2466b2;font-size:12px}
.pop .btn-submit{margin-top:24px;text-align:center}
.pop .btn-submit input{width:290px;height:35px;margin-left:8px;line-height:35px;text-align:center;background:#7ac980;color:#fff;cursor:pointer;font-size:16px;border-radius:4px}
.pop .btn-submit input:hover{background:#5db664}
.pop .other-info{padding-left:56px;margin-top:24px}
.pop .other-info p{height:30px;line-height:30px;float:left;padding-right:10px;color:#666}
.pop .other-info a{display:inline-block;background:url(../../../css/zyb/img/icon/icon-qq.png) no-repeat;background-size:30px auto;width:30px;height:30px;margin-right:10px}
.pop .other-info a.wb{background:url(../../../css/zyb/img/icon/icon-xlweibo.png) no-repeat;background-size:30px auto}
.pop .other-info a.wx{background:url(../../../css/zyb/img/icon/icon-weixin.png) no-repeat;background-size:30px auto}
.pop .bottom{height:58px;line-height:58px;background:#fafafa;position:absolute;bottom:0;left:0;width:100%}
.pop .bottom p{line-height:58px;float:left;padding:0 12px 0 40px;color:#666}
.pop .bottom a{float:left;color:#2466b2;text-decoration:none}
.pop .bottom .checkbox{display:inline-block;width:15px;height:16px;margin-right:10px;background:url(../img/base/icon-fromui-radio.png) -2px -2px no-repeat;vertical-align:middle}
.pop .bottom .checkbox-checked{background:url(../img/base/icon-fromui-radio.png) -2px -19px no-repeat}
.pop .login .option label{width:65px}
.pop .login input{width:300px}
.pop .register .content{padding:38px 0 54px 48px}
.pop .register .option label{width:65px}
.pop .register .option input{width:288px}
.pop .register .width-s{margin-right:-10px}
.pop .register .width-s div{display:inline-block;vertical-align:top}
.pop .register .width-s input[type=text]{width:117px;margin-right:10px;padding:0}
.pop .register .fl label{width:48px;padding-left:10px}
.register .ui-layer-title a,.ui-layer-title p{line-height:30px;color:#fff}
.ui-layer-title .recommand{padding-right:50px;background:url(../../static/img/base/icon-radio.png) right -37px no-repeat}
.pop .register .gender{line-height:30px;display:inline-block;margin-left:100px}
.pop .register .gender .radio{width:18px;height:18px;background:url(../../static/img/base/icon-radio.png) 0 -97px no-repeat;display:inline-block;vertical-align:middle}
.pop .register .gender .radio-checked{background-position:0 -66px}
.pop .register .option-box .option{float:left}
.pop .reg-success .tips{line-height:30px}
.pop .reg-success .btn-submit{margin-top:55px}
.pop .reg-success .btn-submit input{width:156px}
.pop .hasLogin{padding-bottom:20px}
.pop .hasLogin .option{margin-bottom:8px}
.pop .hasLogin dl{margin-bottom:20px}
.pop .hasLogin dt{height:24px;color:#333;font-size:16px}
.pop .hasLogin dt .checkbox{display:inline-block;width:15px;height:15px;margin-right:10px;background:url(../img/base/icon-fromui-radio.png) -2px 0 no-repeat}
.pop .hasLogin dt .checkbox-checked{background:url(../img/base/icon-fromui-radio.png) -2px -17px no-repeat}
.pop .hasLogin dd{font-size:14px;color:#999;height:24px;padding-top:2px;padding-left:30px}
.pop .hasLogin dd a{color:#2466b2;font-family:microsoft yahei}
.pop .hasLogin .btn-submit{margin-top:0}
.pop .hasLogin .btn-submit input{width:155px;font-family:'Microsoft YaHei'}
.pop .hasLogin .bottom i{display:inline-block;height:15px;width:15px;margin-right:20px;vertical-align:middle;background:url(../img/base/icon-fromui-radio.png) -2px -19px no-repeat}
.pop .fill-password .tips{line-height:30px;margin-bottom:30px}
.pop .fill-password .account span{color:#4ba551;font-weight:700}
.pop .fill-password .account{height:50px}
.pop .fill-password .set-key p{height:40px}
.pop .fill-password .set-key input{width:100%;border:1px solid #ccc;height:28px;text-indent:12px}
.pop .fill-password .btn-submit input{width:156px}
.pop .selectUi{width:auto}
.pop .pop-login{position:absolute;left:0;bottom:0;width:100%}
.pop .pop-login p{color:#999;font-size:16px;margin:20px 0 20px 105px}
.pop .pop-login a{color:#2466b2}
.pop .register h3{color:#666;height:30px;line-height:30px;font-size:16px}
.pop .btn-submit a{display:block;width:290px;height:35px;line-height:35px;text-align:center;background:#7ac980;color:#fff;cursor:pointer;font-size:16px;border-radius:4px;margin:50px 0 0 60px}
.pop .btn-submit a:hover{text-decoration:none;background:#5db664}
.pop .btn-submit a.btn-a1,.pop .btn-submit a.btn-a2{float:left;width:150px;margin:0 20px 0 30px}
.pop .btn-submit a.btn-a1{background-color:#eef6f8;color:#666}
.ui-layer-title .self-intro{padding-top:10px}
.ui-layer .option .select-result{width:98px;height:30px;line-height:30px;padding:0 10px}
.ui-layer .option .selectUi ul{width:120px}
.ui-layer .button{height:35px;line-height:35px;text-align:center;background:#7ac980;color:#fff;cursor:pointer;font-size:16px}
.ui-layer .btn-com-resume{width:156px}
.ui-layer .btn-com-resume:hover{border:none}
.applyLoadding{position:absolute;background:#000 url(../img/bg/loading.gif) center center no-repeat;opacity:.5;filter:alpha(opacity=50)}
