table{border-collapse:collapse}
table td{border:1px solid #333}
#xjh-container{background-color:#f5f5f5;padding:1.429em 0}
#xjh-container .xjh-container{width:71.429em;margin:0 auto}
.xjh-container .search-result{font-size:0}
.xjh-container .search-result .result-left{position:relative;display:inline-block;vertical-align:top;width:50.714em;font-size:14px}
.xjh-container .search-result .result-left:before{position:absolute;display:inline-block;top:2.286em;left:-1em;width:6em;height:6em;content:'';background:url(../../images/icon/xjh-detail-title.png) no-repeat}
.search-result .result-left .left-top{overflow:hidden;background-color:#fff;padding:1.429em;margin-bottom:1.25em}
.search-result .result-left .left-top .xjhDetails-date{position:absolute;top:1.625em;left:.1em;font-size:24px;color:#fff;width:2.5em}
.result-left .left-top .xjhDetails-title{width:23.917em;margin-left:3.583em;margin-bottom:.5em;font-size:1.714em}
.search-result .result-left .left-top ul.details{padding-left:6.143em;padding-bottom:20px}
.result-left .left-top .br{border-top:1px solid #ddd}
.br-details{margin:20px 0;color:#999;line-height:1.5;text-align:justify}
.result-left .left-top span.details-list{display:inline-block;vertical-align:top;font-size:16px;line-height:1.5;color:#999}
.result-left .left-top span.xjhDetails-info{display:inline-block;vertical-align:top;font-size:16px;line-height:1.5;width:32.2em;color:#333}
.result-left .left-top .xjhDetails-info a{text-decoration:none;color:#333}
.search-result .result-left .left-result{clear:both;background-color:#fff;padding:0 20px 50px;overflow:hidden}
.search-result .result-left .left-result li{height:82px;line-height:82px;font-size:0;cursor:pointer;background:url(../../images/icon/xjh-bg-icon.png) 58px 0 no-repeat}
.search-result .result-left .left-result li.xjhDetails-other-title{margin-top:10px;line-height:30px;height:56px;background:0 0;cursor:default;font-size:16px;color:#333}
.result-left .left-result .xjh-index-logo{display:inline-block;vertical-align:middle;width:44px;height:48px;margin-right:48px}
.result-left .left-result .index .xjh-index-logo{background:url(../../images/icon/xjh-icon-logo.png) 1px 0 no-repeat}
.xjh-index-logo .logo-time{color:#fff;font-size:14px;line-height:20px;text-align:center}
.search-result .result-left .left-result .result-content{display:inline-block;width:576px;border-bottom:1px solid #f5f5f5}
.search-result .result-left .left-result li:hover .job-name{color:#7cbf59}
.search-result .result-left .left-result img{width:52px;height:52px;max-height:100%;max-width:100%;vertical-align:middle}
.search-result .result-left .left-result .job-detail{display:inline-block;width:578px;vertical-align:middle;line-height:2;font-size:14px;color:#999}
.search-result .result-left .left-result .job-detail a{text-decoration:none;display:block;color:#333}
.search-result .result-left .left-result .result-salary{display:inline-block;vertical-align:top}
.result-left .left-result .job-detail .job-name{font-size:16px;color:#333}
.result-left .left-result .job-detail .group-detail{display:inline-block;vertical-align:middle;max-width:470px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.result-left .left-result .job-detail i{display:inline-block;height:20px;width:20px;vertical-align:text-bottom;background:url(../../images/icon/xjh-icon-logo.png) 0 -338px no-repeat}
.result-left .left-result .job-detail .white-space{padding:0 10px}
.result-left .left-result .job-detail .xjh-mark-time{float:right;padding-left:20px;background:url(../../images/icon/xjh-icon-logo.png) -22px -334px no-repeat}
.xjh-container .search-result .result-right{display:inline-block;vertical-align:top;width:274px;margin-left:14px}
.search-result .result-right .right-result{clear:both;padding-top:10px;background:#fff}
.search-result .result-right .right-result li{height:100px;margin:0 20px;line-height:100px;border-top:1px solid #eee;font-size:0;cursor:pointer}
.search-result .result-right .right-result li.xjhDetails-recommond{height:40px;line-height:40px;border:none;font-size:14px;color:#666}
.search-result .result-right .right-result .result-content{border-top:1px solid #f5f5f5}
.search-result .result-right .right-result li:hover .job-name{text-decoration:underline}
.search-result .result-right .right-result img{width:52px;height:52px;max-height:100%;max-width:100%;border:1px solid #eee;vertical-align:middle}
.search-result .result-right .right-result .job-detail{display:inline-block;width:172px;vertical-align:middle;line-height:1.5;padding-left:8px;color:#999}
.result-right .right-result .job-detail a{text-decoration:none;color:#999}
.result-right .right-result .job-detail p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.result-right .right-result .job-detail .job-name{display:block;color:#333;font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.result-right .right-result .job-detail span{display:inline-block;padding:0 5px;line-height:12px;border-right:1px solid #ddd;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px;}
.result-right .right-result .job-detail .divide{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px;}
.result-right .right-result .job-detail .mCity,.result-right .right-result .job-detail .mPosition{padding:0;font-size:12px;line-height:1.5;border:none}
.result-right .right-result .job-detail .mCity{padding-right:10px}
.result-right .right-result .job-detail span:nth-child(3){padding-left:0}
.result-right .right-result .job-detail span:nth-child(5){display:inline-block;width:72px;border-right:none}
#interestComdiv{margin-bottom:14px}