@using Campus.Recruitment.Enterprise.Models;

 <!-- Header start -->
<div id="com-header" class="cf">
    <div class="hdLeft">
        <div class="lfLogo">
            <div class="lgLeft"><a href="/"></a></div>
            <a href="/account/sign-in" class="com-hrshare">职位管理</a>
            <a href="/account/sign-in" class="com-hrshare">简历管理</a>
            <a href="/account/sign-in" class="com-hrshare">宣讲会</a>
            @*<a href="/qa" class="com-hrshare">学生沟通</a>
            <a href="/corpinfo" class="com-hrshare">公司主页</a>
            <a href="/hrshare" class="com-hrshare">校招攻略</a>*@
        </div>
    </div>
    <div class="hdRight">
        <a href="@AppSetting.Student_Url"><div class="rgLink">进入学生版</div></a>
        <a href="/account/register-one"><div class="rgLink"  style="border:none;color:#fff;background-color:#7986cb;border-radius:3px;">企业注册</div></a>
        <a href="/account/sign-in"><div class="rgLink" style="border:none;color:#fff;background-color:#f90;border-radius:3px;">登录</div></a>
    </div>

</div>
<!-- Header end -->

<style>
    .ui-layer-header {
        background-color: rgb(133, 176, 220);
    }
</style>