@using Campus.Recruitment.Enterprise.Helper
@using Campus.Recruitment.Enterprise.Models;



<div class="etp-header">
    <div class="fixed-header">
        <div class="etp-header-wrap">
            <div class="logo-wrap">
                <a class="logo" href="/"></a>
            </div>
            <ul class="nav-bar">
                <li class="current"><a href="/">首页</a></li>
                <li><a href="/account/sign-in">职位管理</a></li>
                <li><a href="/account/sign-in">简历管理</a></li>
                <li><a href="/account/sign-in">提升学历</a></li>

            </ul>
            @*<div class="top-user-info hdRight"  >
                <div class="home-box msg-tips ">
                    <a title="就业联盟8首页" href="@AppSetting.Student_Url" class="icon-home">进入学生版</a>
                </div>
            </div>*@
            <div class="hdRight">
                <a title="就业联盟8首页" href="@AppSetting.Student_Url" class="icon-home"><div class="rgLink">进入学生版</div></a>
                <a href="/account/register-one"><div class="rgLink" style="border:none;color:#fff;background-color:#7986cb;border-radius:3px;">企业注册</div></a>
                <a href="/account/sign-in"><div class="rgLink" style="border:none;color:#fff;background-color:#f90;border-radius:3px;">登录</div></a>
            </div>
        </div>
    </div>
</div>
<style>
    .ui-layer-header {
        background-color: rgb(133, 176, 220);
    }
    .hdRight .rgLink{line-height:30px;color:#333;margin-left:20px;margin-top:12px;border:1px solid #eee}
    .hdRight .rgLink:hover{color:#7986cb}
    .hdRight .rgLink{width:80px;font-size:12px;}
    .hdRight a{color:#2d2d2d}
    #rg-login,#rg-register,.hdRight .rgLink{float:right;text-align:center;transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-webkit-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out}
</style>