#company-container{overflow:hidden;height:326px;background:#f2f2f2;color:#333;}
#company-container .com-title-content{position:relative;z-index:1;}
#company-container .company-banner{position:relative;overflow:hidden;width:100%;height:326px;background-position:center 0;background-size:cover}
@keyframes comScale{0%{-webkit-transform:scale(1.05);-moz-transform:scale(1.05);transform:scale(1.05);}100%{-webkit-transform:scale(1);-moz-transform:scale(1);transform:scale(1);}}
#company-container .com-banner-bg1{background-image:url(../../images/background/com-banner-bg1.jpg);}
.company-banner .com-banner-logo{margin:30px auto 10px;width:120px;height:120px;border:5px solid rgba(255,255,255,.3);border-radius:50%;background-color:#fff;background-clip:content-box;text-align:center;font-size:0;line-height:140px;}
.company-banner .com-banner-logo img{border-radius:50%;vertical-align:top;}
.company-banner .com-name{color:#fff;text-align:center;font-size:24px;line-height:1.5;}
.company-banner .com-name i{display:inline-block;width:22px;height:22px;background:url(../../images/icon/company-bg-icon.png) -30px -30px no-repeat;vertical-align:-2px;}
.company-banner .com-follow-on{margin:10px auto 0;width:82px;height:34px;border-radius:3px;background:rgba(255,255,255,.3);text-align:center;font-size:0;line-height:34px;}
.company-banner .com-follow-on p{display:inline-block;margin:0 auto;width:76px;height:28px;border-radius:3px;background:#7cbf59;color:#fff;vertical-align:middle;font-size:14px;line-height:28px;cursor:pointer;}
.company-banner .com-follow-on .active{background:#999;}
.company-banner .enterprise-bg{position:absolute;top:0;left:0;height:326px;width:100%;animation:comScale 3s ease;-webkit-animation:comScale 3s ease;-moz-animation:comScale 3s ease;}
.company-nav-outer{position:relative;height:58px;top:-58px}
.company-container{position:relative;width:1000px;margin:0 auto}
#company-container .company-nav{width:100%;height:58px;background:hsla(0,0%,96%,.95);text-align:center;font-size:0;line-height:56px;}
#company-container .company-nav .center-pos{margin:0 auto;width:1000px;text-align:left;}
#company-container .company-nav a{display:inline-block;margin-right:52px;border-bottom:2px solid transparent;color:#333;vertical-align:middle;text-decoration:none;font-size:18px;}
#company-container .company-nav a.last{margin-right:0;}
#company-container .company-nav a.cur{color:#7cbf59;border-bottom-color:#7cbf59;}
#company-container .company-nav .pos-apply-rg{float:right;display:none;margin:10px 6px;width:110px;height:36px;border:0;border-radius:3px;background:#7cbf59;color:#fff;vertical-align:middle;text-align:center;line-height:36px;}
.company-container .form-fb{overflow:hidden;margin:24px 0 20px;width:704px;background:#fff;}
.company-container .form-fb .form-fb-title{font-size:24px;line-height:2;}
.company-container .form-fb .form-aside-mark{color:#999;line-height:3;}
#hr-fb-id{padding:5px 14px;width:674px;height:100px;border:1px solid #ddd;text-align:justify;resize:none;}
.company-container .form-fb .hr-fb-btn{float:right;margin:10px 0 30px;width:110px;border-radius:3px;background:#7cbf59;color:#fff;text-align:center;font-size:18px;line-height:40px;cursor:pointer;}
.company-container .com-school-position{float:left;padding-bottom:20px;padding-right:34px;width:704px;background-color:#fff;min-height:700px}
.company-container .com-school-position .school-pos-name{padding-top:20px;border-bottom:1px solid #ddd;font-size:24px;line-height:2;}
.com-school-position .school-pos-name a{float:right;margin-top:10px;color:#999;text-decoration:none;font-size:16px;}
.com-school-position ul{font-size:0;}
.com-school-position .school-pos-container .pos-content{border-bottom:1px solid #f5f5f5;}
.school-pos-container .pos-content .pos-detail{padding:6px 0;border-bottom:1px dashed #ddd;color:#999;font-size:14px;line-height:2.5;}
.pos-content .pos-detail .pos-ask,.pos-content .pos-detail .pos-reply{position:relative;padding-left:48px;color:#333;text-align:justify;}
.pos-content .pos-detail .pos-ask:before,.pos-content .pos-detail .pos-reply:before{position:absolute;top:5px;left:0;width:42px;height:24px;background:url(../../images/icon/hr-answer-reply.png) 0 0 no-repeat;content:'';}
.pos-content .pos-detail .pos-reply:before{background:url(../../images/icon/hr-answer-reply.png) -53px 0 no-repeat;}
.pos-detail .pos-ask span{color:#999;}
.form-fb .fake{float:left;margin-top:10px;padding-left:20px;width:72px;height:30px;background:url(../../images/icon/profession-icon.png) 0 -112px no-repeat;line-height:30px;cursor:pointer;}
.form-fb .fake.active{float:left;margin-top:10px;padding-left:20px;width:72px;height:30px;background:url(../../images/icon/profession-icon.png) 0 -76px no-repeat;line-height:30px;cursor:pointer;}
.fb-list{padding-top:20px;}
.fb-list img{width:60px;height:60px;border:1px solid #eee;border-radius:50%;vertical-align:top;}
.fb-list .fb-basic{overflow:hidden;height:24px;}
.fb-list .fb-des{display:inline-block;margin-left:18px;padding-bottom:20px;width:624px;border-bottom:1px dashed #ddd;vertical-align:top;font-size:14px;}
.fb-list .fb-des .fb-sName{float:left;}
.fb-list .fb-des .fb-time{float:right;color:#999;}
.fb-list .fb-details{text-align:justify;}
.page-footer{margin-top:20px;padding:30px;text-align:center;font-size:0;}
.page-footer li{display:inline-block;margin:0 5px;vertical-align:top;}
.page-footer a{display:inline-block;width:28px;height:28px;border:1px solid #ddd;background:#fff;color:#666;vertical-align:middle;text-align:center;text-decoration:none;font-size:14px;line-height:28px;}
.page-footer .omitPage{font-size:14px;}
.page-footer .current a{background:#7cbf59;color:#fff;}
.page-footer .pre-page a{background:url(../../images/icon/search-icon.png) -34px -251px no-repeat;}
.page-footer .pre-page a:hover{background:url(../../images/icon/search-icon.png) -34px -289px no-repeat;background-color:#7cbf59;}
.page-footer .next-page a{background:url(../../images/icon/search-icon.png) -67px -251px no-repeat;}
.fb-no{padding:100px 110px 90px 268px;font-size:0;}
.fb-no .noResult-logo{display:inline-block;width:46px;height:46px;background:url(../../images/icon/xjh-icon-logo.png) 0 -380px no-repeat;}
.fb-no p{display:inline-block;margin-top:10px;margin-left:16px;width:214px;color:#999;vertical-align:top;font-size:16px;line-height:1.5;}
.container-divide{position:absolute;top:0;display:inline-block;vertical-align:top;width:12px;height:100%;background-color:#f5f5f5;background:-webkit-linear-gradient(90deg,#f5f5f5,#fff);background:-moz-linear-gradient(to right,#f5f5f5,#fff);background:linear-gradient(90deg,#f5f5f5,#fff)}
.com-xiaobu-right{display:none;position:absolute;width:224px;padding:16px 6px;background-color:#fff;border:1px solid #ddd;z-index:2}
.com-xiaobu-right .logo{margin:0 auto}
.com-xiaobu-right .right-logo{float:left;width:58px;height:50px;margin-right:4px;margin-left:4px;background:url(../../images/icon/company-bg-icon.png) -16px -503px no-repeat}
.com-xiaobu-right .right-logo-sub{line-height:1.5;color:#999}
.com-xiaobu-right .right-bot{clear:both;padding:4px 6px;line-height:1.5;text-align:justify}
.com-xiaobu-right:after,.com-xiaobu-right:before{position:absolute;content:'';top:24px;right:-20px;width:0;height:0;border:10px solid transparent;border-left-color:#ddd}
.com-xiaobu-right:after{right:-19px;border-left-color:#fff}
.com-title-name .slide-view{width:220px;margin:0 auto;overflow:hidden}
.com-title-name .slide-view .staff-title{overflow:hidden;padding:10px 0;width:440px}
.slide-view .staff-title li{float:left;width:220px;text-align:center}
.slide-view .staff-title li img{border-radius:50%;margin-bottom:20px}
.com-title-name .slide-view .staff-intro{font-size:18px;line-height:1.5;padding-bottom:20px}
.staff-intro .position{font-size:16px;color:#999}
.right-float .xiaobu-icon{position:absolute;width:30px;height:104px;line-height:30px;background-color:#7cbf59;color:#fff;right:-44px;top:52px;cursor:pointer;background:url(../../images/icon/xiaobu.png) no-repeat}
.right-float{position:relative;display:inline-block;padding:42px 0;width:234px;margin-left:26px;vertical-align:top}
.right-float .com-title-name{position:relative;line-height:1;overflow:hidden;margin-bottom:20px}
.com-title-name .title{font-size:18px;float:left}
.com-title-name .title-line{float:left;width:152px;margin-top:10px;margin-left:10px;border-top:1px solid #eee}
.com-title-name .cf{margin-bottom:20px}
.com-title-name .summary{font-size:14px;line-height:1.8}
.com-title-name .summary .summary-list{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.com-title-name .summary a{color:#2a78cf}
.com-title-name .label-title{font-size:0}
.com-title-name .label-title .label-list{display:inline-block;vertical-align:top;line-height:24px;margin-right:10px;margin-bottom:10px;padding:0 10px;font-size:14px;border:1px solid #eee}
.preEl{position:absolute;left:0;top:92px;width:16px;height:30px;background:url(../../images/icon/company-bg-icon.png) -34px -137px no-repeat;cursor:pointer;z-index:3}
.preEl:hover{background:url(../../images/icon/company-bg-icon.png) 0 -100px no-repeat}
.nextEl{position:absolute;right:0;top:92px;width:16px;height:30px;background:url(../../images/icon/company-bg-icon.png) -32px -100px no-repeat;cursor:pointer;z-index:3}
.nextEl:hover{background:url(../../images/icon/company-bg-icon.png) 2px -137px no-repeat}