.reg-wrap{width:805px;margin:55px auto 216px}
.reg-activationtip{line-height:40px}
.reg-title{width:805px;height:65px;background:url(../../enterprise/static/img/register/reg-title-bg.png) no-repeat}
.reg-title-step1{background-position:0 0}
.reg-title-step2{background-position:0 -63px}
.reg-title-step3{background-position:0 -126px}
.reg-content{width:800px;background:#EBF2FA;border:1px solid #CBEBFD;margin-top:35px}
.reg-form{padding:45px 0 25px 60px;position:relative}
.reg-form .ui-form-item{position:relative;clear:both;margin-bottom:15px;padding:0;zoom:1}
.reg-form .form-item-scale{z-index:3}
.reg-form .form-item-mode{z-index:2}
.reg-form .ui-form-item:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.reg-form .ui-form-item-submit{margin-top:25px;left:106px}
.reg-form .ui-form-item-submit a{color:#338BE3;text-decoration:none}
.reg-form .item-label{display:block;float:left;height:40px;line-height:40px;width:90px;margin-right:15px;font-size:16px;color:#666;text-align:right}
.reg-form label em{color:#f30;font-size:14px;font-family:Simsun;margin-right:3px}
.reg-form .ui-text{width:318px;height:16px;float:left}
.reg-form .ui-text-s{width:66px;height:16px;float:left}
.reg-form .ui-text-m{width:121px;height:16px;float:left}
.reg-form .registered{position:absolute;left:175px;top:18px;font-size:14px}
.reg-form .fileuploader{position:relative}
.reg-form .input-tip{line-height:42px;color:#999;font-size:13px;display:none}
.reg-form .ui-form-item div.error-explain{float:left;position:relative;top:13px;color:#fc4343;height:16px;line-height:14px;padding-left:10px;font-size:13px}
.reg-form .icon-choose{background:#FFF url(img/icon/icon-list-select.png) 95% center no-repeat;padding-right:25px;width:302px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;white-space:nowrap}
.selectUi{width:336px;float:left;margin-right:10px}
.selectUi before,.selectUi:before{content:"";border-top:7px #666 solid;border-left:7px transparent solid;border-right:7px transparent solid;position:absolute;top:19px;right:10px;z-index:1}
.selectUi after,.selectUi:after{content:"";border-top:7px #FFF solid;border-left:7px transparent solid;border-right:7px transparent solid;position:absolute;top:20px;right:10px;margin-top:-2px;z-index:1}
.selectUi .select-result{width:316px;float:left;display:inline-block;padding:12px 10px;font-size:14px;color:#555;vertical-align:middle;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.selectUi .select-result:before{content:none}
.selectUi .select-result:after{content:none}
.selectUi ul{top:41px}
.selectUi ul li{height:32px;font-size:14px}
.ui-layer-header{background-color:#85B0DC}
.dialog-confirm-btn{background-color:#85B0DC}
.zyb_Pick table .dialog-data-list li span{font-size:12px}
.feedback-info{margin:0 auto}
.feedback-info h2{font-size:20px;font-weight:700;margin-left:80px}
.feedback-info p{font-size:14px;color:#666;margin:10px 0 0 80px}
.registerSuccess{width:560px;padding:50px 0 40px 0}
.registerSuccess h2{color:#00B72C;font-size:30px;text-align:center;font-weight:400;margin:0}
.registerSuccess .b-link{margin-left:10px}
.icon-tips{position:absolute;margin-left:100px;margin-top:-8px;width:44px;height:54px;display:inline-block;background:url(../../enterprise/static/img/account/icon-success.png) no-repeat}
.icon-success{background-position:0 10px}
.can-use{padding:20px 0 38px 60px}
.can-use p{font-size:12px;color:#666}
.can-use p em{font-weight:700}
.can-use .operate-item{position:relative;width:240px;display:inline-block;margin:20px 10px 20px 46px;padding:20px 30px 30px 25px;cursor:pointer}
.can-use .operate-item:hover{color:#338be3;border-color:#7ebde1}
.can-use .operate-item h3 a{display:inline-block;width: 126px;line-height:36px;font-size:18px;color:#fff;text-decoration:none;background-color:#3498db;text-align:center;border-radius:3px;}
.can-use .operate-item p{font-size:12px;color:#666;margin-top:10px}
