.right-favorites .rec-job-ideal{background-color:#fafafa;margin:0 25px 0 25px}
.right-favorites .rec-job-ideal p{padding:10px 0;line-height:23px;color:#666;font-size:14px;margin-left:25px}
.right-favorites .rec-job-ideal p .edit-ideal{color:#06c}
.right-favorites .rec-job-ideal p .ideal-operate{float:right;margin-right:30px}
.right-favorites .rec-job-ideal p .ideal-operate:hover{color:#06c;text-decoration:none;float:right}
.right-favorites .rec-job-ideal p .ideal-operate i{width:5px;height:5px;margin-left:5px;background:url(../../Images/avatar/operate-top.png) no-repeat}
.right-favorites .rec-job-ideal p .ideal-operate:hover i{background:url(../../Images/avatar/operate-top1.png) no-repeat}
.right-favorites .rec-job-ideal p .ideal-unfold i{width:5px;height:5px;margin-left:5px;background:url(../../Images/avatar/operate-down.png) no-repeat}
.right-favorites .rec-job-ideal p .ideal-unfold:hover i{background:url(../../Images/avatar/operate-down1.png) no-repeat}
.right-favorites .container{margin-left:25px;font-size:14px}
.right-favorites .container .info-holder{overflow:hidden;padding:20px 0 30px 0}
.right-favorites .container .intention-block-hd{font-size:14px;color:#333;margin:0 0 10px}
.right-favorites .container .intention-block-bd{margin:0 0 10px;overflow:hidden}
.right-favorites .container .intention-block-item{float:left;width:300px;margin:0 10px 12px 0}
.right-favorites .container .intention-block-item .name{float:left;color:#7c7c7c}
.right-favorites .container .intention-block-item .val{margin:0 0 0 70px;display:block}
.right-favorites .container .ideal-list{overflow:hidden;padding-top:2px}
.right-favorites .container .ideal-list span{color:#666}
.right-favorites .container .ideal-label{font-size:12px;color:#000;background-color:#f0f9f1;padding:3px 10px;border:1px solid #9fd2b5;display:block;float:left;margin:0 20px 12px 0}
.right-favorites .resume-form{margin:25px 0 0 25px}
.right-favorites .bottom-banner{margin:30px 0 10px 0}
.right-favorites .bottom-banner img{margin-left:30px}
.ui-form-item{margin:0;position:relative}
.resume-form .selectui{width:220px;margin-right:10px}
.selectui{float:left;vertical-align:middle;position:relative;white-space:nowrap;text-align:left}
.selectui input{height:30px;position:relative;color:#666;line-height:30px;border:1px solid #d9d9d9;background:#fff;border-radius:2px;text-indent:10px;cursor:pointer}
.selectui input{width:218px}
.selectui .selectui-head{position:relative;color:#666;line-height:30px;border:1px solid #d9d9d9;background:#fff;overflow:hidden;border-radius:2px}
.selectui ul{display:none;position:absolute;top:31px;left:0;right:0;margin:0 auto;border:1px solid #cdcdcd;max-height:162px;overflow:auto;white-space:nowrap;z-index:1}
.selectui ul li{height:29px}
.selectui ul li a{display:block;background-color:#fff;text-decoration:none;padding:0 27px 0 10px;color:#666;line-height:29px;font-size:12px}
.selectui ul li a.selected,.selectui ul li a:hover{background-color:#5db664;color:#fff}
.selectui .selectui-head .selectui-result{padding:0 10px;font-size:12px;height:30px;margin-right:20px;cursor:pointer;text-overflow:ellipsis;overflow:hidden;color:#333}
.selectui-drop{position:absolute;right:3px;top:3px;width:20px;height:26px;cursor:pointer;background:#fff}
.selectui-drop:before{content:'';display:inline-block;position:absolute;border-left:7px solid transparent;border-right:7px solid transparent;border-top:7px solid #999;top:9px;left:-1px}
.selectui-drop:after{content:'';display:inline-block;position:absolute;border-left:7px solid transparent;border-right:7px solid transparent;border-top:7px solid #FFF;top:8px;left:-1px}
.resume-form .text{margin-bottom:30px;width:320px;float:left}
.resume-form .text:after{content:".";display:block;visibility:hidden;height:0;clear:both;font-size:0}
.item-set-split{color:#333;font-size:14px;padding-bottom:20px}
.resume-form .text label{float:left;width:75px;height:30px;text-align:left;line-height:30px;color:#666;font-size:14px}
.resume-area,.resume-file,.resume-form .text input[type=text],.resume-form .text select{border-radius:2px;border-width:1px;border-style:solid;border-color:#ccc;background-color:#FFF}
.locaicon{background:url(img/icon/popipt.png) no-repeat 97% 50%;cursor:pointer}
.resume-text{color:#333;font-size:12px;line-height:16px;width:184px;padding:6px 26px 6px 8px;border:1px solid #d9d9d9}
.ideal-list{overflow:hidden;padding-top:2px}
.ideal-list span,.hangye-list span,.zhineng-list span{color:#666}
.ideal-label{font-size:12px;color:#000;background-color:#f0f9f1;padding:3px 10px;border:1px solid #9fd2b5;display:block;float:left;margin:0 10px 12px 0}
.ideal-edit{float:left;line-height:26px}
.hangye-list,.zhineng-list{overflow:hidden}
.ideal-edit a,.zhineng-list a,.hangye-list a{color:#999;font-size:14px;line-height:26px}
.ideal-edit a:hover{color:#5db664}
.zhineng-list a:hover{color:#5db664}
.hangye-list a:hover{color:#5db664}
.all-list-hangye span,.all-list-zhineng span{background:url(img/icon/hangye-zhineng.png) no-repeat 0 -26px}
.all-list-hangye span.active,.all-list-zhineng span.active{background-position: 0 4px}
.hangye-edit,.zhineng-edit{float:left}
.job-cont-first > div{line-height:2}
.edit-i{width:15px;height:15px;display:block;float:left;background-image:url(img/icon/new-resume-iocs.png);background-repeat:no-repeat;background-position:-55px -35px;vertical-align:middle;margin-top:7px;cursor:pointer}
.resume-form .actions input{margin-right:20px;vertical-align:bottom}
.resume-form .actions input.button-save{border:1px solid #6cc372;background-color:#6cc372;color:#fff;font:16px 'Microsoft Yahei';padding:5px 90px;border-radius:3px}
.resume-form .actions input.button-save:hover{border:1px solid #5db664;background-color:#5db664}
.resume-form .actions a{margin-right:15px;vertical-align:middle;line-height:29px;display:inline-block;color:#6395e7}
.resume-form .text .link-function{color:#999;font-size:14px;margin-left:0;position:absolute;top:-20px;left:76px}
.resume-form .text .ideal-job-label{float:left;width:100px;height:30px;text-align:left;line-height:30px;color:#666;font-size:14px}
.text-ideal .ideal-job-label{color:#333;font-size:14px;float:left;margin:4px 20px 0 0}
.right-favorites .rec-job-ideal .actions{margin-left:175px;padding:30px 0 40px 0}
.right-favorites .edit-my-ideal{display:none}
.company-list .company-info p.job-name a.sprint{display:inline-block;vertical-align:middle;width:70px;height:16px;line-height:16px;text-align:center;margin-left:10px;background:#f1ba0e;font-size:12px;font-weight:400;color:#fff;border-radius:2px}
.company-list .company-info p.job-name a.sprint:hover{text-decoration:none}
.g-rec-job h1{font-size:32px;color:#3e3d3d;text-align:center;margin-top:30px}
.g-rec-job h2{font-size:24px;color:#87919e;text-align:center;margin-top:5px}
.g-rec-job .g-bg{position:relative;height:450px;background:url(../../zheyibu/static/img/bg/g-bg1.png) center top no-repeat;margin-top:20px}
.g-rec-job .g-bg .g-box{position:absolute;left:157px;top:28px;width:692px;height:389px;overflow:hidden}
.g-rec-job .g-bg .g-box .g-layer{position:absolute;left:0;top:0;width:667px;height:389px;z-index:4}
.g-rec-job .g-bg .g-box .g-point{position:absolute;right:5px;top:50%;margin-top:-40px;z-index:3}
.g-rec-job .g-bg .g-box .g-point i{display:block;width:20px;height:20px;background:url(../../zheyibu/static/img/icon/g-point1.png) center center no-repeat;margin:0}
.g-rec-job .g-bg .g-box .g-point i.current{background:url(../../zheyibu/static/img/icon/g-point2.png) center center no-repeat}
.g-rec-job .g-bg .g-box .g-point i:hover{cursor:pointer}
.g-rec-job .g-bg .g-box .g-pages{position:absolute;left:0;top:0;width:694px;height:1564px;z-index:2}
.g-rec-job .g-bg .g-box .g-pages li{width:100%;height:391px}
.g-rec-job .g-bg .g-box .g-pages li label{position:absolute;bottom:0;width:100px;height:100px}
.g-rec-job .g-bg .g-box .g-pages li .g-header1{left:20px;background:url(../../zheyibu/static/img/icon/g-header1.png) center center no-repeat;-webkit-transform:translateY(250px);-moz-transform:translateY(250px);transform:translateY(250px);opacity:0;-webkit-transition:all .8s .5s ease;-moz-transition:all .8s .5s ease;transition:all .8s .5s ease}
.g-rec-job .g-bg .g-box .g-pages li .g-header2{right:35px;background:url(../../zheyibu/static/img/icon/g-header2.png) center center no-repeat;-webkit-transform:translateY(80px);-moz-transform:translateY(80px);transform:translateY(80px);opacity:0;-webkit-transition:all .8s 1.1s ease;-moz-transition:all .8s 1.1s ease;transition:all .8s 1.1s ease}
.g-rec-job .g-bg .g-box .g-pages li.active label{-webkit-transform:translateY(0);-moz-transform:translateY(0);transform:translateY(0);opacity:1}
.g-rec-job .g-bg .g-box .g-pages li .g-cont1{display:inline-block;margin:100px 0 0 130px;font-size:24px;color:#000;background:#e5e5ea;line-height:40px;border-radius:30px;padding:10px 20px;-webkit-transform:translateY(250px);-moz-transform:translateY(250px);transform:translateY(250px);opacity:0;-webkit-transition:all .8s .7s ease;-moz-transition:all .8s .7s ease;transition:all .8s .7s ease}
.g-rec-job .g-bg .g-box .g-pages li .g-cont2{display:inline-block;margin:50px 140px 0 20px;font-size:24px;color:#fff;background:#30a4fc;line-height:40px;border-radius:30px;padding:10px 20px;-webkit-transform:translateY(80px);-moz-transform:translateY(80px);transform:translateY(80px);opacity:0;-webkit-transition:all .8s 1.3s ease;-moz-transition:all .8s 1.3s ease;transition:all .8s 1.3s ease}
.g-rec-job .g-bg .g-box .g-pages li.active p{-webkit-transform:translateY(0);-moz-transform:translateY(0);transform:translateY(0);opacity:1}
.g-rec-job .g-bg .g-box .g-pages li .g-cont1 i{position:absolute;left:-12px;bottom:0;width:35px;height:35px;background:url(../../zheyibu/static/img/icon/g-cont-i1.png) no-repeat;margin:0}
.g-rec-job .g-bg .g-box .g-pages li .g-cont2 i{position:absolute;right:-16px;bottom:0;width:35px;height:35px;background:url(../../zheyibu/static/img/icon/g-cont-i2.png) no-repeat;margin:0}
.g-rec-job .g-bg .g-box .g-pages li .g-size{display:inline-block;width:50px;height:20px;margin:0 5px;position:relative}
.g-rec-job .g-bg .g-box .g-pages li .g-biaoqing1::before{content:'';position:absolute;left:0;top:-14px;height:50px;width:50px;background:url(../../zheyibu/static/img/icon/icon-biaoqing1.gif) no-repeat;background-size:100% 100%}
.g-rec-job .g-bg .g-box .g-pages li .g-biaoqing2::before{content:'';position:absolute;left:0;top:-14px;height:50px;width:50px;background:url(../../zheyibu/static/img/icon/icon-biaoqing2.gif) no-repeat;background-size:100% 100%}
.g-rec-job .g-bg .g-box .g-pages li .g-biaoqing3::before{content:'';position:absolute;left:0;top:-14px;height:50px;width:50px;background:url(../../zheyibu/static/img/icon/icon-biaoqing3.gif) no-repeat;background-size:100% 100%}
.g-rec-job .g-bg .g-box .g-pages li .g-biaoqing4::before{content:'';position:absolute;left:0;top:-14px;height:50px;width:50px;background:url(../../zheyibu/static/img/icon/icon-biaoqing4.gif) no-repeat;background-size:100% 100%}
.g-rec-job .g-bg .g-box .g-pages li .g-biaoqing5::before{content:'';position:absolute;left:0;top:-14px;height:50px;width:50px;background:url(../../zheyibu/static/img/icon/icon-biaoqing5.gif) no-repeat;background-size:100% 100%}
.g-rec-job .g-bg .g-box .g-pages li .g-biaoqing6::before{content:'';position:absolute;left:0;top:-14px;height:50px;width:50px;background:url(../../zheyibu/static/img/icon/icon-biaoqing6.gif) no-repeat;background-size:100% 100%}
.g-rec-job .g-bg .g-box .g-pages li .g-biaoqing7::before{content:'';position:absolute;left:0;top:-14px;height:50px;width:50px;background:url(../../zheyibu/static/img/icon/icon-biaoqing7.gif) no-repeat;background-size:100% 100%}
.g-rec-job .g-button{height:140px;background:url(../../zheyibu/static/img/bg/g-button-bg.png) center bottom no-repeat;margin-top:45px}
.g-rec-job .g-button a{display:block;width:210px;height:70px;line-height:70px;font-size:32px;color:#fff;font-weight:700;background:#37a85a;border-radius:35px;text-align:center;margin:0 auto}
.g-rec-job .g-button a:hover{text-decoration:none}
.g-rec-job .g-button a.active{-webkit-animation:bigToSmall .3s ease 2s 5;animation:bigToSmall .3s ease 2s 5}
@-webkit-keyframes bigToSmall{0%{-webkit-transform:scale(1)}
50%{-webkit-transform:scale(.9)}
100%{-webkit-transform:scale(1)}
}
@keyframes bigToSmall{0%{transform:scale(1)}
50%{transform:scale(.9)}
100%{transform:scale(1)}
}
