.channel-header{background:url(img/bg/user-channel-head-bg.jpg) center center no-repeat;margin:0 auto;padding:0 20px;width:960px}
.resume-content{position:relative}
.resume-progress-bar{width:200px;height:16px;background:url(img/ele/resume-progress-tube.png);margin:12px 0 0;overflow:hidden}
.resume-progress-bar .bar-in{float:left;height:16px;background:url(img/ele/progress-green.png) left 0}
.resume-progress-bar .bar-in em{color:#FFF;line-height:16px;float:right;margin-right:5px}
.resume-display .main,.resume-edit .main{width:732px;float:left}
.resume-edit .side{float:left}
.resume-display .side{width:250px;float:right;position:relative}
.resume-section{margin:0 0 10px 0;border:1px solid #ebebec;background-color:#fff}
.resume-section h2{height:30px;margin-bottom:25px;margin-left:10px;padding-top:15px}
.resume-section h2 span{position:relative;color:#333;font:18px/21px 'Microsoft Yahei';text-align:center;float:left;padding-right:15px}
.resume-anchor{height:20px}
.add-p{line-height:20px;text-align:center;color:#999;font-size:14px}
.firstP{margin-top:12px}
.etp-content-wrap .resume-section h2 span{background:0 0}
.resume-section h2 em{position:absolute;z-index:1;height:1px;background-color:#ccc;width:100%;margin:13px 0 0 7px}
.resume-section h2 .button{float:right;margin-top:1px}
.resume-section .section-ico{margin:0 22px 0 0;float:left;width:4px;height:50px;background-color:#7cbf59}
.section-ico-base{background-position:0 0}
.section-ico-eval{background-position:0 -20px}
.section-ico-education{background-position:0 -40px}
.section-ico-experience{background-position:0 -60px}
.section-ico-project{background-position:0 -80px}
.section-ico-it{background-position:0 -100px}
.section-ico-language{background-position:0 -120px}
.section-ico-cert{background-position:0 -140px}
.section-ico-scholarship{background-position:0 -160px}
.section-ico-position{background-position:0 -180px}
.section-ico-attachment{background-position:0 -200px}
.section-ico-intention{background-position:0 -220px}
.container .loading{background:rgba(255,255,255,.6) url(img/icon/loading.gif) center center no-repeat;width:100%;height:220px}
.info-holder{margin-bottom:20px}
.info-item{overflow:hidden;padding:8px 0 0 4px}
.info-item .info-col{overflow:hidden;line-height:24px;color:#666;margin:0 5px 0 0}
.info-item .info-col span{padding-left:10px}
.info-item .action-col{float:left;margin:6px 0 0 5px;display:none}
.info-item .action-col a{width:15px;height:15px;display:block;float:left;background-image:url(img/icon/new-resume-iocs.png);background-repeat:no-repeat}
.info-item .edit-btn{margin:0 10px 0 0;background-position:-55px -35px}
.info-item .del-btn{background-position:-5px -35px}
.info-item .preview-btn{margin:0 8px 0 0;background-position:-5px -65px}
.info-item .download-btn{margin:0 10px 0 0;background-position:-30px -35px}
.info-item h3{float:left;color:#999;font-size:14px;margin-left:15px}
.info-item .meta{float:left;padding-left:15px;font-size:14px}
.info-item .meta span{color:#666}
.info-item .date{width:120px;display:block;float:left;color:#999}
.info-item .educ-type{padding-left:145px;color:#999}
.info-item .desc{margin-left:145px;margin-top:5px;color:#999}
.info-item .examlist{width:475px;padding-left:15px;color:#999}
.action-col .disable{color:#999;cursor:default}
.action-col .disable:hover{text-decoration:none}
.resume-section .resume-add{text-align:center}
.resume-section .add-info-top{margin-top:20px}
.resume-section .resume-add .add-btn{display:inline-block;overflow:hidden;text-align:center;width:150px;height:35px;line-height:34px;cursor:pointer;color:#FFF;font-size:16px}
.resume-section .resume-add .add-info-btn{background-color:#7cbf59;border:1px solid #7cbf59}
.resume-section .resume-add .add-more-btn{background-color:#f0faea;border:1px solid #b6e59e;color:#7cbf59}
.resume-section .container{padding:0 20px 24px 24px;font-size:14px;position:relative}
.resume-section .container .line{color:#ccc;margin:0 6px;display:inline}
.resume-section .container .no-data-prompt{color:#999;font-size:14px;text-align:center}
.resume-preview #section-base .user-name{color:#333;font-size:32px;margin-bottom:15px}
.resume-preview #section-base .user-name span{color:#666;font-size:16px}
.resume-preview #section-base .avatar{width:120px;height:120px}
#section-base .avatar{width:110px;float:left;margin-right:35px;position:relative}
#section-base .avatar img{width:102px;height:102px;border:4px solid #eee;border-radius:50%}
.edit-avatar{width:100%;height:18px;margin-top:10px}
.edit-avatar p{color:#3E78BD;width:100%;height:18px;text-align:center;cursor:pointer}
.avatar-link:hover{color:#fff}
#section-base .base-info-col{width:540px;float:left}
.base-info-col h3{font-size:16px;margin:0 0 15px;color:#666}
.ico-sex-male{background-position:0 0}
.ico-sex-female{background-position:0 -28px}
.ico-sex{margin:0 15px;width:12px;height:18px;background-image:url(../corp/img/icon/ico-sex.png);background-repeat:no-repeat}
i{display:inline-block;vertical-align:middle;margin-right:.5em;font-style:normal}
.base-info-col li{float:left;width:265px;line-height:32px}
.base-info-col li .m_validate{color:#7aa1ec;cursor:pointer;margin-left:10px}
.pop .getcode{display:inline-block;line-height:31px;border:1px solid #53c168;width:95px;text-align:center;color:#53c168;border-radius:2px;margin-left:15px}
.pop .disabled{border:1px solid #ccc;background:#f2f2f2;color:#999}
.base-info-col li span{color:#999;vertical-align:middle}
.base-info-col li .email{display:inline-block;width:210px;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;vertical-align:middle}
.section-mask{position:relative}
.attchment-list li{line-height:27px}
.attchment-list .col1{float:left}
.attchment-list .col2{float:right;width:170px;text-align:right}
.file-doc-ico,.file-jpg-ico,.file-other-ico{width:26px;height:26px;background-image:url(img/sprite/file-ico.png);background-repeat:no-repeat;border-bottom:1px solid #ddd;margin:0 15px 0 0}
.file-jpg-ico{background-position:0 -48px}
.file-other-ico{background-position:0 -99px}
.download-button{width:16px;height:16px;display:inline-block;background:url(img/sprite/common-icon-01.png) -168px -264px no-repeat;vertical-align:middle}
.download-button:hover{background-position:-168px -296px}
.completion-disk{width:73px;height:74px;float:right;margin:6px 15px 0 0;background-image:url(img/ele/completion-disk.png);background-repeat:no-repeat}
.completion-disk span{font:700 18px/25px Microsoft Yahei;color:#000;color:#f60;display:block;height:25px;margin-top:19px;text-align:center}
.completion-25{background-position:0 0}
.completion-30{background-position:-87px 0}
.completion-40{background-position:-173px 0}
.completion-50{background-position:-260px 0}
.completion-60{background-position:-346px 0}
.completion-70{background-position:-431px 0}
.completion-80{background-position:-516px 0}
.completion-90{background-position:-604px 0}
.completion-100{background-position:-690px 0}
i.true{width:11px;height:11px;float:right;margin-top:7px;background:url(img/icon/profile-img.png) 0 -395px no-repeat}
i.no-data{width:11px;height:11px;float:right;margin-top:7px;background:url(img/icon/profile-img.png) 0 -416px no-repeat}
.sections-list i.edit{width:11px;height:11px;float:right;margin-top:7px;background:url(img/icon/edit-ico.png) no-repeat;display:none}
.fixed-side{width:248px;border:1px solid #d9d9d9;background-color:#FFF}
.resume-name{height:85px;font-size:14px;color:#333;background:#ddeef7;border-top:2px solid #2466b4;border-bottom:1px solid #ddd}
.resume-name h2{font-weight:700;font-size:14px;margin:10px 0 0 20px}
.resume-name .resume-row{margin-left:20px}
.sections-list{background-color:#f9f9f9}
.sections-list li a{display:block;color:#333;padding:10px 20px 10px 30px;font-size:12px;height:20px;line-height:20px;border-top:1px solid #fff;border-bottom:1px solid #ddd}
.sections-list li a:hover{text-decoration:none}
.sections-list li a.cur{color:#2c6ab4;background-color:#e8e8e8;font-weight:700;border-top-color:#e1e1e1}
.sections-list li .rsm-module-ico{margin:2px 12px 0 0;float:left}
.sections-list li a span{float:left;width:72px}
.sections-list li .weight{color:#d8d8d8;float:left}
.sections-list li.done .weight{color:#e2a606}
.sections-list li .complete-icon{float:right;margin:8px 0 0;width:10px;height:8px;background:url(img/sprite/common-icon-01.png) -240px -168px no-repeat}
.sections-list li.done .complete-icon{background-position:-240px -184px}
.rsm-module-ico{width:16px;height:16px;background-image:url(img/sprite/common-icon-01.png);background-repeat:no-repeat}
.base-ico{background-position:-208px 0}
.intention-ico{background-position:-208px -464px}
.evaluation-ico{background-position:-208px -40px}
.education-ico{background-position:-208px -80px}
.internship-ico{background-position:-208px -120px}
.language-ico{background-position:-208px -160px}
.itskill-ico{background-position:-208px -200px}
.reward-ico{background-position:-208px -240px}
.campusjob-ico{background-position:-208px -280px}
.project-ico{background-position:-208px -320px}
.certificate-ico{background-position:-208px -360px}
.attachment-ico{background-position:-208px -400px}
.dashboard{text-align:center;background-color:#ddeef7;padding:10px 0}
.preview-link{display:block;margin:0 auto;width:123px;height:33px;background:url(img/btn/actions-abtn.png) no-repeat -319px 0}
.cannot-edit{color:#999}
.form-holder{padding:40px 0 35px 50px;position:relative;border:1px solid #7cbf59;background-color:#fff;box-shadow:inset 0 1px rgba(122,201,128,.15),0 0 rgba(122,201,128,.8),0 0 8px rgba(122,201,128,.3);-moz-box-shadow:inset 0 1px rgba(122,201,128,.15),0 0 rgba(122,201,128,.8),0 0 8px rgba(122,201,128,.3);-webkit-box-shadow:inset 0 1px rgba(122,201,128,.15),0 0 rgba(122,201,128,.8),0 0 8px rgba(122,201,128,.3)}
.resume-edit-box{background-color:#FFF;padding:0 0 40px}
.resume-edit-box h1{margin-bottom:25px}
.resume-edit-box h1 span{font:14px/32px Microsoft Yahei;text-align:center;display:block;width:104px;height:32px;background-color:#333;color:#fff}
.resume-edit-box h2{font-size:14px;color:#000;font-weight:700;margin-bottom:20px}
.resume-edit-box ul{margin-bottom:18px}
.resume-edit-box .next-step{text-align:right}
.resume-edit-box .save-message{line-height:32px;color:#299429;display:none}
.resume-edit-box .no-data{color:#999;margin:0 auto 20px;width:695px}
#divEdit{padding:20px 26px 30px;border:1px solid #ddd;position:relative;width:640px;margin:40px auto 0;background-color:#f5f5f5}
.editor-hl{background-color:#FFFCEC}
.resume-item-table{margin:0 auto 20px;width:695px}
.resume-item-table th{height:30px;border-bottom:1px solid #ccc;font:12px simsun;color:#333;background:url(img/bg/job-table-th-bg.png) repeat-x}
.resume-item-table td{color:#333;padding-top:14px;padding-bottom:14px;border-bottom:1px solid #f2f2f2;word-break:break-all;overflow:hidden}
.resume-item-table .hl td{background-color:#FFFCEC;font-weight:700}
.resume-item-table .hl .J_DeleteBtn{color:#999;font-weight:400}
.resume-item-table .hl .J_EditBtn{color:#999;font-weight:400}
.resume-item-table tbody a{margin-right:4px}
.resume-item-table .J_DeleteBtn{color:#2c6ab4}
.resume-item-table .J_EditBtn{color:#2c6ab4}
.resume-form{width:600px}
.resume-form .prompt-row{color:#333;font-weight:700;padding-bottom:10px;border-bottom:1px solid #eee;margin:0 0 30px}
.resume-form .prompt-row em{color:#f30}
.resume-ul{margin-top:1px}
.resume-ul .selectUi{float:left;margin-right:10px}
.resume-form .text{margin-bottom:30px}
.resume-form .text:after{content:".";display:block;visibility:hidden;height:0;clear:both;font-size:0}
.resume-form .text label{float:left;width:85px;height:30px;text-align:right;line-height:30px;color:#666;font-size:14px;padding-right:15px}
.resume-form .text label em{color:#f33;margin-right:5px}
.resume-form .text .fieldgroup em{color:#333}
.resume-form .text .checkbox-holder{float:none}
.resume-area:focus,.resume-form .text input[type=text]:focus,.resume-form .text select:focus,.resume-text:focus{border:1px solid #7cbf59;outline:0;-webkit-transition:border linear .2s,box-shadow linear .1s;-moz-transition:border linear .2s,box-shadow linear .1s;-o-transition:border linear .2s,box-shadow linear .1s;transition:border linear .2s,box-shadow linear .2s}
.resume-area,.resume-file,.resume-form .text input[type=text],.resume-form .text select{border-radius:2px;border-width:1px;border-style:solid;border-color:#ccc;background-color:#FFF}
.resume-text{color:#333;font-size:12px;line-height:16px;width:202px;padding:6px 8px;border:1px solid #d9d9d9}
.ui-date-wrap{position:relative;float:left}
.ui-input-date{padding:0 8px;height:28px;line-height:28px}
.file-box{position:relative;width:400px}
.file-box .txt{height:29px;border:1px solid #d9d9d9;width:136px;vertical-align:top;padding-left:10px}
.file-box .btn{background:url(img/btn/resume-file-btn-bg.png) no-repeat;border:none;height:31px;width:67px}
.resume-file{width:220px;height:31px;position:absolute;top:0;right:80px;filter:alpha(opacity:0);opacity:0}
.locaicon{background:url(img/icon/popipt.png) no-repeat 97% 50%;cursor:pointer}
.resume-text-s{color:#333;font-size:12px;line-height:16px;width:132px;padding:6px 8px;border:1px solid #ccc;box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}
.resume-text-s:hover{border:1px solid #60b2e1}
.resume-tel{color:#333;font-size:12px;line-height:16px;width:100px;padding:4px 8px;border:1px solid #ccc;box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}
.resume-areacode{color:#333;font-size:12px;line-height:16px;width:50px;padding:4px 8px;border:1px solid #ccc;box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}
.resume-ext{color:#333;font-size:12px;line-height:16px;width:50px;padding:4px 8px;border:1px solid #ccc;box-shadow:inset 0 1px 1px rgba(0,0,0,.075)}
.score-text{padding:6px 8px;width:62px;height:16px;border:1px solid #ccc;margin-left:10px}
.deleteBtn{color:#2466b2}
.addexamitem{position:relative;left:100px;top:-10px;color:#3E78BD}
.resume-area{border:1px solid #ccc;width:460px;height:110px;padding:5px;line-height:22px}
.resume-area-large{border:1px solid #ccc}
.resume-select{width:238px;height:30px;padding:5px}
.resume-select-small{width:150px;height:30px;padding:5px}
.resume-select-least{width:80px;height:30px;padding:5px}
.year-select{height:30px;width:75px;padding:5px}
.mon-select{height:30px;width:55px;padding:5px}
.day-select{height:30px;width:55px;padding:5px}
.resume-form .stu-name,.resume-form .stu-sex{float:left}
.fieldgroup-sex{line-height:30px}
.resume-form .actions{margin-left:101px;margin-top:10px}
.resume-form .actions a{margin-right:15px;vertical-align:middle;line-height:29px;display:inline-block;color:#3E78BD}
.resume-form .actions input{margin-right:20px;vertical-align:bottom}
.resume-form .actions input.button-save{float:left;width:150px;line-height:34px;font-size:16px;border:1px solid #7cbf59;background-color:#7cbf59;color:#fff}
.resume-form .textarea-wrap{float:left}
.resume-form .textarea-wrap .example{float:left}
.resume-form .textarea-wrap .count{float:right}
.resume-form .help-text{color:#999;margin:20px 0 0 0}
.resume-form .guide{margin-top:45px;padding-top:30px;border-top:1px dashed #ddd}
.resume-form .guide h4{font-size:12px;font-weight:700;margin-bottom:10px;color:#333}
.resume-form .guide h4 p{line-height:22px}
.J_CertText{display:none}
.stu-name .onFocus{color:#f30}
.prompt-tips{border:1px solid #F0EAC1;background-color:#FFFDED;padding:8px 15px;position:relative;margin-bottom:15px}
.prompt-tips .close-x{position:absolute;background:url(img/btn/close.gif) no-repeat;width:13px;height:13px;right:10px;top:11px}
.prompt-tips .close-x:hover{background-position:-13px 0}
.prompt-tips .message{text-align:center}
.prompt-tips .action{color:#127DB3}
#resumeMask{position:absolute;z-index:2;top:0;left:0;display:none;background-color:#fff;opacity:.8;-moz-opacity:.8;filter:alpha(opacity=80)}
.intention-block{margin:0 0 0 3px}
.intention-block-hd{font-size:14px;color:#333;margin:0 0 10px}
.intention-block-bd{margin:0 0 10px;overflow:hidden}
.intention-block-item{float:left;width:320px;margin:0 10px 12px 0}
.intention-block-item .name{float:left;color:#7c7c7c}
.intention-block-item .val{margin:0 0 0 60px;display:block}
.item-set-split{color:#aaa;margin-left:30px}
.ideal-list{overflow:hidden;padding-top:2px}
.ideal-list span{color:#666}
.ideal-label{font-size:12px;color:#000;background-color:#f0f9f1;padding:3px 10px;border:1px solid #9fd2b5;display:block;float:left;margin:0 20px 12px 0}
.ideal-edit{float:left;line-height:26px}
.ideal-edit a:hover{color:#5db664}
.edit-i{width:15px;height:15px;display:block;float:left;background-image:url(img/icon/new-resume-iocs.png);background-repeat:no-repeat;background-position:-55px -35px;vertical-align:middle;margin-top:5px;cursor:pointer}
.new-resume-block .block-hd{height:40px;margin:0 10px 30px 10px;border-top:1px solid #e3e3e3}
.new-resume-block:first-child .block-hd{border-top:0 none}
.block-hd-1{background:url(img/ele/resume-block-hd-1.png) no-repeat}
.block-hd-2{background:url(img/ele/resume-block-hd-2.png) no-repeat}
.block-hd-3{background:url(img/ele/resume-block-hd-3.png) no-repeat}
.block-hd-4{background:url(img/ele/resume-block-hd-4.png) no-repeat}
.resume-section h2 a{float:right;margin:0 10px 0 0;color:#7cbf59;font-family:'Microsoft Yahei';font-size:16px;padding-left:28px}
.resume-section h2 a:hover{color:#5db664;text-decoration:none}
.resume-section h2 i{width:24px;height:22px;display:block;float:left;background-image:url(img/icon/new-resume-iocs.png);background-repeat:no-repeat}
.resume-section h2 a.resume-add-btn i{background-position:-3px -3px}
.resume-section h2 a.resume-add-btn:hover i{background-position:-33px -3px}
.resume-section h2 a.resume-edit-btn i{background-position:-62px -3px}
.resume-section h2 a.resume-edit-btn:hover i{background-position:-77px -33px}
.no-data-prompt .attention-icon{height:16px;background:url(img/icon/onfocus.bak.gif) no-repeat;background:url(img/icon/new-resume-iocs.png) -60px -3px no-repeat}
.resume-sider-in{background:#ECECEC;padding:20px}
.resume-sider-in .container{margin:0 0 20px}
.resume-sider-in h3{font-weight:700;color:#666;margin:0 0 10px}
.resume-actions{overflow:hidden}
.go-preview,.go-search{float:left;width:100px;height:45px;background-image:url(img/btn/resume-actions-btn.png);background-repeat:no-repeat}
.go-search{background-position:-107px 0;margin-left:10px}
.resume-comptetion{margin:0 auto 10px;width:100px;height:100px;background-image:url(img/ele/resume-comptetion.png);background-repeat:no-repeat}
.resume-comptetion-0{background-position:0 0}
.resume-comptetion-10{background-position:0 -110px}
.resume-comptetion-20{background-position:0 -220px}
.resume-comptetion-30{background-position:0 -330px}
.resume-comptetion-40{background-position:0 -440px}
.resume-comptetion-50{background-position:0 -550px}
.resume-comptetion-60{background-position:0 -660px}
.resume-comptetion-70{background-position:0 -770px}
.resume-comptetion-80{background-position:0 -880px}
.resume-comptetion-90{background-position:0 -990px}
.resume-comptetion-100{background-position:0 -1100px}
.resume-row{margin:15px auto 50px;position:relative}
.progress-bar{position:absolute;width:100%;text-align:center;font-size:20px;color:#5297CC;top:41px;left:0;z-index:9}
.input-wrap{float:left;width:250px;height:30px}
.URL-title{line-height:30px;color:#666}
.clear-input{position:absolute;top:4px;left:300px;color:#EBEBEB;font-weight:700;display:none}
.clear-input:hover{text-decoration:none;color:#7E7C72}
.mien-list{padding-top:20px}
.mien-list i{width:32px;height:32px;float:left;margin-right:15px}
.mien-icon{background-image:url(../../css/zyb/img/icon/mien-icon.png);background-repeat:no-repeat;display:inline-block}
.Qzone-ico{width:32px;height:32px;background-position:-5px -5px}
.renren-ico{width:32px;height:32px;background-position:-89px -5px}
.douban-ico{width:32px;height:32px;background-position:-5px -47px}
.TWeibo-ico{width:32px;height:32px;background-position:-47px -47px}
.SWeibo-ico{width:32px;height:32px;background-position:-89px -47px}
.Qzone-ico-hover{width:32px;height:32px;background-position:-5px -89px}
.renren-ico-hover{width:32px;height:32px;background-position:-47px -89px}
.douban-ico-hover{width:32px;height:32px;background-position:-89px -89px}
.TWeibo-ico-hover{width:32px;height:32px;background-position:-131px -5px}
.SWeibo-ico-hover{width:32px;height:32px;background-position:-47px -5px}
.resume-entrance-wrapper{overflow:hidden;padding:40px 152px 40px 168px}
.resume-entrance{width:300px;height:340px;background-color:#f1f4f9;float:left;margin-right:35px;border:1px solid #e3e3e3;border-radius:2px;position:relative}
.resume-video-new-icon{position:absolute;top:-4px;left:-10px;width:45px;height:67px;background:url(img/icon/video-resume-new-icon.png) no-repeat}
.resume-entrance .container{padding:20px 0;overflow:hidden}
.resume-entrance h3{font-size:20px;font-family:'Microsoft YaHei';text-align:center;margin-bottom:10px}
.resume-entrance .content p{text-align:center;line-height:24px;font-size:14px;color:#666}
.resume-video-tiplist{margin:15px 0 0 0;padding:0 15px}
.resume-video-tiplist ul{border-top:1px solid #e6e6e6;padding:23px 46px 24px}
.resume-video-tiplist li{list-style:inside;line-height:24px}
.resume-entrance-actions{overflow:hidden;padding:10px 95px 0}
.resume-entrance-edit{display:block;width:65px;text-align:center;padding:5px 21px;font-size:16px;color:#fff;background:#97c9dc;border:1px solid #97c9dc;border-radius:4px}
.resume-entrance-edit:hover{background:#4a8ab2;text-decoration:none;color:#fff}
.resume-entrance-preview{padding:10px 0 0 0;display:inline-block;font-size:18px;color:#2466b2;width:108px;text-align:center}
.resume-strategy{width:644px;height:92px;margin:40px 0 0 0;background:url(img/bg/resume-strategy-bg.png) no-repeat}
.pop-dialog h2{margin:0}
#dialogMask{display:none;content:"";position:fixed;left:0;top:0;z-index:100;width:100%;height:120%;background:#000;background:rgba(0,0,0,.5);filter:alpha(opacity=50)}
.pop-dialog{display:none;position:fixed;left:50%;top:50%;z-index:101;width:500px;max-height:90%;overflow:auto;background:#fff;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.pop-dialog .close,.selectLayerUi_close{position:absolute;right:20px;top:50%;margin-top:-9px;width:19px;height:18px;background:url(../../css/zyb/img/icon/dialog-close.png);cursor:pointer;opacity:1}
.pop-dialog-title{position:relative;height:45px;line-height:45px;background:#7cbf59}
.pop-dialog-title h2{font-size:14px;padding:0 20px;color:#fff;font-weight:700}
.pop-dialog-content{padding:20px 20px 20px;overflow:auto;border:1px #E5E5E5 solid;border-top:none}
.pop-dialog-content .simple-text{font-size:14px;color:#666;margin-top:10px}
.pop-dialog .default-btn-bar{width:100%;margin:25px 0;text-align:center}
.pop-dialog .default-btn-bar button{margin:0 10px;display:inline-block;border:none;background:#7cbf59;color:#fff;width:60px;height:33px;line-height:33px;cursor:pointer}
.pop-dialog .pop-dialog{width:520px}
.pop-dialog .form .val{width:300px}
.closeEditAvator{position:absolute;right:10px;top:10px;width:30px;height:28px;display:inline-block;background:url(img/icon/tips-box-close.png) no-repeat}
.ui-btn{width:125px;height:32px;line-height:30px;text-align:center;color:#FFF;display:inline-block;border-radius:3px;border:0 none;background-image:none}
.ui-primary-btn{background:#7cbf59}
.ui-primary-btn:hover{background:#6cc372}
.ui-white-btn{background:#eef6f8;color:#666}
.ui-white-btn:hover{background:#e0ebee}
.uploader{width:358px;height:358px;position:relative;border:1px solid #F0F0F0;background:url(/content/static/css/zyb/img/bg/portrait-bg.png) no-repeat}
.uploader .ui-primary-btn{position:absolute;top:240px;left:110px}
.uploader .upload-explain{line-height:32px;text-align:center;font-size:12px;color:#999;position:relative;top:280px;left:0}
.webuploader-element-invisible{position:absolute!important;border:0 none!important;height:1px!important;margin:-1px;overflow:hidden;padding:0!important;width:1px;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
.edit-pt,.pw-pt{float:left}
.tailor .crop-row{width:360px;height:360px;background-color:#f5f5f5;margin-bottom:30px}
.tailor .bottun-row .ui-btn{width:80px;height:28px;line-height:28px}
.pw-pt{margin-left:60px;width:162px}
.pw-pt .pw-title{text-align:center}
.pw-pt .pw{margin:0 auto 15px;overflow:hidden;border:1px solid #d1dadf;border-radius:50%}
.pw-pt .pw img{width:100%;height:100%}
.pw-pt .pw-l{width:160px;height:160px}
.pw-pt .pw-m{width:90px;height:90px}
.pw-pt .pw-s{width:65px;height:65px}
#m-links{font-size:14px;text-align:right}
#m-links .links-left{float:left}
#m-links .links-left input:nth-child(4){display:inline-block;margin-left:18px}
#m-links a{color:#3E78BD;text-decoration:none}
#m-links a.active{color:#000}
#m-links li{line-height:14px;display:inline-block;border-right:1px solid #999;margin:0 12px 12px 0;padding-right:16px}
#m-links li:last-child{margin-right:0;padding-right:5px;border-right:none}
#transform-email{display:none}
.m-email{font-size:14px;font-family:'Microsoft YaHei'}
.m-email label{margin-right:5px;color:#666}
.m-email input{height:18px;width:232px;border:1px solid #d9d9d9;color:#333;padding:6px 8px;font-size:14px;font-family:'Microsoft YaHei'}
.m-email input:focus{outline:-webkit-focus-ring-color auto 5px}
.m-section{line-height:30px;margin-left:70px}
.m-email textarea{vertical-align:top;padding:6px 8px;width:400px;height:80px;font-size:14px;border:1px solid #d9d9d9;border-radius:3px;font-family:'Microsoft YaHei'}
.m-section p{color:#999;margin-left:90px;line-height:24px}
.m-section em{color:#f33;margin-right:5px}
#m-warning{margin-left:90px;line-height:24px;color:#FF5243;background:url(img/icon/warning-icon.png) no-repeat 0 -60px;vertical-align:bottom;padding-left:20px;visibility:hidden}
#m-tbtn{margin:3px 0 30px 160px;height:34px;width:200px;background:#7cbf59;padding:5px;color:#fff;font-size:16px;border:1px solid #7cbf59;outline:0}
#section-record h2{margin-bottom:12px}
.m-record{margin-left:5px;color:#999;margin-bottom:30px}
.m-norecord{margin-left:5px;color:#999;margin-bottom:30px}
.m-record li{padding:5px 0;border-bottom:1px solid #ededed}
.m-record p{padding:3px 0;margin:5px 0}
.m-record span{float:right;margin-right:30px}
.m-record .clearbt{border-bottom:none}
#transform-email .loading{position:absolute;top:0;left:0;background:rgba(255,255,255,.6) url(img/icon/loading.gif) center center no-repeat;width:100%;height:320px;display:none}
.m-school-list1,.m-school-list2{position:absolute;top:30px;left:100px;width:218px;background:#fff;z-index:1;color:#999;border:1px solid #ccc;display:none}
.m-school-list1 li,.m-school-list2 li{padding-left:10px;line-height:28px;cursor:pointer}
.m-school-list1 li:hover,.m-school-list2 li:hover{background:#ededed}
.pointer:hover{cursor:pointer}
.o-layer1{position:fixed;left:0;top:0;bottom:0;width:100%;height:100%;overflow:hidden;background:rgba(0,0,0,.6);z-index:10;display:none}
.o-layer1 .o-box{position:absolute;left:50%;top:50%;margin-left:-330px;margin-top:-155px;width:660px;height:310px;background:#fff;border-top-left-radius:5px;border-top-right-radius:5px}
.o-layer1 .o-box h1{line-height:60px;font-size:18px;color:#fff;background:#7cbf59;padding-left:25px;border-top-left-radius:5px;border-top-right-radius:5px}
.o-layer1 .o-box i{position:absolute;right:10px;top:10px;width:40px;height:40px;line-height:40px;text-align:center;color:#fff;font-size:30px}
.o-layer1 .o-box .o-bg-img1{position:absolute;left:0;top:60px;width:165px;height:200px;background:url(../../zheyibu/static/img/bg/o-bg-img1.png) right 40px no-repeat}
.o-layer1 .o-box p{margin-left:190px;margin-right:25px}
.o-layer1 .o-box .s-word1{font-size:18px;color:#333;line-height:30px;margin-top:50px}
.o-layer1 .o-box .s-word2{font-size:18px;color:#999;line-height:30px}
.o-layer1 .o-box p a{float:left;width:105px;height:32px;line-height:32px;text-align:center;font-size:16px;border-radius:3px}
.o-layer1 .o-box p a:hover{text-decoration:none}
.o-layer1 .o-box p .o-button1{color:#fff;background:#7cbf59;border:1px solid #7cbf59}
.o-layer1 .o-box p .o-button2{color:#666;background:#eef6f8;border:1px solid #d1dadf}
.o-layer1 .s-word1 span{color:#2466b2;cursor:pointer}
.o-layer2{position:fixed;left:0;top:0;bottom:0;width:100%;height:100%;overflow:hidden;background:rgba(0,0,0,.6);z-index:10;display:none}
.o-layer2 .o-box{position:absolute;left:50%;top:50%;margin-left:-330px;margin-top:-155px;width:660px;height:310px;background:#fff;border-top-left-radius:5px;border-top-right-radius:5px}
.o-layer2 .o-box h1{line-height:60px;font-size:18px;color:#fff;background:#7cbf59;padding-left:25px;border-top-left-radius:5px;border-top-right-radius:5px}
.o-layer2 .o-box i{position:absolute;right:10px;top:10px;width:40px;height:40px;line-height:40px;text-align:center;color:#fff;font-size:30px}
.o-layer2 .o-box .o-bg-img2{position:absolute;left:10px;top:60px;width:165px;height:200px;background:url(../../zheyibu/static/img/bg/o-bg-img2.png) right 40px no-repeat}
.o-layer2 .o-box p{margin-left:190px;margin-right:25px}
.o-layer2 .o-box .s-word1{font-size:18px;color:#333;line-height:30px;margin-top:50px}
.o-layer2 .o-box .s-word2{font-size:18px;color:#999;line-height:30px}
.o-layer2 .o-box p a{float:left;width:105px;height:32px;line-height:32px;text-align:center;font-size:16px;border-radius:3px}
.o-layer2 .o-box p a:hover{text-decoration:none}
.o-layer2 .o-box p .o-button1{color:#fff;background:#7cbf59;border:1px solid #7cbf59}
.o-layer2 .o-box p .o-button2{color:#666;background:#eef6f8;border:1px solid #d1dadf}
.o-layer2 .s-word1 span{color:#2466b2;cursor:pointer}
.o-layer3{position:fixed;left:0;top:0;bottom:0;width:100%;height:100%;overflow:hidden;background:rgba(0,0,0,.6);z-index:10;display:none}
.o-layer3 .o-box{position:absolute;left:50%;top:50%;margin-left:-330px;margin-top:-155px;width:660px;height:310px;background:#fff;border-top-left-radius:5px;border-top-right-radius:5px}
.o-layer3 .o-box h1{line-height:60px;font-size:16px;color:#fff;background:#7cbf59;padding-left:25px;border-top-left-radius:5px;border-top-right-radius:5px}
.o-layer3 .o-box i{position:absolute;right:10px;top:10px;width:40px;height:40px;line-height:40px;text-align:center;color:#fff;font-size:30px}
.o-layer3 .o-box p{margin:25px 25px 0}
.o-layer3 .o-box .s-word1{font-size:16px;color:#333;line-height:30px}
.o-layer3 .o-box .s-word11{font-size:16px;color:#333;line-height:30px;margin-top:0}
.o-layer3 .o-box .s-word2{font-size:16px;color:#999;line-height:30px;overflow:hidden}
.o-layer3 .o-box p a:hover{text-decoration:none}
.o-layer3 .o-box p .o-button1{color:#fff;background:#7cbf59;border:1px solid #7cbf59}
.o-layer3 .s-word2 a{float:left;color:#f90;cursor:pointer;margin-right:30px;text-decoration:none}
.base-info-col .wtx{color:#f90}
.o-layer{position:fixed;left:0;top:0;bottom:0;width:100%;height:100%;overflow:hidden;background:rgba(0,0,0,.6);z-index:10;display:none}
.o-layer #photowh{position:absolute;right:-16px;top:70px;width:730px;height:370px;background:url(img/bg/photo.png) no-repeat}
.o-layer .layer-inner{position:relative;width:1000px;margin:0 auto}
.o-layer .m-close{position:absolute;width:25px;height:25px;top:43px;right:-31px;background:url(img/icon/m-close.jpg) no-repeat;cursor:pointer}
.o-layer .m-uploadPic{position:absolute;top:285px;left:16px;width:80px;line-height:28px;color:#fff;font-size:14px;background:#6cc372;border-radius:3px;text-align:center;cursor:pointer}
.ui-form-warning{display:none;margin-left:100px;color:#f90;width:410px}
.examlistSpan span{display:inline-block;width:300px}