
@using Campus.Recruitment.Helper
@model Campus.Recruitment.Entities.Entity.Customers.CustomerAndBase

<div id="info-speciality" class="info-holder">
    <!--无数据end-->
    <div class="info-item">
        <div class="info-col">
            <div>@Html.Raw(Html.CreateHtmlForTextAreaText(Model.Specialty_desc))</div>
        </div>
    </div>
</div>