@model Campus.Recruitment.Entities.Entity.Customers.CustomerAndBase

<div class="form-holder">
    <div class="resume-form">
        <form action="/resume/submitrecord/" id="form-eval" method="post">
            <input data-val="true"  id="Id" name="Id" type="hidden" value="@Model.Id" />
            <input id="itemType" name="itemType" type="hidden" value="eval" />
            <ul class="resume-ul">
                <li class="text ui-form-item">
                    <label for="evalDesc"><em>*</em>描述</label>
                    <div class="fieldgroup">
                        <textarea class="resume-area eval-area" cols="50" id="evalDesc" name="SelfEvaluation" rows="8" placeholder="自我评价（限20-400字）">@Model.Eval_desc</textarea>
                        <div class="ui-form-explain"></div>
                    </div>
                </li>
            </ul>
            <p class="actions">
                <input type="submit" id="submit-eval" itemtype="eval" class="J_Submit button-save hover-tran" value="保 存">
                <a itemtype="eval" class="J_Cancel" href="javascript:;">取消</a>
            </p>
        </form>
    </div>
</div>
<script type="text/javascript">
    // 简历模块的js
    seajs.use(['validator', '$'], function (Validator, $) {

        $(function () {

            window.evalValidator = validator = new Validator({
                element: '#form-eval',
                failSilently: true,
                triggerType: false,
                autoSubmit :false
            });

            Validator.addRule('wordLimit', function (options, commit) {
                var element = options.element;
                var val = element.val();
                var message = '';
                var valid = true;
                if ((val != '' && val.length > 400) || (val != '' && val.length < 20)) {
                    valid = false;
                    message = "描述内容限20-400字";
                }
                commit(valid, message);
            });

            validator.addItem({
                element: '#evalDesc',
                required: true,
                rule: 'wordLimit'
            });
        });//end ready

    });//end seajs.use
</script>
