@using Campus.Recruitment.Models
@{
    //判断是否登录
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "宣讲会详情";
}

<link href="@AppSetting.Rss_Image/Content/static/student/css/xuanjianghui/details.css" rel="stylesheet" />
<div id="xjh-container">
    <div class="xjh-container">
        <!-- 主内容区 start -->
        <div class="search-result">
            <div class="result-left">
                <div class="left-top">
                    <!-- 详情 start -->
                    <div class="xjhDetails-date">04月30日</div>
                    <div class="xjhDetails-title">香港中文大学（深圳）宣讲会</div>
                    <ul class="details">
                        <li>
                            <span class="details-list">公司：</span><span class="xjhDetails-info">香港中文大学（深圳） </span>
                        </li>
                        <li>
                            <span class="details-list">时间：</span><span class="xjhDetails-info">2017.04.30&nbsp;&nbsp;星期日&nbsp;&nbsp;10:00</span>
                        </li>

                        <li>
                            <span class="details-list">学校：</span><span class="xjhDetails-info">电子科技大学 </span>
                        </li>
                        <li>
                            <span class="details-list">地点：</span><span class="xjhDetails-info">未找到场地信息</span>
                        </li>
                    </ul>
                    <!-- 详情 end -->
                    <p class="br"></p>
                    <div class="br-details">
                        <p><b>数据科学理学硕士项目</b></p><p>随着社会的不断发展，对能够有效利用，处理，分析并深入剖析大数据的专业人才的需求正快速增长。因此，数据科学专业已在商业，自然科学，生命与医疗科学，以及其它科研领域受到广泛的关注。本硕士课程项目旨在融合数据科学的基本理论、数据采集与管理、数据分析及高可扩展性的知识发现等专业知识和技能，为学生在大数据科学及其分析领域打下扎实基础。</p><p>         数据科学理学硕士项目学制1.5年，毕业生将习得最尖端的大数据处理技术，并接触到支撑大数据技术的前沿理论与方法。 此外，学生将在毕业前参与一个实际研究课题项目来展示他们在商业、政府、安全、医疗、生物、自然科学、环境等领域中能够熟练运用数据科学的基本概念来设计创新的方法及应用。</p><p>         数据科学理学硕士项目由香港中文大学（深圳）理工学院与经管学院共同开设，并与深圳市大数据研究院和深圳市高等金融研究院合作，来自两所学院及研究院的优秀师资也将共同担任项目授课教师。</p><p><b>招生对象和目标</b></p><p>         数据科学理学硕士项目是为了培养期望在数据科学领域深入学习的学生而设计，旨在使学生具备专业的知识和技能，用于解决大数据的采集、管理及分析等方面的问题。完成该专业的学习后，学生将掌握：</p><p>1.      大数据及商业分析方面的基础理论知识；</p><p>2.      统计学、机器学习及数据挖掘的关键方法和工具；</p><p>3.      各领域中大数据分析的解决方法与模型；</p><p>4.      商业数据分析的概念及技巧；</p><p>5.      有效的沟通及人际技巧（写作及口语）；</p><p>6.      理解数据科学相关的职业道德要求。</p><p> </p><p><b>学习模式及期限</b></p><p>数据科学理学硕士项目的教学模式是全日制方式。通常的学习期限为1.5年（每一学年包含3个学期），最长的学习期限为3年。</p><p> </p><p><b>师资队伍</b></p><p>香港中文大学（深圳）在数据科学领域已建立了一支强大的师资队伍。目前，以下教师将为该项目的课程担任任课教师：</p><p>l   罗智泉，<font color="#000000">深圳市大数据研究院院长，</font>博士（麻省理工学院），教授，香港中文大学（深圳）副校长，加拿大皇家科学院院士，美国电气电子工程师协会院士，工业与应用数学学会院士，国家“千人计划”入选者</p><p>l   蔡小强，<font color="#000000">深圳市大数据研究院，</font>博士（清华大学），教授，香港中文大学（深圳）协理副校长，理工学院院长，国家“千人计划”入选者</p><p>l   熊伟，深圳市高等金融研究院院长，博士（杜克大学），教授（普林斯顿大学），经管学院学术院长， </p><p><font color="#000000">l</font><font color="#000000">  </font><font color="#000000">BOYD Stephen*, </font><font color="#000000">深圳市大数据研究院，博士（斯坦福大学），教授（斯坦福大学），美国工程院院士，美国电气和电子工程师协会院士</font><font color="#000000"> </font></p><p>l   崔曙光*，<font color="#000000">深圳市大数据研究院，</font>博士（斯坦福大学），教授（加州大学戴维斯分校），美国电气和电子工程师协会院士，鹏程学者</p><p>l   陈天石，博士（香港中文大学），副教授，国家“青年千人计划”入选者</p><p>l   黄锐，博士（罗格斯大学），副教授</p><p>l   潘文安，博士（南加州大学），副教授，理工学院助理院长</p><p>l   苏丽文，博士（阿斯顿大学），副教授，经管学院助理院长</p><p>l   佟世璐，博士（香港科技大学），副教授</p><p>l   王建楠，博士（亚利桑那大学），副教授，经管学院助理院长，国家“青年千人计划”入选者</p><p>l   赵俊华，博士（昆士兰大学），副教授，理工学院助理院长，国家“青年千人计划”入选者</p><p>l   张纵辉，<font color="#000000">深圳市大数据研究院，</font>博士（台湾清华大学），助理教授，国家“青年千人计划”入选者</p><p>l   丁一，博士（皇后大学），助理教授，特许金融分析师，金融风险管理师</p><p>l   谢聪，博士（加州大学洛杉矶分校），助理教授</p><p>l   叶琳琳，博士（加州大学洛杉矶分校），助理教授</p><p>l   曾家炜，博士（斯坦福大学），助理教授</p><p>l   陈怿，<font color="#000000">深圳市大数据研究院，</font>博士（香港中文大学），研究助理教授</p><p>l   李文烨，<font color="#000000">深圳市大数据研究院，</font>博士（香港中文大学），研究助理教授</p><p>l   杨升浩，<font color="#000000">深圳市大数据研究院，</font>博士（香港中文大学），研究助理教授</p><p>l   尹峰，<font color="#000000">深圳市大数据研究院，</font>博士（达姆斯塔特工业大学），研究助理教授</p><p>l   詹凌静，博士（阿尔伯塔大学），高级讲师</p><p>其中，标有*的教授为香港中文大学（深圳）理工学院兼职教授。</p><p> </p><p><b>课程设置及要求</b></p><p>数据科学理学硕士项目的学生需在学习期限内完成5门必修课和5门选修课。每门课程3个学分。选修课程根据当年情况可能有所变化。学生还应在学术或业界导师的指导下，完成毕业项目。毕业项目占6个学分。学生毕业时需完成共计36个学分。</p><p> </p><p>必修课（共计6门/21个学分）</p><p>1.      统计学理论</p><p>2.      机器学习</p><p>3.      数据挖掘入门</p><p>4.      时间序列分析</p><p>5.      数据库原理与开发</p><p>6.      毕业项目（6学分）</p><p>选修课（选修5门/15个学分）</p><p>1.      应用回归分析</p><p>2.      应用多元方法</p><p>3.      贝叶斯分析入门</p><p>4.      数值算法分析（深圳市大数据研究院）</p><p>5.      人工智能（深圳市大数据研究院）</p><p>6.      优化理论入门（深圳市大数据研究院）</p><p>7.      信息论及编码（深圳市大数据研究院）</p><p>8.      图像处理与计算机视觉（深圳市大数据研究院）</p><p>9.      分布式系统入门</p><p>10.  应用并行编程（深圳市大数据研究院）</p><p>11.  大数据建模与管理</p><p>12.  网路数据分析（深圳市大数据研究院）</p><p>13.  数据驱动实验设计与衡量</p><p>14.  数据可视化入门</p><p>15.  运营管理与分析</p><p>16.  市场营销管理与分析</p><p>17.  金融分析</p><p>18.  经济分析</p><p>19.  创新设计思考方法论</p><p>共计：36学分</p><p> </p><p>数据科学理学硕士项目分两个专业方向（选择一个）：</p><p>本项目允许学生在满足相应的修课要求后，在学位上注明以下两个专业方向中的一个。两个专业方向的毕业学分要求一致，学生可以选择最符合个人职业规划的方向进行学习。学生也可以不选择专业方向（如未选择方向，则不受特定方向修课要求的限制）。</p><p> </p><p>1.      大数据分析方向</p><p>2.      商业分析方向</p><p><br></p><p><p><b>入学要求</b></p><p>申请入学的学生需满足下列要求：</p><p>l   毕业于认可的大学或机构，具有学士学位，成绩不低于二等荣誉学士，或</p><p>l   毕业于认可的大学或机构，具有学士学位，成绩不低于“B”，或</p><p>l   完成高等教育课程的学习，具有相当于学士学位的资历。</p><p>所有申请人还需满足英语要求：</p><p>l   申请人需提交英语水平证明文件（符合以下要求之一）：</p><p>托福（笔试不低于550分；机试不低于213分；网考不低于79分），或</p><p>雅思（学术类）（不低于6.5分），或</p><p>研究生管理科学入学考试GMAT（阅读）（不低于21分），或</p><p>获得香港或英语为母语国家的相关学位或专业证书。</p><p> </p><p><b>学费及奖学金</b></p><p>数据科学理学硕士项目的全部学费。</p><p>入学奖学金将择优发放给符合资格之申请人。</p><p><b>申请程序</b></p><p>申请人须支付300元的申请费（不予退款），其他相关的支持性文件需通过在线（ <a href="http://gs.cuhk.edu.cn/zh-hans"><u><font color="#0563c1">http://gs.cuhk.edu.cn/zh-hans</font></u></a> ）和邮寄的方式递交：</p><p>完整的申请表</p><p>盖有原毕业院校公章的官方成绩单*（须密封）</p><p>学历或资质证明复印件</p><p>英语能力证明复印件</p><p>2-3封推荐信*（须密封）</p><p>申请费收据</p><p>身份证或护照复印件</p><p>其他支持性文件</p><p>*注意：官方成绩单及推荐信须由大学及推荐人直接邮寄至香港中文大学（深圳），或装在密封的信封内由申请人递交。</p><p> </p><p>邮箱：<a><font color="#000000">mscds@cuhk.edu.cn</font></a></p><p>咨询电话：+86 (755) 842-73878</p><p>邮寄地址：中国广东省深圳市龙岗区龙翔大道2001号香港中文大学（深圳）诚道楼411室</p><p>邮编：518172</p><p><br></p><p>截止时间:</p>【清】学生活动中心202
                    </div>
                </div>
                <ul class="left-result">
                    <li class="xjhDetails-other-title">该学校其他宣讲会 </li>
                    <li class="index">
                        <div class="xjh-index-logo">
                            <div class="logo-time">05月</div>
                            <div class="logo-time">08日</div>
                        </div>
                        <div class="result-content">
                            <div class="job-detail">
                                <a href="" class="job-name"><a href="/seminar/0" target="_blank" title="安徽省级开发区合肥长丰双凤开发区宣讲会">安徽省级开发区合肥长丰双凤开发区宣讲会</a></a>
                                <p class="group-detail">
                                    <i></i><span>成都</span><span class="white-space">电子科技大学</span><span>清水河校区品学楼b110教室</span>
                                </p>
                                <span class="xjh-mark-time">09:30</span>
                            </div>
                        </div>
                    </li>
                    <li class="index">
                        <div class="xjh-index-logo">
                            <div class="logo-time">05月</div>
                            <div class="logo-time">10日</div>
                        </div>
                        <div class="result-content">
                            <div class="job-detail">
                                <a href="" class="job-name"><a href="/seminar/0" target="_blank" title="前程无忧宣讲会">前程无忧宣讲会</a></a>
                                <p class="group-detail">
                                    <i></i><span>成都</span><span class="white-space">电子科技大学</span><span>清水河校区学生活动中心201</span>
                                </p>
                                <span class="xjh-mark-time">14:00</span>
                            </div>
                        </div>
                    </li>
                    <li class="index">
                        <div class="xjh-index-logo">
                            <div class="logo-time">05月</div>
                            <div class="logo-time">11日</div>
                        </div>
                        <div class="result-content">
                            <div class="job-detail">
                                <a href="" class="job-name"><a href="/seminar/0" target="_blank" title="上汽通用汽车宣讲会">上汽通用汽车宣讲会</a></a>
                                <p class="group-detail">
                                    <i></i><span>成都</span><span class="white-space">电子科技大学</span><span>未找到场地信息</span>
                                </p>
                                <span class="xjh-mark-time">19:30</span>
                            </div>
                        </div>
                    </li>
                    <li class="index">
                        <div class="xjh-index-logo">
                            <div class="logo-time">05月</div>
                            <div class="logo-time">13日</div>
                        </div>
                        <div class="result-content">
                            <div class="job-detail">
                                <a href="" class="job-name"><a href="/seminar/0" target="_blank" title="多益网络宣讲会">多益网络宣讲会</a></a>
                                <p class="group-detail">
                                    <i></i><span>成都</span><span class="white-space">电子科技大学</span><span>清水河校区学生活动中心201</span>
                                </p>
                                <span class="xjh-mark-time">14:00</span>
                            </div>
                        </div>
                    </li>
                    <li class="index">
                        <div class="xjh-index-logo">
                            <div class="logo-time">05月</div>
                            <div class="logo-time">15日</div>
                        </div>
                        <div class="result-content">
                            <div class="job-detail">
                                <a href="" class="job-name"><a href="/seminar/0" target="_blank" title="东风日产乘用车宣讲会">东风日产乘用车宣讲会</a></a>
                                <p class="group-detail">
                                    <i></i><span>成都</span><span class="white-space">电子科技大学</span><span>清水河校区学生活动中心201</span>
                                </p>
                                <span class="xjh-mark-time">19:00</span>
                            </div>
                        </div>
                    </li>
                </ul>

                <ul class="left-result">
                    <li class="xjhDetails-other-title">该企业其他宣讲会 </li>
                    <li class="index">
                        <div class="xjh-index-logo">
                            <div class="logo-time">05月</div>
                            <div class="logo-time">07日</div>
                        </div>
                        <div class="result-content">
                            <div class="job-detail">
                                <a href="" class="job-name"><a href="/seminar/0" target="_blank" title="香港中文大学（深圳）宣讲会">香港中文大学（深圳）宣讲会</a></a>
                                <p class="group-detail">
                                    <i></i><span>沈阳</span><span class="white-space">东北大学</span><span>大成教学馆101</span>
                                </p>
                                <span class="xjh-mark-time">18:30</span>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="result-right">
                <div class="isOrExit">
                    <ul class="right-result">
                        <li class="xjhDetails-recommond">相关企业</li>
                    </ul>
                    <ul id="interestComdiv" class="right-result"></ul>
                </div>
                <ul class="right-result">
                    <li class="xjhDetails-recommond">相关职位</li>
                </ul>
                <ul id="interestjobdiv" class="right-result"></ul>
            </div>
        </div>
        <!-- 主内容区 end -->
    </div>
</div>




