body{background-color:#fff}
.home-banner .home-search{position:relative;width:100%;margin-top:30px;margin-bottom:20px;z-index:4}
.home-search .s-select{width:1005px;margin:0 auto}
.s-select .selectUi ul li.selected{background-color:#7cbf59}
.s-select .selectUi ul li.selected.home-search .s-select .selectUi ul li:hover{color:#4bb16b}
#cityName{cursor:pointer}
.home-search .s-city{float:left;position:relative;width:150px;height:48px;line-height:48px;border-top:1px solid #5db664;border-bottom:1px solid #5db664;font-size:16px;text-indent:20px;box-shadow:0 2px 1px #e5e5e5 inset;-webkit-box-shadow:0 2px 1px #e5e5e5 inset;-moz-box-shadow:0 2px 1px #e5e5e5 inset;color:#87919e;font-family:'Microsoft YaHei'}
.home-search .s-city:before{content:none}
.home-search .s-key{float:left;width:700px;border:1px solid #5db664;position:relative;background-color:#fff;border-left:1px solid #ddd;border-top-right-radius:0;border-bottom-right-radius:0}
.home-search .s-key input{width:562px;height:48px;line-height:48px;font-size:16px;color:#87919e;text-indent:25px;box-shadow:0 2px 1px #e5e5e5 inset;-webkit-box-shadow:0 2px 1px #e5e5e5 inset;-moz-box-shadow:0 2px 1px #e5e5e5 inset;font-family:'Microsoft YaHei'}
.home-search .s-key .s-button{position:absolute;top:-1px;right:-1px;width:140px;height:50px;line-height:50px;background:#7cbf59;text-align:center;color:#fff;font-size:16px}
.home-search .s-key .s-button:hover{cursor:pointer;background:#4bb16b}
.home-search .s-key .s-button i{display:inline-block;width:19px;height:19px;background:url(../img/icon/search.png) no-repeat;margin-right:6px}
.home-search .s-key .hot-link{position:absolute;top:49px;left:-1px;width:511px;padding:15px 25px;background:#fff;border:1px solid #5db664;z-index:1;margin-top:-1px}
.home-search .s-key .hot-link div{font-size:14px;color:#666}
.home-search .s-key .hot-link a{float:left;width:100px;height:24px;font-size:14px;color:#999;text-decoration:none}
.home-search .s-key .hot-link a:hover{color:#7cbf59}
.city-pick{float:left;width:147px;height:48px;margin-left:2px;text-indent:20px;line-height:48px;font-size:16px;color:#87919e;border:1px solid #5db664;border-right:1px solid #ddd;-webkit-box-shadow:0 2px 1px #e5e5e5 inset;-moz-box-shadow:0 2px 1px #e5e5e5 inset;box-shadow:0 2px 1px #e5e5e5 inset;cursor:pointer}
.city-pick ul{display:none;float:left;margin-left:-1px;width:147px;height:100px;background-color:#fff;border:1px solid #5db664;border-top:0 none}
.city-pick ul li{cursor:pointer;font-size:14px}
.city-pick ul li:hover{color:#7cbf59}
.city-pick ul li:first-child{margin-top:20px;line-height:28px}
.city-pick i,.s-city i{float:right;margin-right:18px;margin-top:-25px;background:url(../img/icon/archorU.png) no-repeat;width:10px;height:6px;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease}
.animationR{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform:rotate(180deg)}
.search-layout{position:relative;margin:20px auto;width:980px;height:50px;background-color:#eee;font-size:14px;color:#87919e;padding:0 10px}
.input-select{position:relative;width:150px;line-height:30px;border:1px solid #ddd;background:#fff;text-indent:10px;z-index:2;cursor:pointer}
#Occupation{width:132px;padding-right:20px;overflow:hidden;white-space:nowrap;-ms-text-overflow:ellipsis;text-overflow:ellipsis}
.selected-input{border:1px solid #7cbf59;border-bottom:1px solid transparent;height:40px;margin-bottom:-1px;z-index:3}
.selectlist i{position:absolute;width:10px;height:6px;top:12px;right:10px;margin-right:0;background:url(../../images/icon/search-icon.png) -114px -261px no-repeat;-webkit-transition:all .5s ease;-moz-transition:all .5s ease;transition:all .5s ease;z-index:3}
.selectlist{float:left;position:relative;margin-top:10px;margin-left:10px}
.selectO:hover #func{border:1px solid #7cbf59;border-bottom:1px solid transparent;height:40px;margin-bottom:-1px;z-index:3}
.selectO:hover ul{display:block}
.selectO ul{position:absolute;top:41px;left:0;width:448px;padding:10px;background:#fff;border:1px solid #7cbf59;z-index:2;display:none}
.selectO ul li{float:left;margin:10px;line-height:14px;cursor:pointer}
.selectO ul li:hover{color:#7cbf59}
.inner-content{position:relative;width:1002px;margin:0 auto;font-size:14px;color:#87919e}
.content-left{float:left;width:735px}
.content-left .ul-title{width:100%;overflow:hidden}
.content-left .ul-title .ul-m-title{float:left;margin:0 16px 6px 20px;cursor:pointer}
.content-left .ul-title .ul-m-title a{text-decoration:none;font-size:16px;color:#87919e;line-height:16px}
.content-left .ul-title .current.cur a{color:#7cbf59}
.content-left .ul-title .ul-m-title a:hover{color:#7cbf59}
.content-left .ul-title .m-underline{position:relative;clear:both;background:#ddd;height:1px;margin-bottom:10px}
#underline-moveby{position:absolute;background:#7cbf59;height:1px;width:100px}
.content-left .list-job{padding:20px;border-bottom:1px solid #f6f8f9;overflow:hidden;cursor:pointer}
.content-left .list-job:hover{background:#f0f3f6}
.content-left .list-job:hover .content-header h3 a{color:#7cbf59}
.content-left .content-header h3{float:left;font-size:18px;color:#87919e;line-height:18px}
.content-left .content-header h3 a{text-decoration:none;color:#2a3740}
.content-left .header-right{float:right;color:#ff7e00;font-size:18px;line-height:18px}
.list-job ul{clear:both;font-size:14px;color:#87919e}
.list-job ul li{float:left;line-height:14px;margin-right:20px;margin-top:21px}
.list-job ul li a{text-decoration:none;color:#87919e}
.content-right{float:right;width:235px}
.content-right .pic-list{position:relative;width:235px;height:235px;margin-bottom:20px}
.content-right a:nth-child(1) .pic-list{background:url(../img/bg/campus.jpg) no-repeat}
.content-right a:nth-child(2) .pic-list{background:url(../img/bg/job.jpg) no-repeat}
.pic-inner{position:absolute;bottom:21px;left:61px;color:#7cbf59;font-size:16px}
.pic-inner h3{float:left;width:48px;font-weight:700;font-size:16px;color:#87919e}
#advice-tar{float:left;font-size:16px;line-height:16px}
#advice-tar:before{content:'·';float:left;font-size:40px;color:#87919e;margin-right:2px}
#advice-tar-more{float:right;margin-bottom:11px;cursor:pointer;color:#87919e}
#advice-tar-more:hover{color:#7cbf59}
.advice-header{overflow:hidden;border-bottom:1px solid #ddd}
#suggest-advice ul li{clear:both;line-height:14px;padding:20px 0 7px 0;border-bottom:1px solid #f6f8f9;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;cursor:pointer}
#suggest-advice ul a{color:#87919e}
#suggest-advice ul a:hover{color:#7cbf59;text-decoration:none}
#suggest-advice ul li:before{content:'·';float:left;font-size:12px;color:#87919e;margin-right:8px;margin-left:3px}
.footer-page{overflow:hidden;margin:34px -18px 46px 0}
.footer-page ul{float:right}
.footer-page li{float:left;line-height:14px;margin-right:34px;cursor:pointer}
.footer-page a{color:#87919e}
.footer-page a:hover{color:#7cbf59;text-decoration:none}
.footer-page .page-omit{margin-left:-10px;margin-right:28px}
.footer-page li .footerCur{color:#7cbf59}
.banner-footer{position:relative;margin-bottom:47px;cursor:pointer}
#banner-font{position:absolute;bottom:10px;left:12px;font-size:18px;font-weight:700;color:#fff}
#banner-reg{position:absolute;width:100px;bottom:10px;right:23px;font-size:18px;color:#fff;text-align:center}
.approve{display:inline-block;width:17px;height:14px;font-size:0;background:url(../../static/img/icon/auth.png) no-repeat;margin:0 0 2px 3px}
.no-resulet{margin-top:47px;margin-bottom:434px;height:170px;width:735px;background:url(../../static/img/bg/noresult.jpg) no-repeat}
