@using Campus.Recruitment.Models
@{
    //判断是否登录
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "关于我们";
}

<link rel="stylesheet" type="text/css" href="@AppSetting.Rss_Image/Content/static/student/css/about/index.css">


<div class="container">
    <div class="inn-container">
        <div class="left-nav">
            <ul>
                <li class="nav-list-title" style="width:254px;height:50px;">新起点校园招聘网</li>
                <li class="nav-list active" style="width:254px;height:50px;"><a href="/site/about">关于新起点</a></li>
                <li class="nav-list" style="width:254px;height:50px;"><a href="/site/news">新闻报道</a></li>
                <li class="nav-list" style="width:254px;height:50px;"><a href="/site/employee-life">员工生活</a></li>
                <li class="nav-list" style="width:254px;height:50px;"><a target="_blank" href="http://company.zheyibu.com/359515/jobs-1.html">加入我们</a></li>
                <li class="nav-list" style="width:254px;height:50px;"><a href="/site/contact">联系我们</a></li>
            </ul>
        </div>
        <div class="right-content-about">
            <div class="about-info">
                <div class="info">
                    <p class="title">关于新起点</p>
                    <div class="p-con">
                        <img class="about-logo" src="@AppSetting.Rss_Image/Content/static/student/images/icon/about-logo.png" width="142" height="70">
                        <p class="about">新起点校园招聘网隶属于北京拓优顾问有限公司，是国内领先的网络招聘服务平台，专注于大学生求职的校园招聘网站。</p>
                        <p class="about">北京拓优顾问有限公司（以下简称拓优），成立于1999年，是国内成立最早的一批猎头公司之一。发展至今，拓优在全国拥有11个资源共享的分支机构及200多名专业顾问，超过1/3的世界500强成为拓优的客户。猎头服务，是人力资源咨询行业的奢侈品，拓优也一直定位为客户的招聘专家。</p>
                        <p>2012年，新起点校园招聘网正式发布测试版，猎头咨询和校园招聘正式成为拓优两部分核心业务，目前校园招聘网站 有超过5000个激活企业客户。网站以提高毕业生就业成功率和企业校园招聘满意度为宗旨，采用校招新模式，实现职位精准推送，加强校企合作。一方面为在校大学生提供完整的招聘信息（职位、宣讲会、招聘会）和简历投递、求职反馈服务，旨在实现学生一站式求职。另一方面为企业提供专业、完整、有针对性的校园招聘解决方案，帮助企业解决校园招聘问题。</p>
                        <p>新起点校园招聘网不断加强网络平台的交流、互动，推动招聘求职信息的公开、对称。从2013年开始，新起点校园招聘网成功帮助数百万的大学生找到了适合自己的工作。通过为大学生提供丰富的免费职位信息，打造匹配的职位搜索引擎，创造流畅的信息交流渠道，新起点校园招聘网已经成为越来越多大学生求职的首选网站。</p>
                        <p>基于以用户为中心的网站构建理念，新起点校园招聘网在致力于为企业和大学生提供最友好、最满意的用户体验方面做出了不懈的努力。凭借强大的技术实力，新起点校园招聘网多次对产品性能和网站界面进行优化，不断提升网站的有用性和易用性，全方位提升用户满意度。</p>
                        <p>我们坚信，选择新起点校园招聘网，新起点就能帮到你，相信新起点校园招聘网，新起点就在你身边！</p>
                        <p>新起点校园招聘网专注梦想，与你同行！！！</p>
                    </div>
                </div>
                <div class="info">
                    <p class="title">公司视频</p>
                    <p class="video-name">新起点宣传视频</p>
                    <div class="zyb-video">
                        <embed src="http://player.youku.com/player.php/sid/XNzkzNDI4NDE2/v.swf" allowfullscreen="true" quality="high" width="690" height="440" align="middle" allowscriptaccess="always" type="application/x-shockwave-flash">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


