@using Campus.Recruitment.Models
@{
    //判断是否登录
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "联系我们";
}

<link rel="stylesheet" type="text/css" href="@AppSetting.Rss_Image/Content/static/student/css/about/index.css">

<div class="container">
    <div class="inn-container">
        <div class="left-nav">
            <ul>
                <li class="nav-list-title" style="width:254px;height:50px;">新起点校园招聘网</li>
                <li class="nav-list" style="width:254px;height:50px;"><a href="/site/about">关于新起点</a></li>
                <li class="nav-list" style="width:254px;height:50px;"><a href="/site/news">新闻报道</a></li>
                <li class="nav-list" style="width:254px;height:50px;"><a href="/site/employee-life">员工生活</a></li>
                <li class="nav-list" style="width:254px;height:50px;"><a target="_blank" href="http://company.zheyibu.com/359515/jobs-1.html">加入我们</a></li>
                <li class="nav-list active" style="width:254px;height:50px;"><a href="/site/contact">联系我们</a></li>
            </ul>
        </div>
        <div class="right-content-about">
            <div class="about-info">
                <div class="info">
                    <p class="title">企业合作</p>
                    <div class="contact-con">
                        <i></i>
                        <div class="contact">
                            <p>电话</p>
                            <p>021-58360268-807</p>
                            <p class="fragile">周一至周五(9:00～12:00 14:30～18:00)</p>
                        </div>
                    </div>
                    <div class="contact-con">
                        <i class="email"></i>
                        <div class="contact">
                            <p>邮箱</p>
                            <p>c07@topuc.com</p>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <p class="title">公司地址</p>
                    <div class="zyb-map"></div>
                    <table align="center" border="0" class="map-table">
                        <colgroup>
                            <col width="100">
                            <col width="398">
                            <col width="82">
                            <col width="118">
                        </colgroup>
                        <thead>
                            <tr>
                                <th align="left">城市</th>
                                <th align="left">地址</th>
                                <th align="left">邮编</th>
                                <th align="left">电话</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>上海（总部）</td>
                                <td>上海市浦东新区张杨路620号中融恒瑞东楼2003室</td>
                                <td>200120</td>
                                <td>021-58360268</td>
                            </tr>
                            <tr>
                                <td>北京</td>
                                <td>北京市朝阳区朝外大街18号丰联广场A座2211室</td>
                                <td>100026</td>
                                <td>010-65880806</td>
                            </tr>
                            <tr>
                                <td>广州</td>
                                <td>广州市越秀区环市东路403号广州国际电子大厦1307室</td>
                                <td>510095</td>
                                <td>020-37581414</td>
                            </tr>
                            <tr>
                                <td>深圳</td>
                                <td>深圳市南山区南山大道1092号亿利达大厦2栋12层A01、03室</td>
                                <td>518054</td>
                                <td>0755-26050751</td>
                            </tr>
                            <tr>
                                <td>济南</td>
                                <td>济南市英雄山路84号名商广场B座1101室</td>
                                <td>250002</td>
                                <td>0531-83182902</td>
                            </tr>
                            <tr>
                                <td>武汉</td>
                                <td>武汉市武昌区中南路14号世纪广场B座8008室</td>
                                <td>430071</td>
                                <td>027-87269950</td>
                            </tr>
                            <tr>
                                <td>西安</td>
                                <td>西安市二环南路西段188号高新三路财富中心D座1307室</td>
                                <td>710075</td>
                                <td>029-65677039</td>
                            </tr>
                            <tr>
                                <td>长沙</td>
                                <td>长沙市芙蓉区芙蓉中路388号定王大厦2220室</td>
                                <td>410005</td>
                                <td>0731-89970803</td>
                            </tr>
                            <tr>
                                <td>成都</td>
                                <td>成都市成华区建设路55号华联东环广场1808室</td>
                                <td>610051</td>
                                <td>028-83260788</td>
                            </tr>
                            <tr>
                                <td>南京</td>
                                <td>南京市玄武区珠江路新世界中心A座1512室</td>
                                <td>210008</td>
                                <td>025-85860390</td>
                            </tr>
                            <tr>
                                <td class="city">青岛</td>
                                <td>青岛市崂山区海尔路63号数码科技中心A座902</td>
                                <td>266101</td>
                                <td>0532-55578560</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


