@using Campus.Recruitment.Models
@{
    //判断是否登录
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "联系我们";
}

<link rel="stylesheet" type="text/css" href="@AppSetting.Rss_Image/Content/static/student/css/about/index.css">

<div class="container">
    <div class="inn-container">
        <div class="left-nav">
            <ul>
                <li class="nav-list-title" style="width:254px;height:50px;">就业联盟8校园招聘网</li>
                <li class="nav-list" style="width:254px;height:50px;"><a href="/site/about">关于就业联盟8</a></li>
                <li class="nav-list active" style="width:254px;height:50px;"><a href="/site/contact">联系我们</a></li>
            </ul>
        </div>
        <div class="right-content-about">
            <div class="about-info">
                <div class="info">
                    <p class="title">企业合作</p>
                    <div class="contact-con">
                        <i></i>
                        <div class="contact">
                            <p>电话</p>
                            <p>021-84222716  </p>
                            <p class="fragile">周一至周五(9:00～12:00 14:30～18:00)</p>
                        </div>
                    </div>
                    <div class="contact-con">
                        <i class="email"></i>
                        <div class="contact">
                            <p>邮箱</p>
                            <p>103815153@qq.com</p>
                        </div>
                    </div>
                </div>
                <div class="info">
                    <p class="title">公司地址</p>
                    <div class="zyb-map"></div>
                    <table align="center" border="0" class="map-table">
                        <colgroup>
                            <col width="100">
                            <col width="398">
                            <col width="82">
                            <col width="118">
                        </colgroup>
                        <thead>
                            <tr>
                                <th align="left">城市</th>
                                <th align="left">地址</th>
                                <th align="left">邮编</th>
                                <th align="left">电话</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>武汉（总部）</td>
                                <td>湖北省武汉市汉阳区沌口经济技术开发区万达广场B2-2010</td>
                                <td>430056</td>
                                <td>021-84222716</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


