.fpwd-wrap{width:805px;margin:55px auto 100px}
.fpwd-title{width:805px;height:65px;background:url(../../enterprise/static/img/account/fpwd-title-bg.png) no-repeat}
.fpwd-title-step1{background-position:0 0}
.fpwd-title-step2{background-position:0 -62px}
.fpwd-title-step3{background-position:0 -128px}
.fpwd-success-title{background:url(../../enterprise/static/img/account/fpws-success-title-bg.png) no-repeat}
.fpwd-content{width:800px;background:#EBF2FA;border:1px solid #CBEBFD;margin-top:35px}
.reg-form{padding:45px 0 25px 70px}
.reg-form .ui-form-item{position:relative;clear:both;margin-bottom:20px;zoom:1}
.reg-form .ui-form-item:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.reg-form .ui-form-item-submit{margin-top:30px;margin-left:96px}
.reg-form .ui-form-item-submit a{color:#338BE3;text-decoration:none}
.reg-form .item-label{display:block;float:left;height:32px;width:80px;margin-right:15px;line-height:46px;font-size:14px;color:#666;text-align:right}
.reg-form label em{color:#f30;font-size:14px;font-family:Simsun;margin-right:3px}
.reg-form .ui-text{width:286px;height:22px;float:left}
.reg-form .ui-text-s{width:66px;height:22px;float:left}
.reg-form .ui-text-m{width:106px;height:22px;float:left}
.reg-form .validateCode{width:196px}
.reg-form .registered{position:absolute;left:175px;top:18px;font-size:14px}
.reg-form .fileuploader{position:relative}
.reg-form .ui-form-item div.error-explain{float:left;position:relative;top:18px;color:#fc4343;height:16px;line-height:14px;padding-left:10px}
.reset-pwd{padding:75px 0 80px 125px;overflow:hidden}
.icon-tips{width:44px;height:54px;display:inline-block;float:left;background:url(../../enterprise/static/img/account/icon-success.png) no-repeat}
.icon-success{background-position:0 10px}
.send-email-info{float:left;margin-left:30px}
.send-email-info p{font-size:14px;color:#666}
.s-email em{font-size:20px;color:#00B72C}
.received{margin:20px 0}
.unreceived p{font-size:12px;font-family:songti;color:#999;line-height:22px}
.unreceived p .resend{color:#338BE3;text-decoration:none}
.username-txt{line-height:30px;color:#4566A3;font-size:14px;font-family:songti}
.hint{line-height:30px;color:#666;font-size:14px;font-family:songti}
.checkcode-img,.checkcode-link{float:left;margin-top:8px}
.checkcode-link{position:relative;display:block;top:6px;margin-left:10px}
.reset-success-info{margin:0 auto;width:420px;padding:90px 0 30px 0}
.reset-success-info h2{font-size:20px;font-weight:700;color:#00B72C;margin-left:80px}
.reset-success-info p{font-size:14px;color:#666;margin-top:10px;margin-left:80px}
