@using Campus.Recruitment.Models
@{
    //判断是否登录
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "求职攻略详情";
}

<link href="@AppSetting.Rss_Image/Content/static/student/css/advice/adviceDetails.css" rel="stylesheet" type="text/css" />

<div id="homepage-container">
    <div class="homepage-container">
        <!-- 主内容区 start -->
        <div class="search-result">
            <div class="advice-left">
                <!-- 文章列表页 start -->
                <ul class="left-advice">
                    <li>
                        <div class="advice-content">
                            <div class="details-title">
                                <span class="title-name">一个大三生的前端工程师实习求职历程</span>
                                <span>网络 2017-05-05</span>
                            </div>
                            <div class="details-paragraph">
                                <p style="text-indent: 0em;">
                                    <br />
                                </p>
                                <p style="text-indent: 0em; text-align: center;"><img src="/Content/admin/Scripts/Ueditor/net/upload/2017-05-05/17f2d9d2-b134-442f-9a64-cc0ac16667d0.png" title="前端.png" /></p>
                                <p style="text-indent: 0em;">
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><strong>写在前面</strong></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">结果</p>
                                <p style="text-indent: 2em;">•决定实习的<a href='http://company.zheyibu.com/932590/' target='_blank'>公司</a>：腾讯CDG&nbsp;</p>
                                <p style="text-indent: 2em;">•拿到实习<a href='http://company.zheyibu.com/924155/' target='_blank'>OF</a>fer的<a href='http://company.zheyibu.com/932590/' target='_blank'>公司</a>：腾讯CDG、阿里巴巴蚂蚁金服、欢聚时代YY、<a href='http://company.zheyibu.com/892139/' target='_blank'>中国平安</a>&nbsp;</p>
                                <p style="text-indent: 2em;">•未通过或者主动放弃或者石沉大海的<a href='http://company.zheyibu.com/932590/' target='_blank'>公司</a>：<a href='http://company.zheyibu.com/113853/' target='_blank'>百度</a>、网易、<a href='http://company.zheyibu.com/113853/' target='_blank'>百度</a>、<a href='http://company.zheyibu.com/870180/' target='_blank'>京东</a>、<a href='http://company.zheyibu.com/283828/' target='_blank'>华为</a>、360、美团等等等等等等<a href='http://company.zheyibu.com/862612/' target='_blank'>无</a>数间。&nbsp;</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><strong>统计</strong></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">来来去去自己投的<a href='http://company.zheyibu.com/932590/' target='_blank'>公司</a>有21、22间左右，最终也能拿到4个<a href='http://company.zheyibu.com/924155/' target='_blank'>OF</a>fer其中包含自己理想的<a href='http://company.zheyibu.com/924155/' target='_blank'>OF</a>fer也是算比较幸运了！</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">直接进入正题（就分享几件比较大的<a href='http://company.zheyibu.com/932590/' target='_blank'>公司</a>的面经吧）</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><strong>阿里面试</strong></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><span style="color: rgb(227, 108, 9);">阿里一面（50min）</span></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">1.为什么选择前端&nbsp;</p>
                                <p style="text-indent: 2em;">2.js的基本类型有哪些？引用类型有哪些？null和und<a href='http://company.zheyibu.com/948045/' target='_blank'>EF</a>ined的区别。Object是引用类型嘛？引用类型和基本类型有什么区别？哪个是存在堆哪一个是存在栈上面的？&nbsp;</p>
                                <p style="text-indent: 2em;">3.js的继承有哪些？分别列出他们的特点？&nbsp;</p>
                                <p style="text-indent: 2em;">4.原型链的概念？原型和原型链的区别？&nbsp;</p>
                                <p style="text-indent: 2em;">5.用过es6嘛？用过。那么es6的继承和es5的继承有什么区别？&nbsp;</p>
                                <p style="text-indent: 2em;">6.vue1和vue2的区别？&nbsp;</p>
                                <p style="text-indent: 2em;">7.css布局问题？css实现三列布局怎么做？如果中间是自适应又怎么做？&nbsp;</p>
                                <p style="text-indent: 2em;">8.用过flex嘛？用flex怎么实现一个直径100px的圆放在屏幕中间？你又有什么其他方法吗？讲的越多越好？&nbsp;</p>
                                <p style="text-indent: 2em;">9.网络url输入到输出怎么做？&nbsp;</p>
                                <p style="text-indent: 2em;">10.https（对是https）有几次握手和挥手？https的原理。http有几次挥手和握手？TLS的中文名？TLS在哪一网络层？&nbsp;</p>
                                <p style="text-indent: 2em;">11.你知道的负载均衡有哪些方法？我答Dns和Nginx可以？那么Dns怎么做负载均衡的原理？dns是基于tcp还是udp？Nginx的原理？正向代理和反向代理的区别？&nbsp;</p>
                                <p style="text-indent: 2em;">12.网络模型中有几层？Http在哪一层tcp在哪一层？&nbsp;</p>
                                <p style="text-indent: 2em;">13.浏览器问题：浏览器怎么加载页面的？script脚本阻塞有什么解决方法？d<a href='http://company.zheyibu.com/948045/' target='_blank'>EF</a>er和async的区别？&nbsp;</p>
                                <p style="text-indent: 2em;">14.Nodejs中的Stream和Buffer有什么区别？&nbsp;</p>
                                <p style="text-indent: 2em;">15.C++中的析构函数有什么作用？&nbsp;</p>
                                <p style="text-indent: 2em;">16.最后给了我一个github还问了我的github的项目怎么样维护&nbsp;</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><span style="color: rgb(227, 108, 9);">阿里二面（8min）</span></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">1.自我介绍&nbsp;</p>
                                <p style="text-indent: 2em;">2.排序算法用过哪些？查找用过哪些？他们的复杂度是什么？什么情况下更适合？&nbsp;</p>
                                <p style="text-indent: 2em;">3.js的设计模式知道那些？实战再举一些例子&nbsp;</p>
                                <p style="text-indent: 2em;">4.你做过什么项目？&nbsp;</p>
                                <p style="text-indent: 2em;">5.你对工作地点什么选择？&nbsp;</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><span style="color: rgb(227, 108, 9);">阿里三面(20min)</span></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">1.项目。项目的细节</p>
                                <p style="text-indent: 2em;">2.现在在做什么项目？</p>
                                <p style="text-indent: 2em;">3.目标学习路线工作地点等等？</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><span style="color: rgb(227, 108, 9);">总结阿里</span></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">一面问得很广很难，只不过可能之前做了不少准备，而且思路是跟着我走的，所以基本上95%都答上来了。后来知道一面的面试官是一个大牛，也给了我不少的学习建议，也直接当场就让我过了一面，可能一面答的比较好，所以二三面面试官都没有过多的问细节问题，自然也就轻松许多。</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">阿里的HR真的要认真的准备！大家都听过hr挂人吧？阿里的hr政委很厉害的。好好准备hr</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">阿里的的却却是一家很有<a href='http://www.zheyibu.com/search/jobs/?q=技术' target='_blank'>技术</a>的<a href='http://company.zheyibu.com/932590/' target='_blank'>公司</a>，但是有很多客观的原因，很遗憾后来没有选择阿里吧。</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><strong>腾讯面试</strong></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">毫不避讳的说，我腾讯面试失败了３次。第一次内推的电话没有接，内推失败。笔试并没有过，笔试那天状态不好而且因为时间问题也没有做完，分数非常底（二面面试官告诉我的）。霸面腾讯！霸面第一次我看到我的简历被一位面试官扔到一个画着叉叉的文件夹里面，就是等于被刷了。我很不要脸的又投了一份简历，第四次成功被一面面试官捞起来，经历一面二面hr面最终进了腾讯。</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><span style="color: rgb(227, 108, 9);">腾讯一面（35min）</span></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">1.自我介绍&nbsp;</p>
                                <p style="text-indent: 2em;">2.介绍项目？对项目中的http请求头方法进行了深入的交流&nbsp;</p>
                                <p style="text-indent: 2em;">3.Vue的优点和缺点&nbsp;</p>
                                <p style="text-indent: 2em;">4.前后端分离的缺点优点？怎么做？　还看了我github上面的在线网页简历&nbsp;</p>
                                <p style="text-indent: 2em;">5.Soc<a href='http://company.zheyibu.com/909709/' target='_blank'>KE</a>tIO的解决点？什么情况下用到&nbsp;</p>
                                <p style="text-indent: 2em;">6.微信和<a href='http://company.zheyibu.com/1371742/' target='_blank'>qq</a>要是想定时更换前端to<a href='http://company.zheyibu.com/909709/' target='_blank'>KE</a>n怎么做？服务器主动推有什么方法？&nbsp;</p>
                                <p style="text-indent: 2em;">7.你在项目团队中担任什么角色？&nbsp;</p>
                                <p style="text-indent: 2em;">8.网络的模式从地到高有多少层？分别是什么？&nbsp;</p>
                                <p style="text-indent: 2em;">9.tcp在哪一层？http在哪一层？ip在哪一层？tcp的三次握手和四次挥手画图（当场画写ack 和 seq的值）？为什么tcp要三次握手四次挥手？&nbsp;</p>
                                <p style="text-indent: 2em;">10.get和post请求的区别？什么情况下用到？&nbsp;</p>
                                <p style="text-indent: 2em;">11.多线程和多进程的区别？&nbsp;</p>
                                <p style="text-indent: 2em;">12.100万个数抽100个怎么做？用什么数据结构？&nbsp;</p>
                                <p style="text-indent: 2em;">13.移动端做过嘛？&nbsp;</p>
                                <p style="text-indent: 2em;">14.今后的学习路线？&nbsp;</p>
                                <p style="text-indent: 2em;">15.问一下霸面之前什么腾讯部门的？&nbsp;</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><span style="color: rgb(227, 108, 9);">腾讯二面（35min）</span></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">1.笔试成绩的分析（这个确实当时有点粗心）&nbsp;</p>
                                <p style="text-indent: 2em;">2.讲一讲项目&nbsp;</p>
                                <p style="text-indent: 2em;">3.如何设计面试的时候这个酒店的电梯&nbsp;</p>
                                <p style="text-indent: 2em;">4.手写一个冒泡的排序（当时有点伤心和紧张又粗心漏写了交换条件）&nbsp;</p>
                                <p style="text-indent: 2em;">5.今后的学习路线&nbsp;</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><span style="color: rgb(227, 108, 9);">腾讯总结：</span></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">其实很庆幸自己不放弃，４战腾讯，终于给了我<a href='http://company.zheyibu.com/924155/' target='_blank'>OF</a>fer。也从腾讯面试中看到自己很多不足，自己的细心的程度不够，对细节的重视程度不够，要更好的提高自己的分析能力和全局观。所以这也是后来我去腾讯原因，也相信自己能在腾讯学到更多的东西。而且腾讯的hr人真的很好，整个腾讯给我的氛围就是在轻松活跃中开心学习工作，贡献自己的价值。</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><strong><a href='http://company.zheyibu.com/113853/' target='_blank'>百度</a></strong></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><span style="color: rgb(227, 108, 9);"><a href='http://company.zheyibu.com/113853/' target='_blank'>百度</a>一面（45min</span>　女面试官人超级好　当时因为感冒说不出声　她叫我多喝热水）</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">1.自我介绍&nbsp;</p>
                                <p style="text-indent: 2em;">2.ajax的了解，原生ajax的status和statuscode有哪些对应那些状态？&nbsp;</p>
                                <p style="text-indent: 2em;">3.原生ajax的实现步骤&nbsp;</p>
                                <p style="text-indent: 2em;">4.对闭包的理解？什么时候构成闭包？闭包的实现方法？闭包的优缺点？&nbsp;</p>
                                <p style="text-indent: 2em;">5.函数return 形式的闭包的promise写法&nbsp;</p>
                                <p style="text-indent: 2em;">6.函数的作用域是什么？&nbsp;</p>
                                <p style="text-indent: 2em;">7.js的继承和继承的方法和优缺点？&nbsp;</p>
                                <p style="text-indent: 2em;">8.css垂直居中的方式？&nbsp;</p>
                                <p style="text-indent: 2em;">9.怎么样禁止浏览器默认事件？怎么样防止冒泡？&nbsp;</p>
                                <p style="text-indent: 2em;">10.做的项目？聊了很久很久项目&nbsp;</p>
                                <p style="text-indent: 2em;">11.数据结构中常见的排序和查找？复杂度？优缺点？实现原理？&nbsp;</p>
                                <p style="text-indent: 2em;">12.堆排序的原理？&nbsp;</p>
                                <p style="text-indent: 2em;">13.说出越多越好的费波拉切数列的实现方法？&nbsp;</p>
                                <p style="text-indent: 2em;">14.r<a href='http://company.zheyibu.com/890052/' target='_blank'>E.C.</a>和vue的生命周期？&nbsp;</p>
                                <p style="text-indent: 2em;">15.用过nodejs嘛？&nbsp;</p>
                                <p style="text-indent: 2em;">16.设计模式知道哪些？&nbsp;</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><span style="color: rgb(227, 108, 9);"><a href='http://company.zheyibu.com/113853/' target='_blank'>百度</a>总结</span></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">为什么只有一面呢？因为一面的面试官和我说一面通过了，过了两个星期。有一个<a href='http://company.zheyibu.com/113853/' target='_blank'>百度</a>的<a href='http://company.zheyibu.com/215842/' target='_blank'>联系</a>我说他们<a href='http://www.zheyibu.com/shixi' target='_blank'>实习生</a>已经满人了，有一家<a href='http://company.zheyibu.com/113853/' target='_blank'>百度</a>的外包<a href='http://company.zheyibu.com/932590/' target='_blank'>公司</a>去不去？后来自己也觉得进不了正式的<a href='http://company.zheyibu.com/113853/' target='_blank'>百度</a>了？也就打算不去<a href='http://company.zheyibu.com/113853/' target='_blank'>百度</a>实习了。也就拒绝了二面吧。也是有点遗憾。</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><strong>欢聚时代YY</strong></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><span style="color: rgb(227, 108, 9);">YY一面（30min）</span></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">1.自我介绍&nbsp;</p>
                                <p style="text-indent: 2em;">2.项目&nbsp;</p>
                                <p style="text-indent: 2em;">3.前后端分离怎么做？意义？&nbsp;</p>
                                <p style="text-indent: 2em;">4.cdn的用法是什么？什么时候用到？&nbsp;</p>
                                <p style="text-indent: 2em;">5.浏览器的页面优化？&nbsp;</p>
                                <p style="text-indent: 2em;">6.浏览器缓存问题Etag last-modified等等的原理&nbsp;</p>
                                <p style="text-indent: 2em;">7.css的怪异盒模型&nbsp;</p>
                                <p style="text-indent: 2em;">8.css3的一些举例和用法？好处是什么？&nbsp;</p>
                                <p style="text-indent: 2em;">9.es6用过嘛？你觉得es6最大的语法糖是什么？&nbsp;</p>
                                <p style="text-indent: 2em;">10.看你的项目很多都是web应用　你有做过单页网页嘛？&nbsp;</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><span style="color: rgb(227, 108, 9);">YY二面(20min)</span></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">1.项目?一直问项目。还看我github和网上的简历，也提出了优化的意见&nbsp;</p>
                                <p style="text-indent: 2em;">2.有什么要了解的？&nbsp;</p>
                                <p style="text-indent: 2em;">3.推荐我一款app，哈哈。&nbsp;</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><span style="color: rgb(227, 108, 9);">总结YY</span></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">其实YY这个企业是很不错的。企业的氛围很好，现在yy有了新的办公楼环境也很不错。只不过因为拿到更好的<a href='http://company.zheyibu.com/924155/' target='_blank'>OF</a>fer了就没有选择yy。只能有机会再见面了。</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;"><strong>写在后面的话</strong></p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">还有很多很多很多面试，我也就不一一的列举了，大家可能关心的也就是这几家的面试了吧。如果全部都要说那真的说一天一夜都说不完。</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">其实我觉得自己纯属运气好，我觉得自己真的不牛，可能面试官对口而已。面试真的是6分实力　4分运气。没有运气你也只能从及格线开始扣分。</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">也给几个建议:</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">1.面试不是你不会，是你不会表达。其实如果你会表达就算你错了，也可以让面试官知道你的想法，面试官不可能强求你什么都会，他们更注重的是想法，就像我腾讯一面官说的，就算是腾讯内部也会把简单的事情想复杂，但是这并不可怕，表达清楚出你的想法，你就有机会得到优化建议，如果表达不出的话，那你真的什么都没有了。&nbsp;</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">2.早点准备！如果你大学就想着去就业。那么早点确认你的方向。早点学习你的方向，你想做前端？ok早点决定坚持下来，你想做安卓?ok没问题。坚持下来。不要临时抱佛脚，没有一段时间积累学习，根本禁不起面试官的折腾。还有一点：前端水深、<a href='http://www.zheyibu.com/search/jobs/?q=前端开发' target='_blank'>前端开发</a>不简单、不简单、不简单。（重要说三遍）&nbsp;</p>
                                <p>
                                    <br />
                                </p>
                                <p style="text-indent: 2em;">最后祝大家都找到自己心意的<a href='http://company.zheyibu.com/932590/' target='_blank'>公司</a><a href='http://company.zheyibu.com/881593/' target='_blank'>实习吧</a>。</p>
                                <p>
                                    <br />
                                </p>
                                <p>来源：nowcoder.com</p>
                                <p>
                                    <br />
                                </p>
                                <div class="details-tag cf">
                                    <div class="tags">
                                        标签：
                                        <a href="http://www.zheyibu.com/article/tag/1352" class="article-tag">实习</a>
                                        <a href="http://www.zheyibu.com/article/tag/2352" class="article-tag">面经</a>
                                        <a href="http://www.zheyibu.com/article/tag/4451" class="article-tag">前端</a>
                                    </div>
                                    <div class="actions">
                                        <i class="active"></i>
                                        <span class="liked-num">0</span>
                                        <span> | </span>
                                        <label>分享到：</label>
                                        <!-- Baidu Button BEGIN -->
                                        <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1453944505417">
                                            <a href="#" class="bds_more" data-cmd="more"></a>
                                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                                            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                        </div>
                                        <!-- Baidu Button END -->
                                    </div>
                                </div>
                                <img src="/Content/static/student/images/icon/job_wechat.png" class="img-footer" />
                                <div class="details-page">
                                    <a href="http://www.zheyibu.com/article/5725.html" class="page-pre">下一篇</a>
                                </div>
                                <ul class="page-relevent"></ul>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- 文章列表页 end -->
            </div>
            <div class="advice-right">
                <!-- 文章搜索 start -->
                <div class="article-right">
                    <div class="article-header">
                        <span>文章搜索</span>
                        <form action="/article/" method="get">
                            <input type="text" name="q" class="search-article" placeholder="关键词搜索">
                            <input type="submit" value="" class="article-btn" />
                        </form>
                    </div>
                    <div class="hot-article">
                        <i></i>
                        <p class="hot-title">热门文章</p>
                        <ul>
                            <li><i class="hot_1">1</i><a href="/article/4767.html" target="_blank" title="2016腾讯暑期实习IEG事业群营销岗面经+已拿offer">2016腾讯暑期实习IEG事业群营...</a></li>
                            <li><i class="hot_2">2</i><a href="/article/4768.html" target="_blank" title="为什么你的实习不能转正？">为什么你的实习不能转正？</a></li>
                            <li><i class="hot_3">3</i><a href="/article/4910.html" target="_blank" title="大三通过SLP拿下安永全职Offer，如何入坑">大三通过SLP拿下安永全职Offe...</a></li>
                            <li><i class="hot_4">4</i><a href="/article/5160.html" target="_blank" title="数据挖掘岗求职经验：腾讯+百度+华为（均拿到sp offer）">数据挖掘岗求职经验：腾讯+百...</a></li>
                            <li><i class="hot_5">5</i><a href="/article/5400.html" target="_blank" title="回顾2017宝洁PS部门校招offer之路">回顾2017宝洁PS部门校招offer...</a></li>
                            <li><i class="hot_common">6</i><a href="/article/5488.html" target="_blank" title="当面试官问：你还去哪面试了？怎样回答最得体？">当面试官问：你还去哪面试了...</a></li>
                            <li><i class="hot_common">7</i><a href="/article/5493.html" target="_blank" title="2017普华永道pwc春季补招经验分享">2017普华永道pwc春季补招经验...</a></li>
                            <li><i class="hot_common">8</i><a href="/article/5522.html" target="_blank" title="面试100人，我来告诉你为何被PASS">面试100人，我来告诉你为何被...</a></li>
                        </ul>
                    </div>
                </div>
                <!-- 文章搜索 end -->
                <!-- 热门标签 start -->
                <div class="hotlink-right">
                    <i></i>
                    <p>热门标签</p>
                    <a href="/article/tag/539/" title="管培生">管培生</a>
                    <a href="/article/tag/652/" title="快消行业">快消行业</a>
                    <a href="/article/tag/818/" title="简历">简历</a>
                    <a href="/article/tag/872/" title="职业规划">职业规划</a>
                    <a href="/article/tag/1214/" title="面试技巧">面试技巧</a>
                    <a href="/article/tag/1408/" title="面试着装">面试着装</a>
                    <a href="/article/tag/1967/" title="沟通">沟通</a>
                    <a href="/article/tag/1991/" title="互联网">互联网</a>
                    <a href="/article/tag/2248/" title="职场心态">职场心态</a>
                    <a href="/article/tag/2281/" title="医药医疗">医药医疗</a>
                    <a href="/article/tag/2310/" title="薪酬">薪酬</a>
                </div>
                <!-- 热门标签 end -->
            </div>
        </div>
        <!-- 主内容区 end -->
    </div>
</div>

<script type="text/javascript">
    var id = $('#idArticle').val();

    $('.details-tag').on('click', '.active', function() {
        var _this = $(this);
        $.ajax({
            url: '/article/dofavor',
            type: 'post',
            dataType: "json",
            data: "articleId=" + id,
            timeout: 5000,
            success: function(response) {
                $('.liked-num').html(response.count);
                _this.removeClass('active').addClass('inactive');
            }
        });

    });

    // $.get('/Article/RelatedArticles?id=' + id + "&articletype=" + 1, function (data) {
    //     $('.page-relevent').html(data);
    // });

    window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "",
            "bdMini": "2",
            "bdPic": "",
            "bdStyle": "0",
            "bdSize": "16"
        },
        "share": {}
    };
    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
    var num = $(".book-img").find("li").length,
        current = 0;
    $(".book-img").css("width", num * 194);
    $(".icon-next").click(function() {
        if ((num - 1) > current) {
            $(".book-img").animate({
                left: -194 * ++current
            }, 500)
        }
    });
    $(".icon-pre").click(function() {
        if (current != 0) {
            $(".book-img").animate({
                left: -194 * --current
            }, 500)
        }
    });
</script>
