.account{ border:1px #ebebeb solid; background: #fff; overflow: hidden;}
.account-sidebar{ float: left; width: 20%; height: 580px; background: #ebf2fa; border-right:1px #ebebeb solid;}
.account-sidebar h2{ border-bottom:1px #fafafa solid; height: 85px; line-height: 85px; font-size: 18px; color: #333333; padding-left: 60px;}
.account-sidebar a{ display: block; margin-bottom: -1px; border-top:1px #ebebeb solid; border-bottom:1px #ebebeb solid; text-align: center; line-height: 46px; font-size: 14px; color: #666;}
.account-sidebar a.active{  border-right:1px #fafafa solid; margin: 0 -1px -1px; background: #fafafa; border-left:3px #338be3 solid; color: #338be3; font-weight: bold;}
.account-content{ width: 79%; float: left;}
.account-content .form{ padding: 70px 50px;}
.account-content .form .option{ margin-bottom: 10px;}
.account-content .form .must-fill{ margin-bottom:5px; }
.account-content .form .option .icon_approve { background: url('../../static/img/profile/icon-auth.png') no-repeat; width:20px; height:22px; margin:0 0 5px 5px; }
.account-content .form .val{ font-size:14px; }
.account-content .form .must-fill .val{ margin-top:10px; }
.account-content .form .val-input{ width: 308px;}
.account-content .telephone input{ float: left; margin-right: 10px;}
.account-content .telephone .t-p1{ width: 78px;}
.account-content .telephone .t-p2{ width: 127px;}
.account-content .telephone .t-p3{ width: 78px;}
#OldPwd-error,#NewPwd-error,#ConfirmPwd-error,#ContactMan-error,#ContactMobile-error,#phone-error,#ContactEmail-error{display:block;line-height:1.5;color:#fb7922;padding-left:18px;background:url(../../static/img/form/error-info.png) left center no-repeat;clear:both}