button,input,keygen,select,textarea{font-size:14px;font-family:'microsoft yahei'}
.editing textarea,.form textarea{color:#666;border-radius:5px}
.simple-edit p{display:inline-block;color:#4566A3}
.simple-edit a{display:inline-block;margin-left:22px}
.simple-edit .edit-input{display:none;font-size:12px}
.simple-edit.editing .edit-input{display:block}
.simple-edit.editing .edit-value,.simple-edit.editing a{display:none}
.option.selectAlbum{position:relative;z-index:1}
.form.fieldW110 .field{width:110px}
.form .field{float:left;width:90px;line-height:42px;padding-right:10px;color:#666;text-align:right;font-size:16px}
.form .val{float:left;color:#666;position:relative}
.form .val-input{width:inherit;line-height:16px;height:16px;padding:10px 0 10px 10px;border:1px #d7d8dd solid;border-radius:5px;color:#666}
.form .val-input:focus,.form .val-input:hover,.form .val-textarea:focus,.form .val-textarea:hover{border-color:#338BE3}
.form .val-textarea{width:inherit;padding:6px 12px}
.form input.val-readonly{border:none;box-shadow:none;background:0 0;height:20px;line-height:20px;text-indent:0}
.form .option-tips{font-size:13px;line-height:19px;padding:10px 0;color:#999}
.form .require .field:before{content:"* ";color:#f30;font-family:simsun;font-style:normal}
.form .data-error{display:none;float:left;width:280px;margin:10px 0 0 100px;padding-left:18px;background:url(../../static/img/form/error-info.png) 0 center no-repeat;font-size:12px;color:#fb7922;clear:left}
.form .option.error .selectUi,.form .option.error .val-textarea,.form .option.error input{border-color:#fb7922}
.form .option.error .data-error{display:block}
.form1 .field{float:left;width:90px;line-height:42px;padding-right:10px;color:#666;text-align:right;font-size:16px}
.form1 .val{float:left;color:#666;position:relative}
.form1 .val-input{width:inherit;line-height:16px;height:16px;padding:10px 0 12px 8px;border:1px #d7d8dd solid;border-radius:5px;color:#666}
.form .val-input:focus,.form .val-textarea:focus,.form .val-textarea:hover,.form1 .val-input:hover{border-color:#338BE3}
.form1 .val-textarea{width:inherit;padding:6px 12px}
.form1 input.val-readonly{border:none;box-shadow:none;background:0 0;height:30px;line-height:30px;text-indent:0}
.form1 .option-tips{font-size:13px;line-height:19px;padding:10px 0;color:#999}
.form1 .require .field:before{content:"* ";color:#f30;font-family:simsun;font-style:normal}
.form1 .data-error{display:none;float:right;width:280px;margin:10px 0 0 100px;padding-left:18px;background:url(../../static/img/form/error-info.png) 0 center no-repeat;font-size:12px;color:#fb7922;clear:left}
.form .option.error .selectUi,.form .option.error .val-textarea,.form1 .option.error input{border-color:#fb7922}
.form1 .option.error .data-error{display:block}
#edm{padding-left:60px;background:url(../img/corp-dem.png) 0 8px no-repeat;font-size:14px;color:#666;cursor:pointer}
#edm.noedm{background-position: 0 -42px;cursor:pointer}
#newsForm .data-error{margin-left:98px;margin-bottom:10px;margin-top:-4px}
#loadingTip{position:absolute;left:0;bottom:0;width:110px;height:110px;background-color:rgba(0,0,0,.6);font-size:18px;line-height:110px;text-align:center;color:#ddd}
.uploader #loadingTip{width:100%;height:100%;line-height:98px}
.radioBox{overflow:hidden;margin-top:6px}
.radioBox .radioOption{display:inline-block;padding:0 18px 0 20px;font-size:inherit;line-height:inherit;position:relative;cursor:pointer}
.radioBox .radioOption:before{content:"";position:absolute;left:0;top:50%;margin-top:-8px;width:14px;height:14px;border-radius:50%;border:1px #338BE3 solid}
.radioBox .radioOption.selected:after{content:"";position:absolute;left:5px;top:50%;margin-top:-3px;width:6px;height:6px;border-radius:50%;background:#338BE3}
.selectUi{width:138px;padding:0 10px;height:40px;border:1px solid #d9d9d9;border-radius:3px;position:relative;float:left;cursor:pointer}
.selectUi.focus,.selectUi:hover{border-color:#338BE3}
.selectUi:before{content:"";border-top:7px #666 solid;border-left:7px transparent solid;border-right:7px transparent solid;position:absolute;top:17px;right:10px}
.selectUi:after{content:"";border-top:7px #FFF solid;border-left:7px transparent solid;border-right:7px transparent solid;position:absolute;top:18px;right:10px;margin-top:-2px}
.selectUi input{width:138px;line-height:16px;height:16px;vertical-align:middle;padding:12px 0;color:#666;overflow:hidden;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis}
.selectUi ul{width:100%;display:none;position:absolute;left:-1px;top:41px;overflow:hidden;background-color:#fff;max-height:150px;overflow-y:auto;border:1px solid #999;border-top:none;box-shadow:0 3px 5px #999;z-index:11}
.selectUi ul li{height:30px;line-height:30px;overflow:hidden;padding:0 10px;cursor:pointer;white-space:nowrap;text-overflow:ellipsis}
.selectUi ul li:hover{background-color:#93c3f3;color:#fff}
.selectUi ul .select-add{border-top:1px #e3e3e3 solid;color:#1972cc;margin:5px 12px;font-size:12px}
.webuploader-element-invisible{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
.errorClass{display:none;float:left;width:280px;margin:10px 0 0 140px;padding-left:18px;background:url(../../static/img/form/error-info.png) 0 center no-repeat;font-size:12px;color:#fb7922;clear:left}