@charset "utf-8";#dialogMask{display:none;content:"";position:fixed;left:0;top:0;z-index:100;width:100%;height:120%;background:#000;background:rgba(0,0,0,.5);filter:alpha(opacity=50)}
.pop-dialog{display:none;position:fixed;left:50%;top:50%;z-index:101;background:#fff;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.pop-dialog .close,.selectLayerUi_close{position:absolute;right:20px;top:50%;margin-top:-9px;width:20px;height:20px;background:url(../../static/img/dialog/close.png);cursor:pointer}
.pop-dialog-title{position:relative;line-height:46px;background:#338be3}
.pop-dialog-title h2{font-size:14px;padding:0 20px;color:#fff;font-weight:700}
.pop-dialog-content{padding:20px 20px 0 20px;overflow-y:auto;border-top:none;max-height:554px;overflow-x:hidden;max-height:440px;}
.pop-dialog-content .comp-tag{width:670px}
.pop-dialog-content #serviceForm,.pop-dialog-content #staffForm,.pop-dialog-content #uploadPicForm,.pop-dialog-content #videoForm{width:540px}
.pop-dialog-content .simple-text{font-size:14px;text-align:center;color:#666;margin-top:10px}
.pop-dialog .default-btn-bar{width:100%;margin:15px 0;text-align:center}
.pop-dialog .default-btn-bar button{margin:0 10px;display:inline-block}
.pop-dialog .pop-dialog{width:520px}
.pop-dialog .form .val{width:310px;position:static}
.pop-dialog .form .uploader{margin-top:10px}
.pop-dialog .form .field{font-size:14px}
.pop-dialog-content #createAlbumForm{width:450px}