.ui-select{position:relative;width:150px;line-height:30px;border:1px solid #d0dbe1;background:#fff;text-indent:10px;z-index:1;cursor:pointer}
.ui-select .select-result{line-height:16px;padding:6px 10px;border:1px solid #d9d9d9;background-color:#fff;border-radius:3px;position:relative;font-size:12px;cursor:pointer}
.ui-select .select-result:before{content:'';display:inline-block;position:absolute;border-left:7px solid transparent;border-right:7px solid transparent;border-top:7px solid #999;top:10px;right:10px}
.ui-select .select-result:after{content:'';display:inline-block;position:absolute;border-left:7px solid transparent;border-right:7px solid transparent;border-top:7px solid #FFF;top:9px;right:10px}
.ui-hide ul{display:none}
.ui-select ul{position:absolute;top:30px;left:-1px;right:0;width:150px;margin:0;padding:0;border:1px solid #7cbf59;border-top:0 none;overflow:auto;white-space:nowrap;color:#87919e;z-index:1}
.ui-select ul li{height:29px;background-color:#fff;padding-right:27px;line-height:14px;font-size:14px;list-style:none;cursor:pointer}
.ui-select ul li:nth-child(1){padding-top:10px}
.ui-select ul li:hover{color:#7cbf59}
