body,div,h1,h2,h3,h4,h5,h6,p,pre,blockquote,dl,dt,dd,ul,ol,li,form,fieldset,legend,input,textarea,button,th,td{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
a {text-decoration:none;}
.pRel {position:relative;}
.dN {display:none;}
.fl {float:left;}
.fr {float:right;}
.c333 {color:#333;}
.c666 {color:#666;}
.c999 {color:#999;}
.dib {display:inline-block;}
.db {display:block;}
.mr{margin-right: 100px;}
.textc {text-align:center;}
/*子集浮动Bug*/
.clearfix { zoom: 1; }
.clearfix:after,.clearfix:before {  zoom: 1;content: "."; display: block; visibility:hidden; height: 0; clear: both;font-size:0px;}
/*分页*/
/*页码样式*/
.page-footer{text-align:center;font-size:0;padding:30px 0;background:#fff;}
.page-footer li{display:inline-block;vertical-align:top;margin:0 5px;}
.page-footer a{display:inline-block;width:28px;line-height:28px;height:28px;text-align:center;vertical-align:middle;text-decoration:none;border:1px solid #ddd;font-size:14px;background:#fff;color:#888;}
.page-footer .omitPage{font-size:14px;}
.page-footer .current a{background:#7cbf59;color:#fff;border:1px solid #7cbf59;}
.page-footer .pre-page a{background:url(../../images/icon/search-icon.png) -34px -251px no-repeat;}
.page-footer .pre-page a:hover{background:url(../../images/icon/search-icon.png) -34px -289px no-repeat;background-color:#7cbf59;}
.page-footer .next-page a{background:url(../../images/icon/search-icon.png) -67px -251px no-repeat;}
.page-footer .next-page a:hover{background:url(../../images/icon/search-icon.png) -67px -289px no-repeat;background-color:#7cbf59;}
.page-container{min-height:752px;background-color:#f2f2f2;}
.page-container .page-content{width:1000px;margin:0 auto;padding-top:20px;}
.page-content .cont-left {float:left;width:200px;background:#fff;}
.page-content .cont-right {float:right;width:780px;margin-bottom:100px;}
.cont-left h3 {font-size:18px;color:#fff;padding-left:70px;line-height:60px;background:url(../../images/icon/item-icons.png) #7cbf59 no-repeat;}
.cont-left h3.account-set {background-position:9px -5px;}
.cont-left h3.my-message {background-position:9px -75px;}
.cont-left h3.my-job {background-position:9px -145px;}
.cont-left h3.my-resume {background-position:9px -215px;}
.cont-left li {font-size:16px;color:#999;line-height:60px;border-bottom:1px solid #eee;cursor:pointer;}
.cont-left li a{color: #999;display:block;padding-left:30px;}
.cont-left li:hover {background:#f5f5f5;}
.cont-left .current {position:relative;}
.cont-left .current a{color:#7cbf59;}
.cont-left .current:before {content:'';position:absolute;right:10px;top:25px;width:10px;height:10px;border-top:2px solid #7cbf59;border-right:2px solid #7cbf59;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
.cont-right .area {padding:15px 20px;background:#fff;}
.area .title {padding-left:10px;font-size:18px;color:#333;height:30px;border-bottom:1px solid #eee;position:relative;}
.area .title:before {content:'';position:absolute;left:0;top:3px;width:0;height:18px;border:1px solid #7cbf59;}
.area .title a {position:absolute;top:0;right:0;font-size:14px;color:#7cbf59;line-height:30px;}
.area .info {font-size:14px;color:#999;background:#fffee5;line-height:20px;padding:10px 20px;margin-top:10px;}
.area .info span {font-size:16px;}
.area .info a {color:#7cbf59;}
/*订阅管理*/
.dingyue {margin-bottom:200px;}
.dingyue li {font-size:14px;color:#999;line-height:40px;margin:30px 20px;}
.dingyue li label {display:inline-block;margin-left:20px;padding-left:90px;color:#333;background:url(../../images/icon/button-icons.png) no-repeat;background-position:-18px -94px;cursor:pointer;}
.dingyue li label.no-accept {background-position:-18px -18px;}
.dygl-pop{padding: 26px 60px;}
.dygl-pop .dygl-title{color: #666; font-size: 16px; text-indent: 60px;}
.dygl-pop .dygl-btn{margin-top: 22px;font-size:0;}
.dygl-pop .dygl-btn span{display:inline-block;vertical-align:top;width:148px;height: 40px;line-height:40px;font-size: 18px;background-color: #7cbf59;text-align:center;margin-right:30px;color:#fff;cursor:pointer;}
.dygl-pop .dygl-btn span.dygl-no{width: 222px;font-size: 14px;color:#999;height:38px;line-height:38px;border: 1px solid #ddd;background-color:#fff;margin-right:0;}
/*修改密码*/
#form-pwd{position:relative;}
.password {margin-bottom:100px;}
.password li {font-size:14px;color:#999;line-height:40px;margin-top:20px;margin-left:150px;}
.password li span {display:inline-block;color:#333;margin-left:15px;}
.password li input {margin-left:15px;width:238px;height:38px;line-height:38px;border:1px solid #ddd;padding-left:10px;outline:none;}
.password li button {border:none;width:250px;line-height:40px;font-size:18px;color:#fff;background:#7cbf59;text-align:center;margin-left:86px;margin-top:10px;}
#OldPassword-error,#NewPassword-error,#ConfirmPassword-error{padding-left: 20px;margin-left: 10px;text-align: left;color: #ff7562;background: url(../../images/icon/login-register.png) 0 2px no-repeat;}
.success-tips{display:none;position:absolute;width:122px;height:40px;bottom: 32px;right: 318px;opacity: 1;background:url(../../images/icon/keys-success-tips.png) 0 0 no-repeat;}
/*第三方帐号绑定*/
.account-info {font-size:18px;color:#999;margin:30px 120px 20px;}
.account-info span {color:#333;}
.account-bind {margin:0 120px 150px 120px;border-top:1px solid #eee;}
.account-bind li {line-height:42px;padding-left:50px;margin-top:30px;}
.account-bind .mobile {background:url(../../images/icon/mobile-logo.png) no-repeat;} 
.account-bind .xinlang {background:url(../../images/icon/xinlang-logo.png) no-repeat;}
.account-bind .qq {background:url(../../images/icon/qq-logo.png) no-repeat;}
.account-bind .webchat {background:url(../../images/icon/webchat-logo.png) no-repeat;}
.account-bind li a {display:inline-block;font-size:18px;color:#666;}
.account-bind .unbind {font-size:18px;color:#333;}
.account-bind .unbind a {color:#7cbf59;margin-left:40px;}
.pop{font-size: 16px;text-align:center;}
.pop .bind-account p{line-height: 2;}
.pop .bind-account p.info{padding: 36px 0 0;color: #333;}
.pop .bind-account a.qws-close{text-decoration:none;margin:14px auto 0;display:block;width: 190px;height:40px;line-height: 40px;color: #999;background-color:#7cbf59;color:#fff;}
.reg-info{overflow:hidden;padding-top:46px;text-align:left}
.reg-info .regBind{margin-left:46px;}
.reg-info p{line-height:40px;height:40px;margin-bottom:20px;color:#999}
.reg-info p label{display:inline-block;vertical-align:top;margin-right:5px;width:100px;text-align:right;color:#333;}
.reg-info input{width:282px;height:38px;line-height:38px\9;border:1px solid #ddd;text-indent:12px;color:#999}
.reg-info input:focus{border-color:#7cbf59;outline:#7cbf59 auto 1px}
#code{width:90px}
#mobileValidateCode{width:188px;}
.sendCode{display:inline-block;vertical-align:top;width:94px;height:40px;line-height:40px;text-align:center}
.sendCode.active{background-color:#7cbf59;color:#fff;cursor:pointer}
.sendCode.inactive{background-color:#f2f2f2;color:#999}
.reg-info p img{width:78px;height:38px;vertical-align:middle;margin:0 8px;max-height:100%;max-width:100%}
.reg-info p a{text-decoration:none;color:#2860a0}
.regBind .done{display:block;background-color:#7cbf59;color:#fff;font-size:16px;text-align:center;width:212px;height:40px;line-height:40px;margin-left:104px;cursor:pointer;border:none}
#code-error,#mobile-error,#mobileValidateCode-error,#password-error{line-height:40px;padding-left:20px;margin-left:10px;text-align:left;color:#ff7562;background:url(../../images/icon/login-register.png) 0 12px no-repeat;font-size:14px;}
/*我的提问、HR消息*/
.my-question {padding-bottom:100px;}
.my-question .title a {color:#333;padding-left:20px;}
.my-question .title a:before {content:'';position:absolute;left:0;top:8px;width:12px;height:12px;border:1px solid #999;}
.my-question .title .ok:after {content:'';position:absolute;left:3px;top:11px;width:8px;height:4px;border-left:1px solid #7cbf59;border-bottom:1px solid #7cbf59;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
.my-question .no-question {padding:200px 0 50px;background:url(../../images/icon/no-question.png) center 100px no-repeat;font-size:24px;color:#333;text-align:center;}
.my-question .no-message {padding:200px 0 50px;background:url(../../images/icon/no-message.png) center 120px no-repeat;font-size:24px;color:#333;text-align:center;}
.my-question .selecter {position:absolute;left:150px;top:15px;color:#333;padding-right:30px;padding-left:10px;line-height:30px;cursor:pointer;z-index:1;}
.my-question .selecter:before {content:'';position:absolute;right:10px;top:7px;width:8px;height:8px;border-bottom:1px solid #999;border-right:1px solid #999;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
.my-question .refresh {position:absolute;left:250px;top:15px;color:#7cbf59;padding-right:10px;padding-left:10px;line-height:30px;cursor:pointer;z-index:1;}
.my-question .selecters {position:absolute;left:150px;top:45px;border:1px solid #eee;background:#fff;z-index:1;}
.my-question .selecters li a{display:block;width:100px;line-height:26px;padding-left:10px;color:#999;cursor:pointer;}
.my-question .selecters li.cur {background:#f9f9f9;}
.my-question .selecters li:hover {background:#f2f2f2;}
.my-question .questions li {margin-top:25px;padding-bottom:30px;border-bottom:1px solid #f2f2f2;}
.my-question .questions li img {float:left;width:50px;height:50px;margin-right:15px;}
.my-question .questions li h3 {float:left;font-size:16px;color:#333;line-height:50px;}
.my-question .questions li span {float:right;color:#7cbf59;line-height:50px;}
.my-question .questions li .time {color:#999;}
.my-question .questions .my-ques {color:#999;line-height:20px;margin-left:65px;margin-top:10px;}
.my-question .questions .my-ques span {line-height:20px;color:#999;}
.my-question .questions .my-ques a {float:right;color:#7cbf59;}
.my-question .questions .hr {color:#2860a0;margin-top:20px;}
.my-question .questions p {color:#222;background:#f5f5f5;padding:10px;margin-left:65px;margin-top:10px;line-height:24px;position:relative;}
.my-question .questions p:before {content:'';position:absolute;left:20px;top:-8px;width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:9px solid #f5f5f5;}
/*我申请的职位*/
.my-applys .selecter {position:absolute;right:100px;top:15px;color:#333;padding-right:30px;padding-left:10px;line-height:30px;cursor:pointer;z-index:1;}
.my-applys .selecter:before {content:'';position:absolute;right:10px;top:7px;width:8px;height:8px;border-bottom:1px solid #999;border-right:1px solid #999;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);}
.my-applys .refresh {position:absolute;right:20px;top:15px;color:#7cbf59;padding-left:10px;line-height:30px;cursor:pointer;z-index:1;}
.my-applys .selecters {position:absolute;right:100px;top:45px;border:1px solid #eee;background:#fff;z-index:1;}
.my-applys .selecters li a{display:block;width:100px;line-height:26px;padding-left:10px;color:#999;}
.my-applys .selecters li.cur {background:#f9f9f9;}
.my-applys .selecters li:hover {background:#f2f2f2;}
.my-list li {padding:20px 80px;position:relative;border-bottom:1px solid #eee;}
.my-list li img {position:absolute;left:0;top:23px;width:63px;height:63px;border:1px solid #eee;}
.my-list li h4 {font-size:18px;color:#7cbf59;line-height:28px;}
.my-list li p {color:#999;line-height:22px;}
.my-list li p span {color:#7cbf59;}
.my-list li .status {position:absolute;right:20px;top:48px;color:#999;line-height:22px;}
.my-list li .status.no {color:#f0564e;}
.my-list li .status.pass {color:#7cbf59;}
.my-list li a.j-name {font-size:18px;color:#333;line-height:28px;}
.my-list li a.j-name:hover {color:#7cbf59;}
/*职位推荐*/
.my-applys .items {position:absolute;right:20px;top:15px;height:30px;z-index:1;}
.my-applys .items label {float:left;color:#333;padding-left:40px;line-height:24px;cursor:pointer;position:relative;}
.my-applys .items label:before {content:'';position:absolute;left:16px;top:3px;width:15px;height:15px;border:1px solid #ccc;border-radius:50%;}
.my-applys .items label.ok:after {content:'';position:absolute;left:20px;top:7px;width:9px;height:9px;background:#999;border-radius:50%;}
.top-bg {float:right;width:780px;height:120px;margin-bottom:10px;position:relative;}
.top-bg.rec-banner {background:url(../../images/background/rec-banner.png) no-repeat;}
.top-bg a {position:absolute;right:50px;top:40px;line-height:38px;padding:0 15px;background:#7cbf59;color:#fff;font-size:18px;border-radius:5px;}
.my-applys .no-invite {padding-top:210px;margin-bottom:100px;font-size:24px;color:#333;text-align:center;background:url(../../images/icon/no-invite.png) center 100px no-repeat;}
.my-applys .no-invite p {font-size:18px;color:#999;margin-top:10px;}
/*HR邀请*/
.hr-invite li {padding:20px 0 20px 80px;}
.hr-invite li h3 {font-size:18px;}
.hr-invite li h3 span {font-size:14px;color:#999;margin-left:10px;}
.hr-invite li h3 .time {float:right;line-height:24px;}
.hr-invite li .invite-job {padding:15px;margin-top:10px;border:1px solid #eee;background:#f5f5f5;position:relative;}
.hr-invite li .invite-job .j-name {display:block;color:#666;line-height:22px;}
.hr-invite li .invite-job .j-info {color:#999;margin-top:10px;}
.hr-invite li .invite-job .accept {position:absolute;right:110px;bottom:10px;line-height:30px;padding:0 10px;background:#7cbf59;color:#fff;}
.hr-invite li .invite-job .no-accept {position:absolute;right:20px;bottom:10px;line-height:28px;padding:0 10px;color:#7cbf59;border:1px solid #7cbf59;}
.apply-back .my-list li {padding:20px 0 20px 80px;}
.apply-back li h4 {color:#333;position:relative;}
.apply-back li h4 .time {position:absolute;right:0;top:0;font-size:12px;color:#999;}
.apply-back li .back-info {padding:5px 15px 10px;background:#f5f5f5;margin-top:10px;position:relative;}
.apply-back li .back-info:before {content:'';position:absolute;left:20px;top:-8px;width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:9px solid #f5f5f5;}
.apply-back li .back-info p {margin-top:5px;}
.apply-back li .back-info p a {color:#2860a0;margin-left:5px;}
/*关注的公司*/
.atte-com .my-list li {padding:20px 0 20px 80px;}
.atte-com li h4 .time {float:right;font-size:14px;color:#999;}
.atte-com li .atte-cont {padding:10px 15px;background:#f5f5f5;margin-top:10px;}
.atte-com li .atte-cont a {color:#7cbf59;}
.atte-com li .atte-cont p {margin-top:10px;}
.atte-com li .atte-cont p span {color:#f60;}
.atte-com li .atte-cont h5 {font-size:14px;color:#333;}
.atte-com li .atte-cont ul {margin-top:10px;}
.atte-com li .atte-cont ul li {float:left;padding:0;margin-right:5px;margin-top:5px;}
.atte-com li .atte-cont ul li img {height:100px;width:auto;position:static;}
.atte-com li .atte-cont label {display:inline-block;padding-left:30px;line-height:30px;color:#999;background:url(../../images/icon/icon-zan.png) 0 2px no-repeat;cursor:pointer;}
/*收藏的职位*/
.my-collect li {position:relative;}
.my-collect li .cancel-collect {position:absolute;right:0;top:40px;line-height:26px;padding:0 10px;border:1px solid #999;color:#999;}
.my-collect li .cancel-collect:hover {border:1px solid #7cbf59;color:#7cbf59;}
.my-collect li .time {position:absolute;right:0;top:75px;font-size:12px;color:#999;}
.my-collect li p a {color:#999;}
/*在线简历*/
.top-apply {background:#f9f7e3;padding:10px 0;}
.top-apply .top-job {width:1000px;height:54px;margin:0 auto;}
.top-apply .top-job .part-1 {float:left;padding:5px 15px;margin-right:25px;line-height:21px;border:1px solid #e3deac;color:#333;background:#f5f2d7;position:relative;}
.top-apply .top-job .part-1:before {content:'';position:absolute;right:-11px;top:20px;width:0;height:0;border-top:6px solid transparent;border-bottom:6px solid transparent;border-left:10px solid #e3deac;}
.top-apply .top-job .part-1:after {content:'';position:absolute;right:-10px;top:20px;width:0;height:0;border-top:6px solid transparent;border-bottom:6px solid transparent;border-left:10px solid #f5f2d7;}
.top-apply .top-job img {float:left;width:54px;height:54px;margin-right:10px;}
.top-apply .top-job .part-2 {float:left;}
.top-apply .top-job .part-2 p {color:#999;line-height:24px;}
.top-apply .top-job .part-2 .c333 {color:#333;line-height:30px;}
.top-apply .top-job .part-3 {float:right;line-height:54px;color:#999;}
.top-apply .top-job .part-3 span {display:inline-block;color:#fff;font-size:12px;width:50px;height:54px;text-align:center;line-height:35px;background:url(../../images/icon/resume-icon.png) center center no-repeat;position:relative;top:-10px;}
.top-apply .top-job .part-3 label {background:#ddd;color:#fff;font-size:16px;padding:5px 15px;margin-left:5px;border-radius:3px;}
.top-resume {float:right;width:740px;background:#fff;padding:10px 20px;}
.top-resume .fl label {display:inline-block;line-height:24px;padding-left:20px;margin-right:10px;cursor:pointer;position:relative;}
.top-resume .fl label:before {content:'';position:absolute;left:0;top:4px;width:14px;height:14px;border:1px solid #666;border-radius:50%;}
.top-resume .fl label.cur:after {content:'';position:absolute;left:4px;top:8px;width:8px;height:8px;border-radius:50%;background:#666;}
.top-resume .fr a {display:inline-block;line-height:24px;color:#999;margin-left:20px;}
.top-resume .fr a.cur {color:#7cbf59}
.top-resume .fr .pRel:before {content:'';position:absolute;right:-13px;top:5px;width:0;height:15px;border-left:1px solid #ddd;}
.ol-resume {margin-top:15px;}
.ol-resume .title a {padding:0 10px 0 25px;color:#fff;border-radius:3px;line-height:28px;top:-6px;background:url(../../images/icon/add-edit-icon.png) #7cbf59 no-repeat;}
.ol-resume .title .edit {background-position:-15px -68px;}
.ol-resume .title .add {background-position:-15px -13px;}
.ol-resume .r-basic .head-img {position:absolute;left:0;top:0;width:180px;}
.ol-resume .r-basic .head-img img {width:98px;height:98px;border:2px solid #ddd;border-radius:50%;margin:20px 40px 5px;}
.ol-resume .r-basic .head-img a {display:block;text-align:center;color:#7cbf59;}
.ol-resume .r-basic .basic-info {padding:20px 0 0 190px;}
.ol-resume .r-basic .basic-info p {font-size:18px;color:#333;height:36px;}
.ol-resume .r-basic .basic-info label {float:left;line-height:30px;color:#999;width:270px;}
.ol-resume .r-basic .basic-info span {color:#333;}
.ol-resume .resume-item li {margin:0 30px;padding:15px 0 10px;line-height:24px;border-bottom:1px dashed #ddd;cursor:pointer;position:relative;}
.ol-resume .resume-item li:last-child {border:none;}
.ol-resume .resume-item .left {float:left;width:150px;color:#999;}
.ol-resume .resume-item .right {margin-left:150px;}
.ol-resume .resume-item .right span {color:#333;margin-right:20px;}
.ol-resume .resume-item  p {color:#999;}
.ol-resume .resume-item  p span {color:#333;}
.ol-resume .resume-item .tip {color:#999;margin:0 30px;padding-top:10px;line-height:24px;border-top:1px solid #ddd;}
.ol-resume .resume-item .button {position:absolute;right:0;top:15px;display:none;}
.ol-resume .resume-item li:hover .button {display:block;}
.ol-resume .resume-item .button a {display:inline-block;width:25px;height:25px;border-radius:3px;background:url(../../images/icon/edit-del-icon.png) no-repeat;margin-right:15px;}
.ol-resume .resume-item .button a:hover {background-color:#f5f5f5;}
.ol-resume .resume-item .button .edit {background-position:-15px -71px;}
.ol-resume .resume-item .button .del {background-position:-16px -16px;}
/*简历右侧导航*/
.resume-nav {position:fixed;right:30px;top:150px;width:115px;border-right:2px solid #7cbf59;padding:20px 0;z-index:9;}
.resume-nav .nav-top {position:absolute;right:-25px;top:-30px;width:50px;height:50px;background:url(../../images/icon/resume-icon.png) center center no-repeat;text-align:center;color:#fff;font-size:12px;line-height:32px;}
.resume-nav .nav-bottom {position:absolute;right:-20px;bottom:-25px;width:35px;line-height:35px;border-radius:50%;background:#7cbf59;color:#fff;text-align:center;font-size:12px;}
.resume-nav li {width:90px;line-height:30px;color:#666;background:#fff;padding-left:10px;margin-top:8px;border-radius:3px;position:relative;}
.resume-nav li a {color:#666;}
.resume-nav li:before {content:'';position:absolute;right:-6px;top:11px;width:0;height:0;border-top:4px solid transparent;border-bottom:4px solid transparent;border-left:6px solid #fff;}
.resume-nav li span {color:#7cbf59;font-size:12px;}
.resume-nav li i {position:absolute;right:-24px;top:7px;width:15px;height:15px;border-radius:10px;background:#7cbf59;}
.resume-nav li.ok {background:#7cbf59;}
.resume-nav li.ok a {color:#fff;}
.resume-nav li.ok span {color:#fff;}
.resume-nav li.ok:before {border-left:6px solid #7cbf59;}
.resume-nav li.ok i:before {content:'';position:absolute;left:3px;top:4px;width:8px;height:4px;border-left:1px solid #fff;border-bottom:1px solid #fff;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);}
/*上传头像弹层*/
.cover-layer {position:fixed;left:0;top:0;bottom:0;width:100%;height:100%;background:rgba(0,0,0,.3);z-index:10;}
.upload-img {position:absolute;left:155px;top:85px;width:490px;height:210px;background:url(../../images/background/upload-img.png) no-repeat;z-index:11}
.upload-img label {position:absolute;right:47px;top:21px;width:30px;height:30px;border-radius:50%;cursor:pointer;}
.upload-img label:hover {background:rgba(0,0,0,.1);}
.upload-img a {position:absolute;right:185px;top:145px;line-height:28px;padding:0 10px;background:#7cbf59;color:#fff;border-radius:3px;}
/*预览简历*/
.bg-resume {padding-bottom:50px;background:#f3f6ef;}
.down-button {height:50px;}
.down-button a {float:right;line-height:30px;padding:0 12px;background:#7cbf59;color:#fff;border-radius:3px;margin-right:70px;}
.user-resume {padding-left:50px;margin:0 70px 0 50px;background:#fff;min-height:900px;box-shadow:0 0 5px 1px #eee;position:relative;}
.user-resume .page-side {position:absolute;left:-44px;top:-7px;width:100px;height:900px;background:url(../../images/background/pageside.png) no-repeat;}
.user-resume .user-info {padding-top:45px;}
.user-resume .user-info p {font-size:24px;color:#333;margin-bottom:10px;}
.user-resume .user-info img {position:absolute;right:70px;top:50px;width:138px;height:143px;border:2px solid #ddd;}
.user-resume .user-info div {width:600px;}
.user-resume .user-info label {display:inline-block;width:240px;color:#999;line-height:24px;}
.user-resume .user-info label span {color:#333;}
.user-resume .user-info .email {display:block;padding-left:25px;background:url(../../images/icon/email-mobile-icon.png) -18px -15px no-repeat;}
.user-resume .user-info .mobile {display:block;padding-left:25px;background:url(../../images/icon/email-mobile-icon.png) -18px -70px no-repeat;}
.user-resume .items {padding-right:70px;padding-bottom:50px;}
.user-resume .items li {padding:25px 0 0 85px;margin-top:40px;background:url(../../images/icon/line-icon.png) repeat-x;position:relative;}
.user-resume .items li h3 {position:absolute;left:0;top:-5px;width:85px;background:#fff;font-size:18px;color:#7cbf59;}
.user-resume .items li p {color:#999;line-height:26px;}
.user-resume .items li p label {margin-left:50px;}
.user-resume .items li span {font-size:14px;color:#333;line-height:26px;}
.user-resume .items li .c999 {line-height:26px;}
.user-resume .items li .clearfix {padding-bottom:15px;border-bottom:1px dashed #ddd;margin-top:15px;}
.user-resume .items li .clearfix:last-child {border:none;padding:0;}
.user-resume .items li .c43b41b {font-size:18px;color:#43b41b;}
/*视频简历*/
.video-resume .area {margin-top:15px;}
.video-resume .area:first-child {margin:0;}
.video-resume .video-bg1 {width:100%;height:310px;background:url(../../images/background/video-bg1.png) center 20px no-repeat;}
.video-resume .video-bg1 p {color:#999;text-align:center;line-height:38px;}
.video-resume .video-bg1 p a {color:#7cbf59;}
.video-resume .video-bg1 p .upload {display:inline-block;font-size:18px;background:#7cbf59;color:#fff;padding:0 15px;margin-top:170px;border-radius:3px;}
.video-resume .video-list {padding:20px 24px;}
.video-resume .video-list div {float:left;position:relative;margin:0 10px;cursor:pointer;}
.video-resume .video-list div img {width:210px;height:130px;}
.video-resume .video-list div i {position:absolute;left:50%;top:50%;width:44px;height:44px;margin-left:-22px;margin-top:-22px;background:url(../../images/icon/play-icon.png) center center no-repeat;}
.video-resume .video-list div p {position:absolute;left:0;bottom:0;width:100%;line-height:24px;color:#fff;text-align:center;background:rgba(0,0,0,.5);}
.video-resume .video-intro .fl {width:300px;padding:20px 0;margin-left:40px;}
.video-resume .video-intro .fl:last-child {margin-left:60px;}
.video-resume .video-intro label {display:block;height:120px;background:url(../../images/icon/video-icons.png) no-repeat;}
.video-resume .video-intro .icon-1 {background-position: center -18px;}
.video-resume .video-intro .icon-2 {background-position: center -162px;}
.video-resume .video-intro .icon-3 {background-position: center -306px;}
.video-resume .video-intro .icon-4 {background-position: center -450px;}
.video-resume .video-intro .icon-5 {background-position: center -594px;}
.video-resume .video-intro h3 {font-size:24px;color:#333;text-align:center;}
.video-resume .video-intro p {margin:5px;}
.video-resume .video-webchat-bg {width:100%;height:620px;background:url(../../images/background/webchat-bg.png) center center no-repeat;}
.video-resume .atte-zyb {padding:190px 0 20px;background:url(../../images/icon/webchat-zyb.png) center 20px no-repeat;}
.video-resume .atte-zyb p {font-size:24px;color:#333;text-align:center;}
/*职业理想*/
.job-ideal .ideal-banner {width:100%;height:135px;margin-top:10px;background:url(../../images/background/ideal-banner.png) no-repeat;position:relative;}
.job-ideal .ideal-banner a {position:absolute;right:30px;top:45px;padding:0 10px;line-height:32px;color:#fff;background:#7cbf59;font-size:16px;border-radius:3px;}
.job-ideal ul {margin:10px 80px;}
.job-ideal li {padding:10px 0;line-height:40px;}
.job-ideal li span {float:left;color:#999;width:98px;text-align:right;margin-right:15px;}
.job-ideal li .job-type {display:inline-block;padding:0 15px;line-height:28px;border:1px solid #ddd;color:#999;margin-top:5px;margin-right:10px;cursor:pointer;}
.job-ideal li .job-type.cur {border:1px solid #7cbf59;background:#fffde6;color:#7cbf59;position:relative;}
.job-ideal li .job-type.cur:before {content:'';position:absolute;right:0;bottom:0;width:16px;height:16px;background:url(../../images/icon/sel-ok-icon.png) no-repeat;}
.job-ideal li input {color:#333;border:1px solid #ddd;width:200px;padding:0 30px 0 10px;height:36px;line-height:36px;color:#333;outline:none;}
.job-ideal li .sel-city {background:url(../../images/icon/city-icon.png) 97% center no-repeat;}
.job-ideal li .tags {width:450px;}
.job-ideal li .tags label {display:inline-block;margin-right:6px;border:1px solid #7cbf59;color:#7cbf59;background:#f4fff1;padding:0 10px;line-height:26px;}
.job-ideal li a {display:inline-block;color:#7cbf59;padding-left:20px;margin-left:10px;background:url(../../images/icon/edit-icon.png) 0 center no-repeat;}
.job-ideal .button {width:240px;line-height:40px;text-align:center;background:#7cbf59;color:#fff;font-size:18px;margin-left:194px;margin-bottom:40px;outline:none;}
/*生活相册*/
.pictures .no-pic {font-size:16px;color:#666;padding:80px 60px 150px 300px;background:url(../../images/background/pic-bg.png) 20% 30% no-repeat;}
.pictures .no-pic a {display:inline-block;color:#fff;padding-left:40px;padding-right:15px;line-height:32px;border-radius:3px;margin-top:10px;background:url(../../images/icon/upload-icon.png) 15px center no-repeat #7cbf59;}
.pictures .title a {top:-5px;color:#fff;padding-left:35px;padding-right:10px;line-height:28px;border-radius:3px;background:url(../../images/icon/upload-icon.png) 15px center no-repeat #7cbf59;}
.pictures .pic-list {width:105%;}
.pictures .pic-list li{float:left;width:160px;height:115px;border:1px solid #ddd;padding:5px;margin-top:15px;margin-right:16px;text-align:center;line-height:115px;position:relative;}
.pictures .pic-list li img {max-width:100%;max-height:100%;vertical-align:middle;}
.pictures .pic-list li label {position:absolute;right:5px;top:5px;width:23px;height:25px;background:rgba(0,0,0,.5);border-radius:3px;display:none;cursor:pointer;}
.pictures .pic-list li label:before {content:'';position:absolute;left:0;top:0;width:23px;height:25px;background:url(../../images/icon/pic-del-icon.png) center center no-repeat;}
.pictures .pic-list li:hover {border:1px solid #7cbf59;}
.pictures .pic-list li:hover label {display:block;}
.pictures .pic-list p {line-height:24px;color:#999;margin-top:15px;}

